<html lang="en" >
<head>
	{{ include head }}
	<link rel="stylesheet" type="text/css" href="/assets/plugins/c3/c3.css">
</head>
<body>

	{{ include navbar }}


    <div id="chart"></div>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/assets/plugins/c3/c3.js"></script>
    <script>

	var chart = c3.generate({
	    data: {
	        x: 'x',
	        columns: [
	          ['x', '2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01', '2014-01-01', '2015-01-01'],
	          ['จำนวนที่เรียก', 30, 200, 100, 400, 150, 250],
	          ['แท็กซี่รับงาน', 50, 20, 10, 40, 15, 25],
	          ['ผดส.ตอบรับ', 120, 160, 310, 245, 105, 550],
	          ['ผดส.ปฏิเสธ', 150, 260, 310, 205, 185, 350]
	        ]
	    },
	    axis : {
	        x : {
	            type : 'timeseries',
	            tick: {
	                format: function (x) { return x.getFullYear(); }
	              //format: '%Y' // format string is also available for timeseries data
	            }
	        }
	    }
	});

    </script>

	

</body>
</html>


