<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/preloader/preloader.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/switchery-master/dist/switchery.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/icheck/skins/all.css" />

<link rel="stylesheet" type="text/css" href="/assets/plugins/datatables/1.10.11/media/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/datatables/1.10.11/extensions/Buttons/css/buttons.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/datatables/1.10.11/extensions/Buttons/css/buttons.bootstrap4.min.css" />


<!-- Load c3.css -->
<link href="/assets/plugins/c3/c3.css" rel="stylesheet" type="text/css">