<!-- Java Script -->

<!-- Base Library -->
<script src="/bower_components/material-design-lite/material.min.js"></script>
<script src="/assets/plugins/jquery/jquery-1.12.0.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- Common Script -->
<script src="/assets/plugins/switchery-master/dist/switchery.min.js"></script>
<script src="/assets/plugins/bootstrap-datetimepicker/js/moment-with-locales.js"></script>
<script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/assets/plugins/gritter/js/jquery.gritter.min.js"></script>

<script src="/app/passenger/mapsource.js" type="text/javascript"></script>
<script src="/assets/plugins/Leaflet.MovingMarker/MovingMarker.js"></script>

<script data-main="/assets/javascripts/admin.monitor.main" src="/assets/plugins/requireJS/require.js"></script>