<html lang="en" >
<head>
	{{ include monitor-head }}
</head>
<body>

	{{ include monitor-navbar }}

	<div class="container-fluid app">

		{{ include taxi-filter }}

		<div id="map"></div>
	</div>

	{{ include monitor-scripts }}

</body>
</html>