<html lang="en" >
<head>
	{{ include head }}

	<link rel="stylesheet" type="text/css" href="/assets/plugins/jquery-ui-datepicker/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/admin-report.css" />
</head>
<body>

	{{ include navbar }}

	<div class="container-fluid app">

		<div class="row">

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

				<div class="pull-right daterange g-btn" style="display: none;">
					<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
					<span></span> <b class="caret"></b>
				</div>

				<div class="pull-right" style="display: none;">
					<select id="view-mode-list"></select>
				</div>

				<ul id="reportTableControl" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#JoblistLogTab" aria-controls="JoblistLogTab" role="tab" data-toggle="tab">เรียกแท็กซี่ผ่าน app</a></li>
					<li role="presentation"><a href="#CallcenterLogTab" aria-controls="CallcenterLogTab" role="tab" data-toggle="tab">คอลเซ็นเตอร์</a></li>
					<li role="presentation"><a href="#PsgCallLogTab" aria-controls="PsgCallLogTab" role="tab" data-toggle="tab">โทรหาคนขับ</a></li>
				</ul>
			</div>
		</div>

		<div class="row">

			<div id="sidebar-left" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

				<div class="filter hide">
					<label for="province-list">เลือกจังหวัด</label>
					<select id="province-list" multiple="multiple">
						<option id="province-34" value="34">อุบลราชธานี</option>
						<option id="province-33" value="33">ศรีสะเกษ</option>
						<option id="province-40" value="40">ขอนแก่น</option>
						<option id="province-50" value="50">เชียงใหม่</option>
						<option id="province-10" value="10">กรุงเทพฯ</option>
						<option id="province-30" value="30">นครราชสีมา</option>
						<!-- <option id="province-0" value="0">อื่นๆ</option> -->
					</select>
				</div>

				<div class="filter">
					<label for="garage-list">เลือกอู่แท็กซี่</label>
					<select id="garage-list" multiple="multiple"></select>
				</div>

				<hr>

				<div class="filter submit-wrapper">
					<button type="button" id="submitFilter" class="btn-creative btn-2 btn-2c btn-block"><i class="material-icons">done</i> ยืนยัน</button>
				</div>
			</div>

			<div id="content-right" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

				<div class="pull-right" id="date-range-display-text">
					<h5>ข้อมูลของวันที่</h5>
					<h4></h4>
				</div>

				<!-- Tab panes -->
				<div class="tab-content">

					<div role="tabpanel" class="tab-pane active" id="JoblistLogTab">

						<div class="pull-left">
							<div id="toggle-chart" class="btn-group" data-toggle="buttons">
								<label class="btn btn-primary active" data-toggle="tooltip" data-placement="bottom" title="ระบุช่วงเวลา">
									<input type="checkbox" autocomplete="off" name="daterage" checked><i class="material-icons">slow_motion_video</i>
								</label>
								<label class="btn btn-primary active" data-toggle="tooltip" data-placement="bottom" title="ภาพรวม">
									<input type="checkbox" autocomplete="off" name="highcharts" checked><i class="material-icons">timeline</i>
								</label>
								<label class="btn btn-primary active" data-toggle="tooltip" data-placement="bottom" title="ตารางข้อมูล">
									<input type="checkbox" autocomplete="off" name="datatable" checked><i class="material-icons">view_module</i>
								</label>
							</div>
						</div>

						<div class="app-mobile summary-circle-group">

							<div class="summary circle all">
								<div class="counter orange">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">จำนวนงานทั้งหมด</p>
							</div>

							<div class="summary circle wait">
								<div class="counter blue">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">แท็กซี่รับงาน</p>
							</div>

							<div class="summary circle accept">
								<div class="counter default">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">ผู้โดยสารตอบรับ</p>
							</div>

							<div class="summary circle pick">
								<div class="counter green">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">แท็กซี่รับผู้โดยสาร</p>
							</div>

							<div class="summary circle drop">
								<div class="counter gray">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">แท็กซี่ส่งผู้โดยสาร</p>
							</div>

							<div class="summary circle PSGCancel">
								<div class="counter red">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">ผู้โดยสารยกเลิก</p>
							</div>

							<div class="summary circle DRVCancel">
								<div class="counter green2">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">แท็กซี่ยกเลิก</p>
							</div>
						</div>

						<div id="chart-summary"></div>

						<div id="container-report"></div>

						<div id="joblist-table-container">
							<hr>
							<table id="JoblistLogTable" class="display table-condensed"></table>
						</div>
					</div>					

					<div role="tabpanel" class="tab-pane" id="CallcenterLogTab">

						<div class="callcenter summary-circle-group">

							<div class="summary circle all">
								<div class="counter orange">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">จำนวนงานทั้งหมด</p>
							</div>

							<div class="summary circle unregister">
								<div class="counter green">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">จ่ายให้นอกระบบ</p>
							</div>

							<div class="summary circle registered">
								<div class="counter blue">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">จ่ายให้ในระบบ</p>
							</div>

							<div class="summary circle deleted">
								<div class="counter default">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">งานที่ยกเลิก(ลบทิ้ง)</p>
							</div>
						</div>

						<h3>ภาพรวมทั้งหมด</h3>
						<div id="callcenter-summary"></div>
					</div>

					<div role="tabpanel" class="tab-pane" id="PsgCallLogTab">
						<table id="PsgCallLogTable" class="display"></table>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ include scripts }}

	<!-- Application Script -->
	<script src="/assets/plugins/jquery-ui-datepicker/jquery-ui.min.js"></script>
	<script src="/assets/plugins/highcharts/highstock.js"></script>
	<script src="/assets/plugins/highcharts/themes/sand-signika.js"></script>
	<script src="/assets/javascripts/province.js"></script>
	<script src="/assets/javascripts/admin.report.js"></script>

</body>
</html>