<!-- Java Script -->

<!-- Base Library -->
<script src="/bower_components/material-design-lite/material.min.js"></script>
<script src="/assets/plugins/jquery/jquery-1.12.0.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- Common Script -->
<script src="/bower_components/moment/moment.js"></script>
<script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/assets/plugins/gritter/js/jquery.gritter.min.js"></script>
<script src="/assets/plugins/preloader/preloader.js"></script>
<script src="/assets/plugins/switchery-master/dist/switchery.min.js"></script>
<script src="/assets/plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<script src="/assets/plugins/icheck/icheck.min.js"></script>

<!-- dataTables -->
<script src="/assets/plugins/datatables/1.10.11/media/js/jquery.dataTables.js"></script>
<script src="/assets/plugins/datatables/1.10.11/media/js/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/1.10.11/extensions/KeyTable/js/dataTables.keyTable.min.js"></script>
<script src="/assets/plugins/datatables/1.10.11/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<!-- dataTables -->


<!-- Load d3.js and c3.js -->
<script src="/assets/plugins/d3/d3.min.js" charset="utf-8"></script>
<script src="/assets/plugins/c3/c3.min.js"></script>