<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Job</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/switchery-master/dist/switchery.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />

	<link rel="stylesheet" type="text/css" href="/stylesheets/callcenter.css" />
</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
<div class="container">

	<div class="row">
		<form id="createTaskForm">
			<div class="col-md-12 col-lg-12">
				<div class="pull-left">
					<h3 class="modal-title"><i class="fa fa-plus-square-o"></i> เพิ่มงานใหม่</h3>
				</div>
				<div class="pull-right">
					<div class="js-switch-wrap">
						<span class="text">จองแบบปกติ</span>
						<input type="checkbox" class="js-switch" id="jobType" />
						<span class="text">จองล่วงหน้า</span>
					</div>
				</div>
				<div class="clearfix"></div>
				<hr>
			</div>

			<div class="col-md-6 col-lg-6">
				<div class="form-left-wrap">
					<div class="row">
						<div class="col-md-7 col-lg-7">
							<div class="form-group">
								<label for="pass-phone-inp">เบอร์โทร</label>
								<input value="" class="form-control" id="pass-autophone-inp" name="autophone" autocomplete="off" minlength="9" maxlength="10" type="hidden">
								<input value="" class="form-control" id="pass-phone-inp" name="phone" autocomplete="off" minlength="9" maxlength="10">
							</div>
						</div>
						<div class="col-md-5 col-lg-5">
							<div class="form-group">

								<label for="customer-province-list">จังหวัด</label>
									<select id="customer-province-list" class="form-control">
										<option value="ubonratchathani" data-loc="15.24519, 104.84691">อุบลราชธานี</option>
										<option value="bangkok" data-loc="13.751878, 100.522167">กรุงเทพมหานคร</option>
										<option value="khonkaen" data-loc="16.439976, 102.829271">ขอนแก่น</option>
										<option value="chiangrai" data-loc="19.53016,99.771516">เชียงราย</option>
										<option value="suratthani" data-loc="9.14347,99.335434">สุราษฏร์ธานี</option>
										<option value="phuket" data-loc="7.875964,98.373828">ภูเก็ต</option>
										<option value="nakhonratchasima" data-loc="14.97472, 102.09183">นครราชสีมา</option>
										<option value="srisaket" data-loc="15.11638, 104.31834">ศรีสะเกษ</option>
										<option value="roiet" data-loc="16.05439, 103.65326">ร้อยเอ็ด</option>
									</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="pass-from-inp">ตำแหน่งไปรับ</label> {{ if(garage && garage.broadcast) { }}
								<div class="input-group">
									<input type="text" class="form-control" id="pass-from-inp" name="current" autocomplete="off" placeholder="เริ่มพิมพ์เพื่อค้นหา">
									<span class="input-group-btn">
															<button id="pickUpPOIBtn" class="btn btn-default" type="button" onclick="Modal.pickUpPOIModal.open();"><i class="material-icons">&#xE55E;</i></button>
														</span>
								</div>
								{{ } else { }}
								<input type="text" class="form-control" id="pass-from-inp" name="current" autocomplete="off" placeholder="เริ่มพิมพ์เพื่อค้นหา">								{{ } }}
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="form-group">
								<label for="pass-dest-inp">จุดหมาย</label>
								<input type="text" class="form-control" id="pass-dest-inp" name="destination" autocomplete="off" placeholder="เริ่มพิมพ์เพื่อค้นหา">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<label for="taxiAmount">จำนวน/คัน</label>
								<input type="text" class="form-control" id="taxiAmount" name="taxiAmount" autocomplete="off" minlength="1" maxlength="2"
								 value="1">
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<label for="ccstation">เลขเครื่อง/ลำดับ</label>
								<input type="text" class="form-control" id="ccstation" name="ccstation" autocomplete="off" minlength="1" maxlength="8" value="1">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-5 col-lg-5 col-md-offset-1">
				<div class="datetime-overlay"></div>
				<div id="createdjob"></div>
			</div>

			<div class="col-md-12 col-lg-12">
				<div class="form-group">
					<label for="pass-desc-txt">รายละเอียดการไปรับ</label>
					<textarea class="form-control" row="7" id="pass-desc-txt"></textarea>
				</div>
			</div>

			<div class="col-md-6 col-lg-6 text-right">
				<button id="saveBtn" type="button" class="btn btn-lg btn-success">บันทึก autocall</button>
			</div>

			<div class="col-md-6 col-lg-6 text-left">
				<button id="cancelBtn" type="button" class="btn btn-lg btn-danger">ปิด</button>
			</div>
		</form>
	</div>

	<table id="historyTable" class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>วัน/เวลา</th>
				<th>เมื่อ</th>
				<th>comment</th>
				<th>จุดรับ</th>
				<th>ที่หมาย</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>



<div id="pickUpPOIModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div id="pickupPOIpanel" class="col-md-3">

							<div class="detail-wrap">

								<h3 class="title">รายละเอียด</h3>
								<hr>

								<div class="value-set">
									<p class="caption">ตำแหน่งไปรับ</p>
									<a class="text current-address">-</a>
								</div>

								<div class="value-set">
									<p class="caption">ละติจุด, ลองจิจุด</p>
									<input type="text" class="form-control current-lat-lng" disabled="disabled" />
									<p class="caption formatted_address"></p>
								</div>

								<div class="value-set">
									<p class="caption">รายละเอียดการไปรับ</p>
									<textarea id="pass-desc-txt" class="form-control" rows="4" placeholder="ระบุรายละเอียดการไปรับ"></textarea>
								</div>

								<button id="confirm" type="button" class="btn btn-block btn-lg">ตกลง</button>
							</div>
					</div>
					<div id="searchPOImapWrapper" class="col-md-9">
						<input id="pac-input" class="controls" type="text" placeholder="ค้นหาตำแหน่ง">
						<div id="pickUpPOIMap"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://code.jquery.com/jquery-2.2.4.js"
		integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
		crossorigin="anonymous"></script>
<!-- Java Script -->
<!-- Ekapop key -->
<!-- AIzaSyBzZ1bfEUWnbj7unU27eslfdRq6AmQAzws -->
<!-- Ecart key -->
<!-- AIzaSyBYN5ZU5Pd7kVe1oZbtSFIi9z52wBLH-_Q -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYN5ZU5Pd7kVe1oZbtSFIi9z52wBLH-_Q&libraries=places&language=th" async defer></script>
	<script src="/bower_components/material-design-lite/material.min.js"></script>
	
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="/assets/plugins/switchery-master/dist/switchery.min.js"></script>
	<script src="/assets/plugins/devbridge-autocomplete/new/jquery.autocomplete.min.js"></script>
	<script src="/assets/plugins/bootstrap-datetimepicker/js/moment-with-locales.js"></script>
	<script src="/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script src="/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="/assets/plugins/gritter/js/jquery.gritter.min.js"></script>

	<script src="/assets/plugins/preloader/preloader.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<!-- APP SCRIPT -->
	<script type="text/javascript">
		var USER_CURRENT_LOCATION = JSON.parse("[{{= usercurloc }}]").reverse();
		var USER_DATA = {
			_id: "{{= user_data._id }}",
			name: "{{= user_data.name }}",
			email: "{{= user_data.email }}",
			group: "{{= user_data.group }}",
			username: "{{= user_data.username }}",
			groupNameTH: "{{= user_data.groupNameTH }}",
			provinceTH: "{{= user_data.provinceTH }}",
			provinceEN: "{{= user_data.provinceEN }}",
		};
		
		USER_DATA.broadcast = "{{= garage.broadcast }}";
		
		var GARAGE_DATA = {
			broadcast: "{{= garage.broadcast }}",
			searchpsgradian: "{{= garage.searchpsgradian }}",
			searchpsgamount: "{{= garage.searchpsgamount  }}",
		};

		USER_DATA.provinceEN = USER_DATA.provinceEN.split(",");
		
		
		var QueryString = function () {
		// This function is anonymous, is executed immediately and 
		// the return value is assigned to QueryString!
		
		var query_string = {};
		var query = window.location.search.substring(1);
		var vars = query.split("&");
		for (var i=0;i<vars.length;i++) {
			var pair = vars[i].split("=");
				// If first entry with this name
			if (typeof query_string[pair[0]] === "undefined") {
			query_string[pair[0]] = decodeURIComponent(pair[1]);
				// If second entry with this name
			} else if (typeof query_string[pair[0]] === "string") {
			var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
			query_string[pair[0]] = arr;
				// If third or later entry with this name
			} else {
			query_string[pair[0]].push(decodeURIComponent(pair[1]));
			}
		} 
		return query_string;
		}();


		$(document).ready(function() {
			$("#pass-from-inp").focus();
			$('#pass-phone-inp').val(QueryString.call);
			$('#pass-autophone-inp').val(QueryString.call);
			$('#ccstation').val(QueryString.ccstation);
			// $('#pass-phone-inp').val(Qstr.call)

			////////
			$('#pass-from-inp').bind("enterKey",function(e){
			$("#pass-dest-inp").focus();
			});

			$('#pass-from-inp').keyup(function(e){
				if(e.keyCode == 13)
				{
					$(this).trigger("enterKey");
				}
			});

			//////////
			$('#pass-dest-inp').bind("enterKey",function(e){
			$("#pass-desc-txt").focus();
			});
			$('#pass-dest-inp').keyup(function(e){
				if(e.keyCode == 13)
				{   $(this).trigger("enterKey");    }
			});

			//////////
			$('#pass-desc-txt').bind("tabKey",function(e){
			$("#taxiAmount").focus();
			});
			$('#pass-desc-txt').keyup(function(e){
				if(e.keyCode == 9)
				{ $(this).trigger("tabKey");    }
			});

			$('#saveBtn').bind("click",function(e){
				//var data = JSON.stringify($("#createTaskForm").serializeArray()) ;
				data = $("#createTaskForm").serializeArray()
				console.log(data) ;
				submitForm(data) ;
				close_window() ;
			});

		}); 

		function close_window() {
			window.open('location','_self',''); 
			window.close(); 
		}

		function getSearchParams(k){
			var p={};
			location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){p[k]=v})
			return k?p[k]:p;
		}

		$(function() {
			$("#customer-province-list").val(getSearchParams("pv"));
		});
	</script>

	<script src="/assets/plugins/leaflet/v1.0.1/leaflet.js"></script>
	<script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
	
	<script src="/assets/javascripts/autocall.js"></script>
</body>

</html>