<!doctype html> <!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="app_my_theme"> <!--<![endif]-->

<head>
	{{ include ccadmin/meta }}

	<title>จัดการแท็กซี่ - CC-ADMIN</title>

	{{ include ccadmin/stylesheet }}

	<!-- themes -->
	<link rel="stylesheet" href="assets/theme/altair/css/themes/themes_combined.min.css" media="all">
</head>
<body class="sidebar_main_open sidebar_main_swipe">

	{{ include ccadmin/header_main }}

	{{ include ccadmin/main_side }}

	<div id="page_content">
		<div id="page_content_inner">
			<h3 class="heading_b uk-margin-bottom">ทะเบียนคนขับแท็กซี่</h3>
			<div class="md-card uk-margin-medium-bottom">
				<div class="md-card-content">
					<div class="dt_colVis_buttons"></div>
					<div class="dt_colVis_buttons"></div>
					<table id="driver-datatable" class="uk-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th rowspan="2">#</th>
								<th colspan="7">รายการคนขับรถ</th>
							</tr>
							<tr>
								<th>ชื่อคนขับรถ</th>
								<th>เลขทะเบียน</th>
								<th>สีรถ</th>
								<th>เบอร์โทรศัพท์</th>
								<th>วันที่สร้าง</th>
								<th>Active</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="md-fab-wrapper">
		<a class="md-fab md-fab-success md-fab-wave-light waves-effect waves-button waves-light" href="javascript:void(0)" data-uk-modal="{target:'#add_driver_modal'}"><i class="material-icons">&#xE145;</i></a>
	</div>

	<div class="uk-modal" id="add_driver_modal">
		<div class="uk-modal-dialog uk-modal-dialog-large">
			<a class="uk-modal-close uk-close"></a>
			<div class="uk-modal-header">
				<h3 class="uk-modal-title">เพิ่มคนขับ <i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip">&#xE87C;</i></h3>
			</div>
			
			<form class="uk-form-stacked" id="add_driver_form" onsubmit="addDriverFormOnSumit(this, event); return false;">
				<div class="uk-grid" data-uk-grid-margin>
					<div class="uk-width-medium-1-2">
						<h3 class="heading_a uk-margin-medium-bottom">ข้อมูล Login</h3>
						<div class="uk-form-row">
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row citizen-id-validate">
										<label>หมายเลขบัตรประชาชน <span class="uk-text-danger">*</span></label>
										<input 
											type="text" 
											name="citizenid" 
											class="md-input label-fixed" 
											maxlength="13"
											placeholder="ระบุเฉพาะตัวเลข"
											data-parsley-required
											data-parsley-minlength="13" 
											data-parsley-maxlength="13"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>Username <span class="uk-text-danger">*</span></label>
										<input 
											type="text" 
											name="username" 
											class="md-input label-fixed" 
											autocomplete="off" 
											maxlength="32"
											data-parsley-required
											placeholder="ระบุเป็นภาษาอังกฤษหรือตัวเลข"
											data-parsley-pattern="^[a-zA-Z0-9+]{6,32}$"
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											data-parsley-pattern-message="กรุณาระบุข้อมูลให้ถูกต้อง a-z หรือ A-Z หรือ 0-9 จำนวน 6-32 ตัวอักษร" />
									</div>
								</div>
							</div>
						</div>
						<div class="uk-form-row">
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row uk-form-password">
										<label>Password <span class="uk-text-danger">*</span></label>
										<a href="" class="uk-form-password-toggle" data-uk-form-password>Show</a>
										<input 
											type="password" 
											name="password" 
											id="add_form_password"
											class="md-input label-fixed" 
											autocomplete="off" 
											maxlength="32"
											data-parsley-required
											placeholder="ระบุอย่างน้อย 6 หลัก"
											data-parsley-pattern="^[a-zA-Z0-9+]{6,32}$"
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											data-parsley-pattern-message="กรุณาระบุข้อมูลให้ถูกต้อง a-z หรือ A-Z หรือ 0-9 จำนวน 6-32 ตัวอักษร" />
									</div>
								</div>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>Confirm Password <span class="uk-text-danger">*</span></label>
										<input 
											type="password" 
											class="md-input label-fixed" 
											autocomplete="off"
											maxlength="32"
											data-parsley-required
											placeholder="ระบุอย่างน้อย 6 หลัก"
											data-parsley-equalto="#add_form_password" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											data-parsley-equalto-message="รหัสผ่านไม่ตรงกัน" />
									</div>
								</div>
							</div>
						</div>
						<div class="uk-form-row">
						<h3 class="heading_a uk-margin-medium-bottom">ข้อมูลทั่วไป</h3>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-2-6">
									<label>เพศ</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="gender">
										<option value="" disabled selected hidden>เลือกเพศ</option>
										<option value="ชาย">ชาย</option>
										<option value="หญิง">หญิง</option>
									</select>
								</div>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>ชื่อ <span class="uk-text-danger">*</span></label>
										<input 
											type="text" 
											name="fname"
											class="md-input label-fixed"
											maxlength="50" 
											data-parsley-required
											data-parsley-minlength="2" 
											data-parsley-maxlength="50" 
											data-parsley-minlength-message="ระบุอย่างน้อย 2 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 50 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>นามสกุล <span class="uk-text-danger">*</span></label>
										<input 
											type="text" 
											name="lname"
											class="md-input label-fixed" 
											maxlength="50"
											data-parsley-required
											data-parsley-minlength="2" 
											data-parsley-maxlength="50" 
											data-parsley-minlength-message="ระบุอย่างน้อย 2 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 50 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>วันเกิด (05/10/1980) <span class="uk-text-danger">*</span></label>
										<input 
											type="text"
											name="dob" 
											class="md-input label-fixed"
											data-uk-datepicker="{format:'DD/MM/YYYY', i18n:{ months:['มกราคม','กุมภาพันธ์','มีนาคม','เมษายน','พฤษภาคม','มิถุนายน','กรกฎาคม','สิงหาคม','กันยายน','ตุลาคม','พฤศจิกายน','ธันวาคม'], weekdays:['อา.','จ.','อ.','พ.','พฤ.','ศ.','ส.']}}" 
											maxlength="10"
											data-parsley-required
											data-parsley-minlength="10" 
											data-parsley-maxlength="10"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>เบอร์มือถือ <span class="uk-text-danger">*</span></label>
										<input 
											type="text" 
											name="phone"
											class="md-input label-fixed" 
											maxlength="10"
											placeholder="ระบุเฉพาะตัวเลข"
											data-parsley-required
											data-parsley-minlength="10" 
											data-parsley-maxlength="10" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้องระบุข้อ" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้องระบุข้อ"
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>เบอร์ฉุกเฉิน <span class="uk-text-danger">*</span></label>
										<input 
											type="text" 
											name="emergencyphone" 
											class="md-input label-fixed" 
											maxlength="10"
											data-parsley-required
											data-parsley-minlength="9" 
											data-parsley-maxlength="10"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<label>ที่อยู่ <span class="uk-text-danger">*</span></label>
										<input 
											type="text" 
											name="address"
											class="md-input label-fixed"
											maxlength="100"
											data-parsley-required
											data-parsley-minlength="2" 
											data-parsley-maxlength="100" 
											data-parsley-minlength-message="ระบุอย่างน้อย 2 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 100 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<label>จังหวัด</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="province">
										<option value="0" selected>เลือกจังหวัด</option>
									</select>
								</div>
								<div class="uk-width-medium-1-2">
									<label>อำเภอ</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="district">
										<option value="0" selected>เลือกอำเภอ</option>
									</select>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<label>ตำบล</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="tambon">
										<option value="0" selected>เลือกตำบล</option>
									</select>
								</div>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>รหัสไปรษณีย์ <span class="uk-text-danger">*</span></label>
										<input 
											type="text" 
											name="zipcode" 
											class="md-input label-fixed" 
											maxlength="5"
											data-parsley-required
											data-parsley-minlength="5" 
											data-parsley-maxlength="5" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="uk-width-medium-1-2">
						<div class="uk-form-row">
							<h3 class="heading_a uk-margin-medium-bottom">ข้อมูลรถ</h3>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-6">
									<div class="parsley-row">
										<label>ทะเบียน <span class="uk-text-danger">*</span></label>
										<input 
											type="text" 
											name="prefixcarplate"
											class="md-input label-fixed"
											placeholder="1กท" 
											data-parsley-required
											maxlength="3"
											data-parsley-minlength="1" 
											data-parsley-maxlength="3" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>ทะเบียน <span class="uk-text-danger">*</span></label>
										<input 
											type="text" 
											name="carplate"
											class="md-input label-fixed" 
											placeholder="2560" 
											maxlength="4"
											data-parsley-required
											data-parsley-minlength="1" 
											data-parsley-maxlength="4" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
								<div class="uk-width-medium-3-6">
									<label>ทะเบียนจังหวัด</label>
									<select 
										data-md-selectize 
										data-md-selectize-bottom 
										class="md-input label-fixed" 
										name="carprovince">
											<option value="0" selected>เลือกจังหวัด</option>
									</select>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>เลขประจำตัวผู้ขับรถแท็กซี่ <span class="uk-text-danger">*</span></label>
										<input 
											type="text" 
											name="taxiID"
											class="md-input label-fixed" 
											maxlength="6"
											data-parsley-required
											data-parsley-minlength="3" 
											data-parsley-maxlength="6" 
											data-parsley-minlength-message="ระบุอย่างน้อย 3 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 6 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-6">
									<label>สีรถ</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="carcolor">
										<option value>เลือกสี</option>
										<option value="น้ำเงิน">น้ำเงิน</option>
										<option value="เขียว">เขียว</option>
										<option value="ส้ม">ส้ม</option>
										<option value="ชมพู">ชมพู</option>
										<option value="ชมพู-เทา">ชมพู-เทา</option>
										<option value="แดง">แดง</option>
										<option value="แดง-น้ำเงิน">แดง-น้ำเงิน</option>
										<option value="แดง-เทา">แดง-เทา</option>
										<option value="ม่วง">ม่วง</option>
										<option value="เหลือง">เหลือง</option>
										<option value="เหลือง-น้ำเงิน">เหลือง-น้ำเงิน</option>
										<option value="เหลือง-เขียว">เหลือง-เขียว</option>
										<option value="เหลือง-แดง">เหลือง-แดง</option>
									</select>
								</div>
								<div class="uk-width-medium-2-6">
									<label>ประเภทรถ</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="cartype">
										<option value>เลือกประเภทรถ</option>
										<option select value="car">รถทั่วไป</option>
										<option value="minivan">รถตู้ขนาดเล็ก(Minivan)</option>
									</select>
								</div>
							</div>
						</div>
						<div class="uk-form-row">
							<h3 class="heading_a uk-margin-medium-bottom">อื่นๆ</h3>
							<div class="uk-grid uk-grid-small" data-uk-grid-margin>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" id="allowpsgcontact" data-md-icheck name="allowpsgcontact" />
									<label for="allowpsgcontact" class="inline-label">แสดงเบอร์โทรศัพท์ให้ผู้โดยสารติดต่อ</label>
								</p>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" id="outbound" data-md-icheck name="outbound" />
									<label for="outbound" class="inline-label">รับเหมางานต่างจังหวัด</label>
								</p>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" name="carryon" id="carryon" data-md-icheck />
									<label for="carryon" class="inline-label">รับส่งของ</label>
								</p>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" name="english" id="english" data-md-icheck />
									<label for="english" class="inline-label">พูดภาษาอังกฤษได้</label>
								</p>
							</div>
						</div>
						<div class="uk-form-row">
							<h3 class="heading_a uk-margin-medium-bottom">ภาพถ่าย</h3>
							<div class="uk-grid uk-grid-small" data-uk-grid-margin>
								<div class="uk-width-1-3">
									<div class="md-card image-card">
										<div class="md-card-content">
											<h4 class="uk-margin-small-bottom">
												รูปคนขับ <span class="uk-text-danger">*</span>
											</h4>
											<input type="file" id="imgface" name="imgface" class="dropify" />
										</div>
									</div>
								</div>
								<div class="uk-width-1-3">
									<div class="md-card image-card">
										<div class="md-card-content">
											<h4 class="uk-margin-small-bottom">
												รูปรถ <span class="uk-text-danger">*</span>
											</h4>
											<input type="file" id="imgcar" name="imgcar" class="dropify" />
										</div>
									</div>
								</div>
								<div class="uk-width-1-3">
									<div class="md-card image-card">
										<div class="md-card-content">
											<h4 class="uk-margin-small-bottom">
												รูปบัตรติดหน้ารถ <span class="uk-text-danger">*</span>
											</h4>
											<input type="file" id="imglicence" name="imglicence" class="dropify" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

			<span class="uk-text-danger require-describe">*จำเป็นต้องใส่ข้อมูล</span>

			<div class="uk-modal-footer uk-text-right">
				<button type="submit" class="md-btn md-btn-success" onclick="$('#add_driver_form').submit();"><i class="material-icons">&#xE161;</i> บันทึก</button>
				<button type="button" class="md-btn md-btn-default" onclick="clearAddFormDisplayValue();">ล้างข้อมูล</button>
				<button type="button" class="md-btn md-btn-flat uk-modal-close">ปิดหน้าต่าง</button>
			</div>
		</div>
	</div>

	<div class="uk-modal" id="view_driver_modal">
		<div class="uk-modal-dialog uk-modal-dialog-large">
			<a class="uk-modal-close uk-close"></a>

			<div class="uk-modal-header">
				<h3 class="uk-modal-title"></h3>
			</div>

			<hr class="uk-grid-divider">

			<ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim3', animation:'slide-vertical'}">
				<li class="uk-active"><a href="#">ข้อมูล</a></li>
				<li><a href="#">ประวัติ</a></li>
				<li><a href="#">ติดตาม</a></li>
				<li><a href="#">ข้อมูลรอบ</a></li>
			</ul>
			<ul id="tabs_anim3" class="uk-switcher uk-margin">
				<li>
					<div class="md-card">
						<div class="md-card-content large-padding">
							<div class="uk-grid uk-grid-divider uk-grid-medium">
								<div class="uk-width-large-1-2">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">ชื่อ-สกุล</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-fullname data-field>
										</div>
									</div>
									<hr class="uk-grid-divider">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">เบอร์โทรศัพท์มือถือ</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-phone data-field>
										</div>
									</div>
									<hr class="uk-grid-divider">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">เลขทะเบียน</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-carplate data-field>
										</div>
									</div>
									<hr class="uk-grid-divider">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">เลขประจำตัวผู้ขับรถแท็กซี่</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-taxi-id data-field></div>
									</div>
									<hr class="uk-grid-divider">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">เลขบัตรประจำตัวประชาชน</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-citizenid data-field></div>
									</div>
									<hr class="uk-grid-divider uk-hidden-large">
								</div>
								<div class="uk-width-large-1-2">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">Username</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-username data-field>
										</div>
									</div>
									<hr class="uk-grid-divider">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">ที่อยู่</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-fulladdress data-field>
										</div>
									</div>
									<hr class="uk-grid-divider">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">สีรถ</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-carcolor data-field></div>
									</div>
									<hr class="uk-grid-divider">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">ประเภทรถ</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-cartype data-field></div>
									</div>
									<hr class="uk-grid-divider">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">สร้างเมื่อ</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-created data-field></div>
									</div>
									<hr class="uk-grid-divider uk-hidden-large">
								</div>
							</div>
						</div>
					</div>
					<div class="md-card">
						<div class="md-card-toolbar">
							<h3 class="md-card-toolbar-heading-text">
								ภาพถ่าย
							</h3>
						</div>
						<div class="md-card-content">
							<div class="uk-grid uk-grid-divider uk-grid-medium">
								<div class="uk-width-large-1-3">
									<a href="assets/theme/altair/img/ecommerce/s6_edge.jpg" class="fancybox" title="">
										<img src="assets/theme/altair/img/ecommerce/s6_edge.jpg" data-driver-imgface alt="" class="img_medium" />
									</a>
								</div>
								<div class="uk-width-large-1-3">
									<a href="assets/theme/altair/img/ecommerce/s6_edge.jpg" class="fancybox" title="">
										<img src="assets/theme/altair/img/ecommerce/s6_edge.jpg" data-driver-imgcar alt="" class="img_medium" />
									</a>
								</div>
								<div class="uk-width-large-1-3">
									<a href="assets/theme/altair/img/ecommerce/s6_edge.jpg" class="fancybox" title="">
										<img src="assets/theme/altair/img/ecommerce/s6_edge.jpg" data-driver-imglicence alt="" class="img_medium" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="md-card">
						<div class="md-card-content large-padding">
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-2-10">
									<span class="uk-display-block uk-margin-small-top uk-text-large">Colors</span>
								</div>
								<div class="uk-width-medium-8-10">
									<table class="uk-table">
										<thead>
											<tr>
												<th class="uk-width-4-10">Color</th>
												<th class="uk-width-3-10">In stock</th>
												<th class="uk-width-3-10 uk-text-right">Price</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Black</td>
												<td><i class="material-icons uk-text-success md-24">&#xE5CA;</i></td>
												<td class="uk-text-right">$0.00</td>
											</tr>
											<tr>
												<td>White</td>
												<td></td>
												<td class="uk-text-right">+ $25.00</td>
											</tr>
											<tr>
												<td>Red</td>
												<td><i class="material-icons uk-text-success md-24">&#xE5CA;</i></td>
												<td class="uk-text-right">- $10.00</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-2-10">
									<span class="uk-display-block uk-margin-small-top uk-text-large">Internal memory</span>
								</div>
								<div class="uk-width-medium-8-10">
									<table class="uk-table">
										<thead>
											<tr>
												<th class="uk-width-4-10">Memory</th>
												<th>In stock</th>
												<th class="uk-width-3-10 uk-text-right">Price</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>32GB</td>
												<td></td>
												<td class="uk-text-right">- $50.00</td>
											</tr>
											<tr>
												<td>64GB</td>
												<td><i class="material-icons uk-text-success md-24">&#xE5CA;</i></td>
												<td class="uk-text-right">$0.00</td>
											</tr>
											<tr>
												<td>128BG</td>
												<td><i class="material-icons uk-text-success md-24">&#xE5CA;</i></td>
												<td class="uk-text-right">+ $80.00</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><div id="map_search" class="gmap"></div></li>

				<li>
					<div class="md-card">
						<div class="md-card-content large-padding">
							<div class="uk-grid uk-grid-divider uk-grid-medium">
								<div class="uk-width-large-1-2">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">จำนวนเงินในกระเป๋า (บาท)</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-drv_wallet data-field>
										</div>
									</div>								
									<hr class="uk-grid-divider">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">จำนวนรอบที่ยังเหลืออยู่</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-drv_shift data-field>
										</div>
									</div>								
									<hr class="uk-grid-divider">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">รอบปัจจุบันเริ่มเมื่อ</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-shift_start data-field>
										</div>
									</div>								
									<hr class="uk-grid-divider">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">รอบปัจจุบันหมดอายุเมื่อ</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-shift_end data-field>
										</div>
									</div>								
									<hr class="uk-grid-divider">																										
								</div>
								<div class="uk-width-large-1-2">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-large-1-3">
											<span class="uk-text-muted uk-text-small">แต้มของคนขับ</span>
										</div>
										<div class="uk-width-large-2-3" data-driver-drv_point data-field>
										</div>
									</div>
									<hr class="uk-grid-divider">
								</div>
							</div>
						</div>
					</div>
				</li>	

			</ul>

			<div class="uk-modal-footer uk-text-right">
				<button type="button" class="md-btn md-btn-flat uk-modal-close">ปิด</button>
			</div>
		</div>
	</div>

	<div class="uk-modal" id="edit_driver_modal">
		<div class="uk-modal-dialog uk-modal-dialog-large">
			<a class="uk-modal-close uk-close"></a>
			<div class="uk-modal-header">
				<h3 class="uk-modal-title"></h3>
			</div>
			
			<form class="uk-form-stacked" id="edit_driver_form" onsubmit="editDriverFormOnSumit(this, event); return false;">
				<div class="uk-grid" data-uk-grid-margin>
					<div class="uk-width-medium-1-2">
						<h3 class="heading_a uk-margin-medium-bottom">ข้อมูลทั่วไป</h3>
						<div class="uk-form-row">
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-5">
									<label>เพศ</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="gender">
										<option value="0">ไม่ระบุ</option>
										<option value="ชาย">ชาย</option>
										<option value="หญิง">หญิง</option>
									</select>
								</div>
								<div class="uk-width-medium-2-5">
									<div class="parsley-row">
										<label>ชื่อ</label>
										<input 
											type="text" 
											name="fname"
											class="md-input label-fixed"
											maxlength="50" 
											data-parsley-required
											data-parsley-minlength="2" 
											data-parsley-maxlength="50" 
											data-parsley-minlength-message="ระบุอย่างน้อย 2 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 50 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-5">
									<div class="parsley-row">
										<label>นามสกุล</label>
										<input 
											type="text" 
											name="lname"
											class="md-input label-fixed" 
											maxlength="50"
											data-parsley-required
											data-parsley-minlength="2" 
											data-parsley-maxlength="50" 
											data-parsley-minlength-message="ระบุอย่างน้อย 2 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 50 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
							</div>

							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>แต้มของคนขับ</label>
										<input 
											type="number" 
											name="drv_point" 
											class="md-input label-fixed"
											data-uk-datepicker="{format:'DD/MM/YYYY'}" 
											maxlength="4"
											data-parsley-minlength="0" 
											data-parsley-maxlength="4"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>กระเป๋าตังค์</label>
										<input 
											type="number" 
											name="drv_wallet" 
											class="md-input label-fixed"
											data-uk-datepicker="{format:'DD/MM/YYYY'}" 
											maxlength="4"
											data-parsley-minlength="0" 
											data-parsley-maxlength="4"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>จำนวนรอบที่เหลือ</label>
										<input 
											type="number" 
											name="drv_shift" 
											class="md-input label-fixed" 
											maxlength="4"
											data-parsley-required
											data-parsley-minlength="0" 
											data-parsley-maxlength="4"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
							</div>
							
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>วันเกิด</label>
										<input 
											type="text" 
											name="dob" 
											class="md-input label-fixed"
											data-uk-datepicker="{format:'DD/MM/YYYY'}" 
											maxlength="10"
											data-parsley-minlength="10" 
											data-parsley-maxlength="10"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>หมายเลขบัตรประชาชน</label>
										<input 
											type="number" 
											name="citizenid" 
											class="md-input label-fixed" 
											maxlength="13"
											data-parsley-required
											data-parsley-minlength="13" 
											data-parsley-maxlength="13"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>เบอร์มือถือ</label>
										<input 
											type="text" 
											name="phone"
											class="md-input label-fixed" 
											maxlength="10"
											data-parsley-required
											data-parsley-minlength="10" 
											data-parsley-maxlength="10" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้องระบุข้อ" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้องระบุข้อ"
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>เบอร์ฉุกเฉิน</label>
										<input 
											type="text" 
											name="emergencyphone" 
											class="md-input label-fixed" 
											maxlength="10"
											data-parsley-minlength="9" 
											data-parsley-maxlength="10"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<label>ที่อยู่</label>
										<input 
											type="text" 
											name="address"
											class="md-input label-fixed"
											data-parsley-required
											maxlength="200"
											data-parsley-minlength="2" 
											data-parsley-maxlength="200" 
											data-parsley-minlength-message="ระบุอย่างน้อย 2 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 200 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<label>จังหวัด</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="province">
										<option value="0" selected>เลือกจังหวัด</option>
									</select>
								</div>
								<div class="uk-width-medium-1-2">
									<label>อำเภอ</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="district">
										<option value="0" selected>เลือกอำเภอ</option>
									</select>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<label>ตำบล</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="tambon">
										<option value="0" selected>เลือกตำบล</option>
									</select>
								</div>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>รหัสไปรษณีย์</label>
										<input 
											type="text" 
											name="zipcode" 
											class="md-input label-fixed" 
											maxlength="5"
											data-parsley-required
											data-parsley-minlength="5" 
											data-parsley-maxlength="5" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
							</div>
						</div>
						<div class="uk-form-row">
							<h3 class="heading_a uk-margin-medium-bottom">อื่นๆ</h3>
							<div class="uk-grid uk-grid-small" data-uk-grid-margin>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" id="allowpsgcontact" data-md-icheck name="allowpsgcontact" />
									<label for="allowpsgcontact" class="inline-label">แสดงเบอร์โทรศัพท์ให้ผู้โดยสารติดต่อ</label>
								</p>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" id="outbound" data-md-icheck name="outbound" />
									<label for="outbound" class="inline-label">รับเหมางานต่างจังหวัด</label>
								</p>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" name="carryon" id="carryon" data-md-icheck />
									<label for="carryon" class="inline-label">รับส่งของ</label>
								</p>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" name="english" id="english" data-md-icheck />
									<label for="english" class="inline-label">พูดภาษาอังกฤษได้</label>
								</p>
							</div>
						</div>
					</div>

					<div class="uk-width-medium-1-2">
						<div class="uk-form-row">
							<div class="uk-grid uk-grid-small" data-uk-grid-margin>
								<div class="uk-width-medium-1-2 status-wrapper">
									<h3 class="heading_a uk-margin-small-bottom">สถานะ</h3>
									ระงับการใช้งาน <input type="checkbox" name="active" data-switchery /> พร้อมใช้งาน
								</div>
								<div class="uk-width-medium-1-2 status-wrapper">
									<h3 class="heading_a uk-margin-small-bottom">การตรวจสอบข้อมูลคนขับ</h3>
									<input type="checkbox" name="dataStatus" id="data-status-chk" data-md-icheck />
									<label for="data-status-chk" class="inline-label">ยืนยันคนขับคนนี้</label>
								</div>
							</div>
						</div>

						<div class="uk-form-row">
							<h3 class="heading_a uk-margin-medium-bottom">ข้อมูลรถ</h3>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-6">
									<div class="parsley-row">
										<label>ทะเบียน</label>
										<input 
											type="text" 
											name="prefixcarplate"
											class="md-input label-fixed"
											placeholder="1กท" 
											data-parsley-required
											maxlength="3"
											data-parsley-minlength="1" 
											data-parsley-maxlength="3" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>ทะเบียน</label>
										<input 
											type="text" 
											name="carplate"
											class="md-input label-fixed" 
											placeholder="2560" 
											maxlength="4"
											data-parsley-required
											data-parsley-minlength="1" 
											data-parsley-maxlength="4" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
								<div class="uk-width-medium-3-6">
									<label>ทะเบียนจังหวัด</label>
									<select 
										data-md-selectize 
										data-md-selectize-bottom 
										class="md-input label-fixed" 
										name="carprovince">
											<option value="0" selected>เลือกจังหวัด</option>
									</select>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>เลขประจำตัวผู้ขับรถแท็กซี่</label>
										<input 
											type="text" 
											name="taxiID"
											class="md-input label-fixed" 
											maxlength="6"
											data-parsley-required
											data-parsley-minlength="3" 
											data-parsley-maxlength="6" 
											data-parsley-minlength-message="ระบุอย่างน้อย 3 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 6 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-6">
									<label>สีรถ</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="carcolor">
										<option value="น้ำเงิน">น้ำเงิน</option>
										<option value="เขียว">เขียว</option>
										<option value="ส้ม">ส้ม</option>
										<option value="ชมพู">ชมพู</option>
										<option value="ชมพู-เทา">ชมพู-เทา</option>
										<option value="แดง">แดง</option>
										<option value="แดง-น้ำเงิน">แดง-น้ำเงิน</option>
										<option value="แดง-เทา">แดง-เทา</option>
										<option value="ม่วง">ม่วง</option>
										<option value="เหลือง">เหลือง</option>
										<option value="เหลือง-น้ำเงิน">เหลือง-น้ำเงิน</option>
										<option value="เหลือง-เขียว">เหลือง-เขียว</option>
										<option value="เหลือง-แดง">เหลือง-แดง</option>
									</select>
								</div>
								<div class="uk-width-medium-2-6">
									<label>ประเภทรถ</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="cartype">
										<option select value="car">รถทั่วไป</option>
										<option value="minivan">รถตู้ขนาดเล็ก(Minivan)</option>
									</select>
								</div>
							</div>
						</div>
						<div class="uk-form-row">
							<div class="uk-grid uk-grid-small" data-uk-grid-margin>
								<div class="uk-width-1-3">
									<div class="md-card">
										<div class="md-card-content" data-wrapper-image-face>
											<h4 class="uk-margin-small-bottom">
												รูปคนขับ
											</h4>
										</div>
									</div>
								</div>
								<div class="uk-width-1-3">
									<div class="md-card">
										<div class="md-card-content" data-wrapper-image-car>
											<h4 class="uk-margin-small-bottom">
												รูปรถ
											</h4>
										</div>
									</div>
								</div>
								<div class="uk-width-1-3">
									<div class="md-card">
										<div class="md-card-content" data-wrapper-image-license>
											<h4 class="uk-margin-small-bottom">
												รูปบัตรติดหน้ารถ
											</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="uk-modal-footer uk-text-right">
				<button type="submit" class="md-btn md-btn-primary" onclick="$('#edit_driver_form').submit();"><i class="material-icons">&#xE161;</i> บันทึก</button>
				<button type="button" class="md-btn md-btn-flat uk-modal-close">ปิด</button>
			</div>
		</div>
	</div>

	{{ include ccadmin/webfont_config }}

	{{ include ccadmin/script }}
  
    <!-- page specific plugins -->
    <!-- maplace (google maps) -->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBzZ1bfEUWnbj7unU27eslfdRq6AmQAzws"></script>
    <script src="bower_components/maplace-js/dist/maplace.min.js"></script>
    
    <!-- datatables custom integration -->
    <script src="assets/theme/altair/js/custom/datatables/datatables.uikit.min.js"></script>

	<script src="assets/javascripts/ccadmindriverlist.js"></script>

</body>
</html>