<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="app_my_theme">
<!--<![endif]-->

<head>
    {{ include ccadmin/meta }}

    <title>ตั้งค่าระบบ - CC-ADMIN</title>

    {{ include ccadmin/stylesheet }}

    <!-- themes -->
    <link rel="stylesheet" href="assets/theme/altair/css/themes/themes_combined.min.css" media="all">

    <link rel="stylesheet" type="text/css" href="assets/stylesheets/ccadmin.settings.css">
</head>

<body class="sidebar_main_open sidebar_main_swipe header_double_height">

    {{ include ccadmin/header_main }} {{ include ccadmin/main_side }}

    <div id="page_content">
        <div id="page_content_inner">
            <div class="uk-width-medium-8-10 uk-container-center">
                <div class="md-card md-card-single">
                    <div class="md-card-toolbar">
                        <div class="md-card-toolbar-actions">
                            <i class="md-icon material-icons" onclick="App.reload();">&#xE8BA;</i>
                        </div>
                        <h3 class="md-card-toolbar-heading-text large">
                            ตั้งค่าระบบ
                        </h3>
                    </div>
                    <div class="md-card-content" id="setting_list">
                        <form id="setting_form" onsubmit="FormSetting.submit();">
                            <div class="uk-margin-large-bottom">
                                <h2 class="heading_list">ทั่วไป</h2>
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <h3>-</h3>
                                        </div>
                                        <div class="md-list-content uk-clearfix">
                                            <div class="uk-float-right">
                                                <div class="custom-width-120 uk-width-medium-1-1">
                                                    <select name="ccwaitingtime" data-md-selectize data-md-selectize-bottom>
                                                        <option value="60000">1 นาที</option>
                                                        <option value="120000">2 นาที</option>
                                                        <option value="180000" selected>3 นาที</option>
                                                        <option value="240000">4 นาที</option>
                                                        <option value="300000">5 นาที</option>
                                                        <option value="360000">6 นาที</option>
                                                        <option value="420000">7 นาที</option>
                                                        <option value="480000">8 นาที</option>
                                                        <option value="540000">9 นาที</option>
                                                        <option value="600000">10 นาที</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span class="md-list-heading">ระยะเวลาของการรอ "กดรับงาน" ของคนขับสำหรับงานจ่ายตรง</span>
                                            <span class="uk-text-muted uk-text-small">เวลาที่แสดงตอนมีงานเข้าไปยัง Driver App แล้วนับถ่อยหลัง : ปกติ 3 นาที</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-addon-element">
                                            <h3>-</h3>
                                        </div>
                                        <div class="md-list-content uk-clearfix">
                                            <div class="uk-float-right">
                                                <div class="custom-width-120 uk-width-medium-1-1">
                                                    <select name="searchpsgamount" data-md-selectize data-md-selectize-bottom>
                                                        <option value="5">5 คัน</option>
                                                        <option value="10">10 คัน</option>
                                                        <option value="15">15 คัน</option>
                                                        <option value="20">20 คัน</option>
                                                        <option value="25">25 คัน</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span class="md-list-heading">จำนวนรถที่เห็นงาน</span>
                                            <span class="uk-text-muted uk-text-small">ใช้กับงาน broadcast จาก cc ว่าให้รถกี่คันเห็น เมื่อจ่ายงานแบบ Broadcast : ปกติ 5 คัน</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-addon-element">
                                            <h3>-</h3>
                                        </div>
                                        <div class="md-list-content uk-clearfix">
                                            <div class="uk-float-right">
                                                <div class="custom-width-120 uk-width-medium-1-1">
                                                    <select name="searchpsgradian" data-md-selectize data-md-selectize-bottom>
                                                        <option value="100">100 เมตร</option>
                                                        <option value="500">500 เมตร</option>
                                                        <option value="1000">1 กิโลเมตร</option>
                                                        <option value="3000">3 กิโลเมตร</option>
                                                        <option value="5000">5 กิโลเมตร</option>
                                                        <option value="10000">10 กิโลเมตร</option>
                                                        <option value="20000">20 กิโลเมตร</option>
                                                        <option value="50000">50 กิโลเมตร</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span class="md-list-heading">รัศมีจากจุดรับ เมื่อมีคนเรียกแท็กซี่</span>
                                            <span class="uk-text-muted uk-text-small">ใช้กับงาน broadcast จาก cc ว่าให้อยู่่ในรัศมีกี่กิโลเมตร : ปกติ 5 กิโลเมตร</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-addon-element">
                                            <h3>-</h3>
                                        </div>
                                        <div class="md-list-content uk-clearfix">
                                            <div class="uk-float-right">
                                                <div class="custom-width-120 uk-width-medium-1-1">
                                                    <select name="bidjobwaitingtime" data-md-selectize data-md-selectize-bottom>
                                                        <option value="5000">5 วินาที</option>
                                                        <option value="10000">10 วินาที</option>
                                                        <option value="15000">15 วินาที</option>
                                                        <option value="20000">20 วินาที</option>
                                                        <option value="25000">25 วินาที</option>
                                                        <option value="30000" selected>30 วินาที</option>
                                                        <option value="60000">60 วินาที</option>
                                                        <option value="90000">90 วินาที</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span class="md-list-heading">ระยะเวลารอประมูลงาน</span>
                                            <span class="uk-text-muted uk-text-small">ปกติ 30 วินาที</span>
                                        </div>
                                    </li>  
                                    <li>
                                        <div class="md-list-addon-element">
                                            <h3>-</h3>
                                        </div>
                                        <div class="md-list-content uk-clearfix">
                                            <div class="uk-float-right">
                                                <div class="custom-width-120 uk-width-medium-1-1">
                                                    <select name="bidjobradian" data-md-selectize data-md-selectize-bottom>
                                                        <option value="100">100 เมตร</option>
                                                        <option value="1000">1 กิโลเมตร</option>
                                                        <option value="2000" selected>2 กิโลเมตร</option>
                                                        <option value="3000">3 กิโลเมตร</option>
                                                        <option value="5000">5 กิโลเมตร</option>
                                                        <option value="10000">10 กิโลเมตร</option>
                                                        <option value="20000">20 กิโลเมตร</option>
                                                        <option value="50000">50 กิโลเมตร</option>
                                                    </select>
                                                    <span class="uk-form-help-block"></span>
                                                </div>
                                            </div>
                                            <span class="md-list-heading">รัศมีการรับงานทันทีโดยไม่ต้องประมูล </span>
                                            <span class="uk-text-muted uk-text-small">ปกติ 2 กิโลเมตร</span>
                                        </div>
                                    </li>
                                </ul>
                                <h2 class="heading_list">ลักษณะการจ่ายงาน</h2>
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <h3>-</h3>
                                        </div>
                                        <div class="md-list-content uk-clearfix">
                                            <div class="uk-float-right">
                                                <div class="custom-width-120 uk-width-medium-1-1">
                                                    <span class="uk-badge uk-badge-danger uk-badge-notification">ปิด</span>
                                                    <input type="checkbox" data-switchery id="broadcast" name="broadcast" />
                                                    <span class="uk-badge uk-badge-success uk-badge-notification">เปิด</span>
                                                </div>
                                            </div>
                                            <span class="md-list-heading">ใช้การจ่ายงานแบบกระจ่ายงาน (Broadcast)</span>
                                            <span class="uk-text-muted uk-text-small">เมื่อกำหนดตัวเลือกนี้แล้ว จะทำให้การจ่ายงานต้องมีการระบุตำแหน่งที่ไปรับผู้โดยสารด้วย</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-addon-element">
                                            <h3>-</h3>
                                        </div>
                                        <div class="md-list-content uk-clearfix">
                                            <div class="uk-float-right">
                                                <div class="custom-width-120 uk-width-medium-1-1">
                                                    <span class="uk-badge uk-badge-danger uk-badge-notification">ปิด</span>
                                                    <input type="checkbox" data-switchery id="allow_adjust_poi" name="allow_adjust_poi" />
                                                    <span class="uk-badge uk-badge-success uk-badge-notification">เปิด</span>
                                                </div>
                                            </div>
                                            <span class="md-list-heading">อนุญาตให้ปรับจุดรับได้ในภายหลัง <font color=red>(ยังไม่เปิดให้ใช้งาน)</font></span>
                                            <span class="uk-text-muted uk-text-small">เมื่อกำหนดตัวเลือกนี้แล้ว จะทำให้การสร้างงานไม่จำเป็นต้องปักจุดรับ และตอนจ่ายงานสามารถปักหรือปรับอีกครั้งได้</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="md-fab-wrapper">
                                <button class="md-fab md-fab-accent md-fab-wave-light waves-effect waves-button waves-light" type="submit">
                                    <i class="material-icons">&#xE161;</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include ccadmin/webfont_config }} {{ include ccadmin/script }}

    <script src="assets/javascripts/ccadmin_settings.js"></script>

</body>

</html>