<!doctype html> <!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="app_my_theme"> <!--<![endif]-->

<head>
	{{ include ccadmin/meta }}

	<title>แท็กซี่รออนุมัติ</title>

	{{ include ccadmin/stylesheet }}

	<!-- themes -->
	<link rel="stylesheet" href="assets/theme/altair/css/themes/themes_combined.min.css" media="all">
</head>
<body class="sidebar_main_open sidebar_main_swipe">

	{{ include ccadmin/header_main }}

	{{ include ccadmin/main_side }}

	<div id="page_content">
		<div id="page_content_inner">
			<h3 class="heading_b uk-margin-bottom">รายการแท็กซี่รออนุมัติ</h3>
			<div class="md-card uk-margin-medium-bottom">
				<div class="md-card-content">
					<div class="dt_colVis_buttons"></div>
					<div class="dt_colVis_buttons"></div>
					<table id="driver-datatable" class="uk-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th rowspan="2">#</th>
								<th colspan="7">รายการคนขับรถ</th>
							</tr>
							<tr>
								<th>ชื่อคนขับรถ</th>
								<th>เลขทะเบียน</th>
								<th>สีรถ</th>
								<th>เบอร์โทรศัพท์</th>
								<th>วันที่สร้าง</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="uk-modal" id="edit_driver_modal">
		<div class="uk-modal-dialog uk-modal-dialog-large">
			<a class="uk-modal-close uk-close"></a>
			<div class="uk-modal-header">
				<h3 class="uk-modal-title"></h3>
			</div>
			
			<form class="uk-form-stacked" id="edit_driver_form" onsubmit="editDriverFormOnSumit(this, event); return false;">
				<div class="uk-grid" data-uk-grid-margin>
					<div class="uk-width-medium-1-2">
						<h3 class="heading_a uk-margin-medium-bottom">ข้อมูลทั่วไป</h3>
						<div class="uk-form-row">
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-5">
									<label>เพศ</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="gender">
										<option value="0">ไม่ระบุ</option>
										<option value="ชาย">ชาย</option>
										<option value="หญิง">หญิง</option>
									</select>
								</div>
								<div class="uk-width-medium-2-5">
									<div class="parsley-row">
										<label>ชื่อ</label>
										<input 
											type="text" 
											name="fname"
											class="md-input label-fixed"
											maxlength="50" 
											data-parsley-required
											data-parsley-minlength="2" 
											data-parsley-maxlength="50" 
											data-parsley-minlength-message="ระบุอย่างน้อย 2 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 50 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-5">
									<div class="parsley-row">
										<label>นามสกุล</label>
										<input 
											type="text" 
											name="lname"
											class="md-input label-fixed" 
											maxlength="50"
											data-parsley-required
											data-parsley-minlength="2" 
											data-parsley-maxlength="50" 
											data-parsley-minlength-message="ระบุอย่างน้อย 2 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 50 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>วันเกิด</label>
										<input 
											type="text" 
											name="dob" 
											class="md-input label-fixed"
											data-uk-datepicker="{format:'DD/MM/YYYY'}" 
											maxlength="10"
											data-parsley-minlength="10" 
											data-parsley-maxlength="10"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>หมายเลขบัตรประชาชน</label>
										<input 
											type="number" 
											name="citizenid" 
											class="md-input label-fixed" 
											maxlength="13"
											data-parsley-required
											data-parsley-minlength="13" 
											data-parsley-maxlength="13"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>เบอร์มือถือ</label>
										<input 
											type="text" 
											name="phone"
											class="md-input label-fixed" 
											maxlength="10"
											data-parsley-required
											data-parsley-minlength="10" 
											data-parsley-maxlength="10" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้องระบุข้อ" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้องระบุข้อ"
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>เบอร์ฉุกเฉิน</label>
										<input 
											type="text" 
											name="emergencyphone" 
											class="md-input label-fixed" 
											maxlength="10"
											data-parsley-minlength="9" 
											data-parsley-maxlength="10"
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<label>ที่อยู่</label>
										<input 
											type="text" 
											name="address"
											class="md-input label-fixed"
											data-parsley-required
											maxlength="200"
											data-parsley-minlength="2" 
											data-parsley-maxlength="200" 
											data-parsley-minlength-message="ระบุอย่างน้อย 2 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 200 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<label>จังหวัด</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="province">
										<option value="0" selected>เลือกจังหวัด</option>
									</select>
								</div>
								<div class="uk-width-medium-1-2">
									<label>อำเภอ</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="district">
										<option value="0" selected>เลือกอำเภอ</option>
									</select>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<label>ตำบล</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="tambon">
										<option value="0" selected>เลือกตำบล</option>
									</select>
								</div>
								<div class="uk-width-medium-1-2">
									<div class="parsley-row">
										<label>รหัสไปรษณีย์</label>
										<input 
											type="text" 
											name="zipcode" 
											class="md-input label-fixed" 
											maxlength="5"
											data-parsley-required
											data-parsley-minlength="5" 
											data-parsley-maxlength="5" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
							</div>
						</div>
						<div class="uk-form-row">
							<h3 class="heading_a uk-margin-medium-bottom">อื่นๆ</h3>
							<div class="uk-grid uk-grid-small" data-uk-grid-margin>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" id="allowpsgcontact" data-md-icheck name="allowpsgcontact" />
									<label for="allowpsgcontact" class="inline-label">แสดงเบอร์โทรศัพท์ให้ผู้โดยสารติดต่อ</label>
								</p>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" id="outbound" data-md-icheck name="outbound" />
									<label for="outbound" class="inline-label">รับเหมางานต่างจังหวัด</label>
								</p>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" name="carryon" id="carryon" data-md-icheck />
									<label for="carryon" class="inline-label">รับส่งของ</label>
								</p>
								<p class="uk-width-medium-1-2">
									<input type="checkbox" name="english" id="english" data-md-icheck />
									<label for="english" class="inline-label">พูดภาษาอังกฤษได้</label>
								</p>
							</div>
						</div>
					</div>

					<div class="uk-width-medium-1-2">
						<div class="uk-form-row">
							<div class="uk-grid uk-grid-small" data-uk-grid-margin>
								<div class="uk-width-medium-1-2 status-wrapper">
									<h3 class="heading_a uk-margin-small-bottom">สถานะ</h3>
									ระงับการใช้งาน <input type="checkbox" name="active" data-switchery /> พร้อมใช้งาน
								</div>
								<div class="uk-width-medium-1-2 status-wrapper">
									<h3 class="heading_a uk-margin-small-bottom">การตรวจสอบข้อมูลคนขับ</h3>
									<input type="checkbox" name="dataStatus" id="data-status-chk" data-md-icheck />
									<label for="data-status-chk" class="inline-label">ยืนยันคนขับคนนี้</label>
								</div>
							</div>
						</div>

						<div class="uk-form-row">
							<h3 class="heading_a uk-margin-medium-bottom">ข้อมูลรถ</h3>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-6">
									<div class="parsley-row">
										<label>ทะเบียน</label>
										<input 
											type="text" 
											name="prefixcarplate"
											class="md-input label-fixed"
											placeholder="1กท" 
											data-parsley-required
											maxlength="3"
											data-parsley-minlength="1" 
											data-parsley-maxlength="3" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>ทะเบียน</label>
										<input 
											type="text" 
											name="carplate"
											class="md-input label-fixed" 
											placeholder="2560" 
											maxlength="4"
											data-parsley-required
											data-parsley-minlength="1" 
											data-parsley-maxlength="4" 
											data-parsley-minlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-maxlength-message="กรุณาระบุข้อมูลให้ถูกต้อง" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้"
											onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
									</div>
								</div>
								<div class="uk-width-medium-3-6">
									<label>ทะเบียนจังหวัด</label>
									<select 
										data-md-selectize 
										data-md-selectize-bottom 
										class="md-input label-fixed" 
										name="carprovince">
											<option value="0" selected>เลือกจังหวัด</option>
									</select>
								</div>
							</div>
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-2-6">
									<div class="parsley-row">
										<label>เลขประจำตัวผู้ขับรถแท็กซี่</label>
										<input 
											type="text" 
											name="taxiID"
											class="md-input label-fixed" 
											maxlength="6"
											data-parsley-required
											data-parsley-minlength="3" 
											data-parsley-maxlength="6" 
											data-parsley-minlength-message="ระบุอย่างน้อย 3 ตัวอักษร" 
											data-parsley-maxlength-message="ระบุได้ไม่เกิน 6 ตัวอักษร" 
											data-parsley-required-message="กรุณาระบุข้อมูลนี้" />
									</div>
								</div>
								<div class="uk-width-medium-2-6">
									<label>สีรถ</label>
									<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="carcolor">
										<option value="น้ำเงิน">น้ำเงิน</option>
										<option value="เขียว">เขียว</option>
										<option value="ส้ม">ส้ม</option>
										<option value="ชมพู">ชมพู</option>
										<option value="ชมพู-เทา">ชมพู-เทา</option>
										<option value="แดง">แดง</option>
										<option value="แดง-น้ำเงิน">แดง-น้ำเงิน</option>
										<option value="แดง-เทา">แดง-เทา</option>
										<option value="ม่วง">ม่วง</option>
										<option value="เหลือง">เหลือง</option>
										<option value="เหลือง-น้ำเงิน">เหลือง-น้ำเงิน</option>
										<option value="เหลือง-เขียว">เหลือง-เขียว</option>
										<option value="เหลือง-แดง">เหลือง-แดง</option>
									</select>
								</div>
								<div class="uk-width-medium-2-6">
								<label>ประเภทรถ</label>
									{{ if(user_data.group === "bkksmileapp") { }}
										<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="cartype">
										<option select value="car">แท็กซี่</option>
										<option value="van">รถตู้</option>
										<option value="limousine">ลีมูซีน</option>
										</select>
									{{ } else { }}
										<select data-md-selectize data-md-selectize-bottom class="md-input label-fixed" name="cartype">
										<option select value="car">รถทั่วไป</option>
										<option value="minivan">รถตู้ขนาดเล็ก(Minivan)</option>
										</select>
									{{ } }}
								</div>
							</div>
						</div>
						<div class="uk-form-row">
							<div class="uk-grid uk-grid-small" data-uk-grid-margin>
								<div class="uk-width-1-3">
									<div class="md-card">
										<div class="md-card-content" data-wrapper-image-face>
											<h4 class="uk-margin-small-bottom">
												รูปคนขับ
											</h4>
										</div>
									</div>
								</div>
								<div class="uk-width-1-3">
									<div class="md-card">
										<div class="md-card-content" data-wrapper-image-car>
											<h4 class="uk-margin-small-bottom">
												รูปรถ
											</h4>
										</div>
									</div>
								</div>
								<div class="uk-width-1-3">
									<div class="md-card">
										<div class="md-card-content" data-wrapper-image-license>
											<h4 class="uk-margin-small-bottom">
												รูปบัตรติดหน้ารถ
											</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="uk-modal-footer uk-text-right">
				<button type="submit" class="md-btn md-btn-primary" onclick="$('#edit_driver_form').submit();"><i class="material-icons">&#xE161;</i> บันทึก</button>
				<button type="button" class="md-btn md-btn-flat uk-modal-close">ปิด</button>
			</div>
		</div>
	</div>

	{{ include ccadmin/webfont_config }}

	{{ include ccadmin/script }}
    
    <!-- datatables custom integration -->
    <script src="assets/theme/altair/js/custom/datatables/datatables.uikit.min.js"></script>

	<script src="assets/javascripts/driverpendinglist.js"></script>

</body>
</html>