<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="app_my_theme">
<!--<![endif]-->

<head>
	{{ include ccadmin/meta }}

	<title>จัดการ POI - CC-ADMIN</title>

	{{ include ccadmin/stylesheet }}

	<!-- themes -->
	<link rel="stylesheet" href="assets/theme/altair/css/themes/themes_combined.min.css" media="all">
	<link rel="stylesheet" href="assets/stylesheets/poimanager.css" media="all">
</head>

<body class="sidebar_main_open sidebar_main_swipe">

	{{ include ccadmin/header_main }} {{ include ccadmin/main_side }}

	<div id="page_content">

		<div id="gmap"></div>

				<div  id="search-poi-wrapper" class="md-input-wrapper">
			<input id="search-poi-input" class="md-input" type="text" size="50">
			<span class="md-input-bar "></span>
		</div>

		<div id="page_content_inner">

			<div id="poi-table-outer">
				<div id="poi-table-wrapper" class="md-card">
					<div class="md-card-content">
						<div class="dt_colVis_buttons"></div>
						<table id="poi_list_table" class="uk-table">
							<thead>
								<tr>
									<th>ชื่อ</th>
									<th>ตำแหน่ง</th>
									<th>แก้ไขล่าสุด</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div id="poi-form-outer">
				<form id="add-poi-form-wrapper">
					<div class="md-card">
						<div class="md-card-content">
							<h3 class="heading_a">เพิ่มจุดใหม่</h3>
							<div class="uk-grid" data-uk-grid-margin="">
								<div class="uk-width-medium-1-1">
									<div class="uk-form-row">
										<div class="uk-grid" data-uk-grid-margin="">
											<div class="uk-width-medium-1-1">
												<div class="md-input-wrapper md-input-filled">
													<label>Name</label>
													<input type="text" name="parkingname" class="md-input label-fixed">
													<span class="md-input-bar "></span>
												</div>
											</div>
											<div class="uk-width-medium-1-1">
												<div class="md-input-wrapper md-input-filled">
													<label>Descriptions</label>
													<input type="text" name="description" class="md-input label-fixed">
													<span class="md-input-bar "></span>
												</div>
											</div>
										</div>
									</div>
									<div class="uk-form-row">
										<button id="closeBoxCreatePOIBtn" type="button" class="md-btn md-btn-flat" onclick="hideAddNewPOIBox()">ยกเลิก</button>
										<button id="saveNewPOIBtn" type="button" class="md-btn md-btn-flat md-btn-flat-primary" onclick="saveNewPOI(event, this)">บันทึก</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>

				<form id="edit-poi-form-wrapper">
					<div class="md-card">
						<div class="md-card-content">
							<h3 class="heading_a">แก้ไขข้อมูล</h3>
							<div class="uk-grid" data-uk-grid-margin="">
								<div class="uk-width-medium-1-1">
									<div class="uk-form-row">
										<div class="uk-grid" data-uk-grid-margin="">
											<div class="uk-width-medium-1-1">
												<div class="md-input-wrapper md-input-filled">
													<label>Name</label>
													<input type="text" name="parkingname" class="md-input label-fixed">
													<span class="md-input-bar "></span>
												</div>
											</div>
											<div class="uk-width-medium-1-1">
												<div class="md-input-wrapper md-input-filled">
													<label>Descriptions</label>
													<input type="text" name="description" class="md-input label-fixed">
													<span class="md-input-bar "></span>
												</div>
											</div>
										</div>
									</div>
									<div class="uk-form-row">
										<button id="closeBoxEditPOIBtn" type="button" class="md-btn md-btn-flat" onclick="cancelEditPOI()">ยกเลิก</button>
										<button id="saveEditPOIBtn" type="button" class="md-btn md-btn-flat md-btn-flat-primary" onclick="editPOI(event, this)">บันทึก</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--<div id="md-input-button" class="md-fab-wrapper">
		<a class="md-fab md-fab-primary md-fab-wave-light waves-effect waves-button waves-light" href="javascript:void(0)" data-uk-tooltip="{pos:'right'}" onclick="addNewPOIMarker()" title="เพิ่มจุดใหม่"><i class="material-icons">&#xE55B;</i></a>
	</div>-->
 	
	<div>
		<div id="md-input-button" class="md-fab-wrapper">
			<a class="md-fab md-fab-accent md-fab-wave-light waves-effect waves-button waves-light" href="javascript:void(0)" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'right'}"
			 onclick="clickZoom(1)" title="ซูมเข้า"><i class="material-icons">&#xE8FF;</i></a>
			<a class="md-fab md-fab-accent md-fab-wave-light waves-effect waves-button waves-light" href="javascript:void(0)" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'right'}"
			 onclick="clickZoom(0)" title="ซูมออก"><i class="material-icons">&#xE900;</i></a>
			<a class="md-fab md-fab-primary md-fab-wave-light waves-effect waves-button waves-light" href="javascript:void(0)" data-uk-tooltip="{pos:'right'}"
			 onclick="addNewPOIMarker()" title="เพิ่มจุดใหม่"><i class="material-icons">&#xE55B;</i></a>
		</div>
	</div>
	



	{{ include ccadmin/webfont_config }} {{ include ccadmin/script }}

	<!-- page specific plugins -->
	<!-- maplace (google maps) -->
	<script src="bower_components/maplace-js/dist/maplace.min.js"></script>

	<!-- datatables custom integration -->
	<script src="assets/theme/altair/js/custom/datatables/datatables.uikit.min.js"></script>

	<script src="assets/javascripts/poimanager.js"></script>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyBYN5ZU5Pd7kVe1oZbtSFIi9z52wBLH-_Q&libraries=places&callback=initMap"></script>

</body>

</html>