<!doctype html>
<html lang="en"> 
	<head>
		<meta content="charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<!-- Passenger WEB Mobile version  1.0 cutoff 20160307 -->	
		<title>Taxi-Beam: Passengers</title>

		<style>
		/* Paste this css to your style sheet file or under head tag */
		/* This only works with JavaScript, 
		if it's not present, don't show loader */
		.no-js #loader { display: none;  }
		.js #loader { display: block; position: absolute; left: 100px; top: 0; }
		.se-pre-con {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: url(../assets/img/home_screen.png) center no-repeat #fff;
			background-size: 320px;
		}

		.se-pre-click{
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: url(../assets/img/loadingwaiting.gif) center no-repeat rgba(255,255,255,0.6);
			background-size: 300px;
		}
		</style>

		<script src="/libs/jquery/dist/jquery.min.js"></script>	
		
		<script>
			//paste this code under head tag or in a seperate js file.
			// Wait for window load
			if (!/ismobile=1/.test(window.location.search)) {
				$(window).load(function() {
					// Animate loader off screen
					$(".se-pre-con").fadeOut("slow");
				});
			}			

		</script>

		<link rel="stylesheet" href="/assets/libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/font.css">
		<link rel="stylesheet" href="/app/passenger/fonts/icomoon_031116/style.css">
		<link rel="stylesheet" href="/assets/libs/jquery-ui/themes/smoothness/jquery-ui.min.css">		
		<link rel="stylesheet" href="/app/passenger/fonts/iconmoon/style.css">	
		<link rel="stylesheet" href="/assets/plugins/splash-mobi/splash-mobi.css">		
		<link rel="stylesheet" href="/app/passenger/app.css">
					
		<script src="/assets/libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/plugins/splash-mobi/splash-mobi.js"></script>	
		
		<script>
			// set param
			DistoShowPhone = {{= DistoShowPhone }} ;
			psgsearchpsgradian = {{= psgsearchpsgradian }} ;
			psgsearchpsgamount = {{= psgsearchpsgamount }} ;
			/*
			$(function(){
				if (!/ismobile=1/.test(window.location.search)) {
					Splash.show();
				}				
				
			});
			*/
		</script>

		<script type="text/javascript" src="/assets/libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>			
			
	</head>

	<body class="bg" >

	<!-- Paste this code after body tag -->
	<div class="se-pre-con"></div>
	<div class="se-pre-click" style="display: none;"></div>	
	<!-- Ends -->

		<!-- header -->
		<div class="taxibeampsng-wrapper">
			<div class="taxibeampsng-header">
				<div class="taxibeampsng-header-wrapper">
					<img src="/assets/img/logo.png">
					<span>{{= appversion }}</span>
				</div>
			</div>
			<div class="header">TAXI-BEAM Lite</div>

			<!-- map -->
			<div class="taxibeampsng-map-box">
				<div id="map" class="map-box taxibeampsng-map">
					<div  class="taxibeampsng-map-gps-center">
						<div class="taxibeampsng-map-gps-center-tooltip">คุณอยู่ที่นี่</div>
						<!--img src="../assets/img/map/pickup_pin.png"  /-->
					</div>
				</div>
			</div>
			
			<div class="taxibeampsng-navmap"><img src="../../assets/img/navicator@2x.png"></div>

			<div class="show-dialog-btn btn btn-warning" style="display:none;">SHOW</div>

			<!-- News -->
			<div class="taxibeampsng-status-news">
				<p class="taxibeampsng-news-topic"></p>
				<p class="taxibeampsng-news-content"></p>
				<button class="taxibeampsng-submit-btn">ปิดหน้าต่าง</button>
			</div>
			<div class="taxibeampsng-overlay-news"></div>

		</div>

	</body>
<script src="/app/passenger/mapsource.js" ></script>
<script async src="/app/passenger/viewalldrv.js"></script>
</html>