* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100%;
	overflow: scroll;
	font-family: "Tahoma","Arial";
	font-size: 14px;
	-webkit-overflow-scrolling:touch;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;  
    -moz-osx-font-smoothing: grayscale;  
}
input , select , textarea {
    -webkit-appearance: none;
    font-size: 14px;
    border-radius: 0;
}
.clear {
	clear: both;
}
:focus {
	outline: 0;
}
.taxiadmin-login {
	background-image: url(../img/taxiadmin-bg.jpg);
	height: 100%;
	width: 100%;
	background-position: center;
}
.taxiadmin-loginform {
	width: 320px;
	height: 530px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.taxiadmin-loginform-groupform {
	background-color: #ffffff;
	width: 320px;
	padding: 30px;
}
.garageadmin-loginlogo {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}
.taxiadmin-groupform input {
	height: 30px;
	width: 100%;
	border: 1px solid #cccccc;
	margin: 20px auto;
	padding: 0 10px;
}
.taxiadmin-loginform-groupform label {
	font-weight: bold;
	color: #666666;
}
.taxiadmin-line {
	width: 100%;
	height: 1px;
	background-color: #f7f7f7;
	margin-bottom: 20px;
}
.taxiadmin-btn-primary {
	background-color: #4f0a0a;
	border: 0px;
	color: #ffffff;
	width: 100%;
	font-size: 14px;
	height: 30px;
	cursor: pointer;
}
.garageadmin-forgotpassword {
	margin-top: 20px;
	color: #b21616;
	display: block;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}
.garageadmin-forgotpassword:hover {
	text-decoration: underline;
}
.garageadmin-copyright {
	font-size: 11px;
	color: #ffffff;
	margin-top: 100px;
	text-align: center;
}
.taxiadmin-groupform {
	position: relative;
}
.taxiadmin-ico-input {
	position: absolute;
	bottom: 27px;
	left: 9px;
}

.taxiadmin-dialog-forgotpassword {
	width: 320px;
	height: 237px;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
}
.taxiadmin-dialog-title {
	font-family: "db_helvethaica_x55_regular";
	font-size: 25px;
	background-color: #b21616;
	color: #ffffff;
	line-height: 50px;
	padding-left: 20px;
}
.taxiadmin-dialog-message {
	padding: 30px;
}
.taxiadmin-dialog-message input[type=text] {
	height: 30px;
	width: 100%;
	border: 1px solid #cccccc;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0 15px;
	font-size: 14px;
}
.taxiadmin-overlay {
	background-color: rgba(28,28,36,0.75);
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.taxiadmin-dialog-close {
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #8c1717;
	padding: 18px;
	cursor: pointer;
}
.taxiadmin-overlay.active , .taxiadmin-dialog-forgotpassword.active {
	display: block;
}
.taxiadmin-header {
	height: 51px;
	position: fixed;
	z-index: 12;
	top: 0;
	width: 100%;
	background-color: #b21616;
}
.taxiadmin-header-menu {
	background-color: #b21616;
	width: 160px;
	position: relative;
	float: left;
	height: 51px;
}
.taxiadmin-ico-menu {
	cursor: pointer;
}
.taxiadmin-ico-menu i{
	-webkit-transition: margin-left 0.1s ease;
	-moz-transition: margin-left 0.1s ease;
	-o-transition: margin-left 0.1s ease;
	transition: margin-left 0.1s ease;
}
.taxiadmin-ico-menu.active i {
	margin-left: 630px;
}
.garageadmin-homelogo {
	height: 51px;
	display: block;
	padding: 12px 16px;
}
.garageadmin-homelogo img {
	width: 124px;
	border: 0px;
}
.taxiadmin-search {
	float: left;
	height: 51px;
	border-bottom: 1px solid;
	background-color: #ffffff;
	width: 100%;
	position: absolute;
	margin-left: 160px;
	border-bottom: 1px solid #e4e4e4;
}
.taxiadmin-groupsearch {
	width: 300px;
	margin: 8px 0;
	margin-left: 20px;
	float: left;
}
.taxiadmin-groupsearch.last {
	width: 250px;
}
.taxiadmin-groupsearch input {
	width: 100%;
	border: 0px;
	height: 30px;
	font-size: 14px;
	padding: 0 10px;
}
.taxiadmin-groupsearch input::-webkit-input-placeholder {
	color: #999999;
}
.taxiadmin-groupsearch input:-moz-placeholder { /* Firefox 18- */
	color: #999999;
}
.taxiadmin-groupsearch input::-moz-placeholder {  /* Firefox 19+ */
	color: #999999;
}
.taxiadmin-groupsearch input:-ms-input-placeholder {  
	color: #999999;
}
.taxiadmin-border-search {
	border: 1px solid #bfbfbf;
	border-top: 0px;
	height: 4px;
	width: 100%;
}
.garageadmin-btn-search {
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	font-size: 22px;
	text-decoration: none;
	color: #666666;
}
.taxiadmin-user {
	width: auto;
    min-width: 140px;
    max-width: 280px;
	background-color: #8e1111;
	position: absolute;
	right: 0;
	height: 51px;
}
.taxiadmin-user > ul > li > a {
	line-height: 51px !important; 
}
.taxiadmin-user > ul > li > a:hover {
	background-color: #4f0a0a;
}
.taxiadmin-user p {
	line-height: 51px;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 65px;
	overflow: hidden;
}
.taxiadmin-user-picture {
	width: 40px;
	height: 40px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
    right: 15px;
    top: 5px;
}
.taxiadmin-user-picture img {
	display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;

}
.taxiadmin-navigation-menu {
	background-color: #1b1c23;
	width: 60px;
	height: 100%;
	position: absolute;
	left: 0px;
	-webkit-transition: width 0.1s ease;
	-moz-transition: width 0.1s ease;
	-o-transition: width 0.1s ease;
	transition: width 0.1s ease;
	padding-top: 51px;
	overflow: hidden;
	z-index: 1;
}
.taxiadmin-navigation-menu.active {
	width: 650px;
	z-index: 11;
}	
.taxiadmin-navigation-menu li {
	list-style: none;
	/*height: 30px;*/
	padding: 5px;
}
.taxiadmin-navigation-menu a {
	text-decoration: none;
	color: #ffffff;
	font-size: 23px;
	font-family: 'db_helvethaica_x55_regular';
	display: block;
	text-align: center;
	line-height: 60px;
	height: 60px;
}
.taxiadmin-navigation-menu i {
	color: #ffffff;
	float: left;
	line-height: 30px;
	font-size: 25px;
	margin-left: 5px;
}
.icon-menu_show , .icon-menu_less {
	font-size: 15px !important;
}
.taxiadmin-navigation-menu p {
	padding-left: 60px;
	text-align: left;
}
.taxiadmin-navigation-menu img {
	float: left;
	display: block;
	padding-top: 20px;
	padding-bottom: 5px;
}
.taxiadmin-navigation-menu li.active , .taxiadmin-navigation-menu li.active:hover {
	background-color: #000000;
}
.taxiadmin-navigation-menu li.active a , .taxiadmin-navigation-menu li.active i , .taxiadmin-ico-menu.active i {
	color: #b21616;
}
.taxiadmin-navigation-menu li:hover {
	background-color: rgba(41,41,52,0.8);
}
/*.taxiadmin-navigation-menu.active {
	width: 120px;
}*/

.taxiadmin-content {
	/*left: 60px;
	-webkit-transition: left 0.2s ease;
	-moz-transition: left 0.2s ease;
	-o-transition: left 0.2s ease;
	transition: left 0.2s ease;
	position: absolute;*/
	width: 100%;
	height: 100%;
	padding-top: 51px;
	padding-bottom: 40px;
	padding-left: 60px;
}
.taxiadmin-content.active {
	/*padding-right: 160px !important;*/
}
.taxiadmin-map {
	width: 100%;
	height: 100%;
}
.taxiadmin-inspica-search {
	position: absolute;
	width: 560px;
	left: 157px;
	top: 5px;
}
.taxiadmin-inspica-search li {
	background-color: #ffffff;
	list-style: none;
	line-height: 40px;
	padding: 0 15px;
}
.taxiadmin-inspica-search li:hover {
	background-color: #fafafa;
}
.taxiadmin-taxi-status {
	position: absolute; 
	bottom: 15px;
	left: 15px;
	height: 40px;
	background-color: rgba(0,0,0,0.75);
}
.taxiadmin-taxi-status.active {
	padding-top: 0px;
}
.taxiadmin-taxi-status li {
	list-style: none;
	margin-bottom: 1px;
}
.taxiadmin-taxi-status li p {
	background-color: #060606;
	color: #ffffff;
	font-size: 12px;
	padding: 13px 20px;
	width: 150px;
	font-weight: bold;
	cursor: pointer;
}
.taxiadmin-taxi-status li p:hover {
	background-color: #333333;
}
.taxiadmin-hidden-status {
	display: none;
	top: -93px;
	position: absolute;
	background-color: rgba(0,0,0,0.75);
	left: 0px;
	padding-bottom: 0px;
}
.taxiadmin-hidden-status li {
	position: relative;
}
.taxiadmin-hidden-status li p {
	font-weight: normal;
	padding: 0px 20px;
	padding-left: 40px;
	line-height: 30px;
	height: 30px;
}
.taxiadmin-hidden-status.active {
	display: block;
}
.taxiadmin-status-avaliable {
	background-color: #45e959; 
	width: 12px;
	height: 12px;
	position: absolute;
	left: 20px;
	top: 10px;
}
.taxiadmin-status-unavaliable {
	background-color: #e1f143; 
	width: 12px;
	height: 12px;
	position: absolute;
	left: 20px;
	top: 10px;
}
.taxiadmin-status-broken {
	background-color: #eb3333; 
	width: 12px;
	height: 12px;
	position: absolute;
	left: 20px;
	top: 10px;
}
.taxiadmin-search-map {
	position: absolute;
	bottom: 15px;
	right: 67px;
	background-color: #31312f;
	line-height: 32px;
	width: 126px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}
.taxiadmin-search-map:hover {
	background-color: #000000;
}
.taxiadmin-dialog-viewtaxi {
	position: absolute;
	bottom: 130px;
	right: 83px;
	width: 400px;
	-webkit-box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.25);
}
.taxiadmin-dialog-container {
	padding: 20px;
	padding-top: 15px;
	background-color: #ffffff;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.taxiadmin-dialog-viewtaxi .taxiadmin-taxiname {
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	margin-bottom: 5px;
}
.taxiadmin-dialog-viewtaxi .taxiadmin-carno , .taxiadmin-dialog-viewtaxi .taxiadmin-telno {
	color: #666666 !important;
	line-height: 20px;
	margin-left: 100px !important;
}
.taxiadmin-dialog-viewtaxi .taxiadmin-taxi-info img {
	position: absolute;
	top: 20px;
}
.taxiadmin-dialog-viewtaxi .taxiadmin-taxi-info p {
	margin-left: 75px;
	color: #000000;
}
.taxiadmin-taxi-info {
	height: 65px;
}
.taxiadmin-dialog-viewtaxi .taxiadmin-line {
	margin: 20px auto;
}
.taxiadmin-title-info {
	color: #b21616;
	font-weight: bold;
}
.taxiadmin-search-date {
	margin-top: 20px;
	position: relative;
}
.taxiadmin-search-date p {
	color: #000000;
	float: left;
	line-height: 30px;
	margin-right: 12px;
}
.taxiadmin-datepicker {
	height: 30px;
	width: 210px;
	font-size: 14px;
	font-family: "Tahoma","Arial" !important;
	border: 1px solid #cccccc;
}
.taxiadmin-btn-search {
	font-size: 14px;
	color: #ffffff;
	background-color: #b21616;
	width: 60px;
	height: 30px;
	border: 0px;
	margin-left: 8px;
	cursor: pointer;
}
.taxiadmin-btn-search:hover {
	background-color: #8e1111;
}
.taxiadmin-dialog-viewtaxi .taxiadmin-line {
	background-color: #e7e7e7;
}
.taxiadmin-dialog-viewtaxi .taxiadmin-dialog-arrow {
	/*border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff;
    border-bottom: 0;*/
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: -15px;
    -webkit-box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.25);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=45);
}
.taxiadmin-search-summary {
	margin-top: 20px;
}
.taxiadmin-summary-table {
	width: 100%;
}
.taxiadmin-summary-table th {
	background-color: #d88a8a !important;
	line-height: 30px;
	color: #ffffff;
}
.taxiadmin-summary-table td {
	line-height: 30px;
	text-align: center;
	color: #000000;
}
.taxiadmin-summary-table tr:nth-child(odd) {
	background-color: #f2f2f2;
}
.taxiadmin-title-search {
	font-weight: bolder;
	color: #666666;
	margin-bottom: 10px;
}
.taxiadmin-content .taxiadmin-topic {
	font-family: 'db_helvethaica_x55_regular';
	font-size: 35px;
	color: #b21616;
	font-weight: normal;
	position: relative;
}
.taxiadmin-content-wrapper {
	background-color: #ffffff;
	padding: 40px;
	height: 100%;
	position: relative;
	overflow-y: auto;
}
.taxiadmin-content.info , .taxiadmin-content.message {
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 40px;
	padding-left: 60px;
}
.taxiadmin-topic-details {
	font-family: "Tahoma","Arial";
	font-size: 14px;
	color: #666666;
}
.taxiadmin-hilight {
	color: #b21616 !important;
}
.taxiadmin-topic-line {
	height: 2px;
	background-color: #b21616;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 28px;
}
.taxiadmin-content-wrapper input[type=text] {
	width: 50%;
	height: 30px;
	border: 1px solid #cccccc;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 14px;
} 
.taxiadmin-content-wrapper .taxiadmin-btn-search {
	width: 70px;
}
.taxiadmin-table {
	margin-top: 30px;
	width: 100%;
}
.taxiadmin-table th {
	background-color: #d88a8a !important;
	line-height: 30px;
	color: #ffffff;
	text-align: left;
	position: relative;
}
.taxiadmin-table th a {
	cursor: pointer;
	padding: 0 20px;
	display: block;
}
.taxiadmin-table td {
	line-height: 30px;
	text-align: left;
	color: #666666;
	padding: 0 20px;
}
.taxiadmin-table tr:nth-child(odd) {
	background-color: #f2f2f2;
}
.taxiadmin-table td a {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
.taxiadmin-table td a:hover {
	text-decoration: underline;
}
.taxiadmin-pagination {
	padding-top: 30px;
	width: 265px;
	overflow: hidden;
	margin: 0 auto;
	display: block;
}
.taxiadmin-pagination a {
	border: 1px solid #cccccc;
	text-align: center;
	display: block;
    float: left;
    margin-right: 5px;
	text-decoration: none;
	width: 25px;
	height: 25px;
	line-height: 22px;
	color: #666666;
}
.taxiadmin-pagination a:hover {
	color: #ffffff;
	background-color: #cccccc;
}
.taxiadmin-pagination i {
	line-height: 25px;
	font-size: 10px;
}
.taxiadmin-pagination a.current {
	border: 1px solid #999999;
	background-color: #999999;
	color: #ffffff;
}
.taxiadmin-pagination a:last-child {
	margin-right: 0px;
}
.taxiadmin-crash-level {
	right: 550px;
	bottom: 130px;
}
.taxiadmin-crash-level .taxiadmin-btn-secondary , .taxiadmin-crash-level .taxiadmin-btn-tertiary {
	float: right;
}
.taxiadmin-btn-tertiary:hover {
	background-color: #8e1111;
}
.taxiadmin-btn-secondary:hover {
	background-color: #292934;
}

.taxiadmin-btn-secondary {
    font-size: 14px;
    color: #ffffff;
    background-color: #1b1c23;
    height: 30px;
    border: 0px;
    margin-left: 8px;
    cursor: pointer;
    padding: 0 10px;
}
.taxiadmin-btn-tertiary {
    font-size: 14px;
    color: #ffffff;
    background-color: #b21616;
    height: 30px;
    border: 0px;
    margin-left: 8px;
    cursor: pointer;
    padding: 0 10px;
}
.taxiadmin-title-content-dialog {
	font-weight: bolder;
	margin-bottom: 13px;
	color: #000000;
}
.taxiadmin-crash-level .taxiadmin-table {
	margin: 0;
	margin-bottom: 10px;
}
.taxiadmin-details-content-dialog {
	line-height: 22px;
	margin-bottom: 13px;
	color: #666666;
}
.taxiadmin-crash-level .taxiadmin-img-crash {
	display: block;
	float: left;
	margin-right: 10px;
	width: 80px;
	height: 80px;
}
.taxiadmin-crash-level .taxiadmin-img-crash.last {
	float: none;
}
.taxiadmin-content-wrapper .taxiadmin-btn-quaternary {
	width: 130px;
	position: absolute;
	top: 45px;
	right: 40px;
	text-align: right;
	font-weight: bold;
}
.taxiadmin-content-wrapper .taxiadmin-btn-quaternary:hover {
	background-color: #299b73;
}
.taxiadmin-btn-quaternary {
    font-size: 14px;
    color: #ffffff;
    background-color: #2dac80;
    height: 30px;
    line-height: 30px;
    border: 0px;
    margin-left: 8px;
    cursor: pointer;
    padding: 0 20px;
    text-decoration: none;
}
.taxiadmin-driver-profile , .taxiadmin-driver-uploadprofile , .taxiadmin-taxi-profileupload {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	padding: 30px;
	display: none;
	padding-top: 81px;
	padding-right: 30px;
	padding-left: 90px;
	
}
.taxiadmin-content.active .taxiadmin-driver-profile , .taxiadmin-content.active .taxiadmin-driver-uploadprofile ,
.taxiadmin-content.active .taxiadmin-taxi-profileupload {
	/*padding-right: 190px;*/
}
	
.taxiadmin-taxi-profile .taxiadmin-input-form , .taxiadmin-taxi-profileupload .taxiadmin-input-form {
	padding-left: 0px !important;
}
.taxiadmin-driver-profile.active , .taxiadmin-driver-uploadprofile.active {
	display: block;
}
.taxiadmin-input-form label {
	width: 145px;
    display: block;
    float: left;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
}
.taxiadmin-input-form input[type=text] {
	padding: 0 15px;
	width: 300px;
	line-height: 28px;
	border: 1px solid #cccccc;
	height: 30px;
}
.taxiadmin-input-form {
	margin-bottom: 10px;
	height: 30px;
}
.taxiadmin-group-radio {
	float: left;
	margin-right: 30px;
	line-height: 30px;
}
.taxiadmin-group-radio.last {
	float: none;
}
.taxiadmin-group-radio label {
    float: left;
    cursor: pointer;
    width: 25px;
    margin-top: 8px;
}
input[type=radio] { display: none; }
input[type=radio]:checked + label:after {
    /*content: "\2022";
    color: #b31a1a;
    font-size: 12px;
    text-align: center;
    line-height: 11px;
    border: 2px solid #b31a1a;*/
	border: 2px solid #b31a1a;
    background-image: url(../img/taxiadmin-radio.png);
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.taxiadmin-group-radio label:after {
    border-radius: 50px;
}
.taxiadmin-group-radio label:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    left: 0;
    background-color: #ffffff;
    border: 2px solid #cccccc;
}
.taxiadmin-taxiprofile-upload {
	border: 1px solid #e5e5e5;
	width: 180px;
	height: 180px;
}
.taxiadmin-driver-profile .taxiadmin-line , .taxiadmin-driver-uploadprofile .taxiadmin-line {
	margin-top: 60px;
	margin-bottom: 30px;
	background-color: #cccccc;
}
.taxiadmin-driver-profile .taxiadmin-btn-secondary , .taxiadmin-driver-profile .taxiadmin-btn-tertiary ,
.taxiadmin-driver-uploadprofile .taxiadmin-btn-secondary , .taxiadmin-driver-uploadprofile .taxiadmin-btn-tertiary {
	width: 100px;
	float: left;
	margin: 0 5px;
}
.taxiadmin-driver-profile .taxiadmin-group-btn , .taxiadmin-driver-uploadprofile .taxiadmin-group-btn {
	width: 220px;
	margin: 0 auto;
}
.taxiadmin-driver-profile i , .taxiadmin-driver-uploadprofile i {
	position: absolute;
	top: -3px;
    right: 0px;
    cursor: pointer;
    color: #6b6b6b;
    font-size: 25px;
    font-weight: normal;
}
.taxiadmin-distance {
	left: 300px;
	bottom: 40px;
	width: 150px;
	color: #ffffff;
	box-shadow: none;
}
.taxiadmin-distance .taxiadmin-dialog-container {
	background-color: rgba(0,0,0,0.75);
	padding: 10px;
	text-align: center;
}
.taxiadmin-distance .taxiadmin-distance-arrow {
	bottom: -5px;
	width: 10px;
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0,0.75);
    border-bottom: 0;
    margin: 0 auto;
}

.taxiadmin-taxi-profile .taxiadmin-input-form input[type=text] ,
.taxiadmin-taxi-profileupload .taxiadmin-input-form input[type=text] {
	width: 355px;
}
.taxiadmin-select-year {
	width: 80px;
	height: 30px;
	border: 1px solid #cccccc;
	padding-left: 10px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
}
.taxiadmin-select-color {
	width: 355px;
	height: 30px;
	border: 1px solid #cccccc;
	padding-left: 10px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
}
.taxiadmin-taxi-profile .taxiadmin-datepicker , .taxiadmin-taxi-profileupload .taxiadmin-datepicker {
	width: 110px !important;
	padding-left: 35px !important;
	padding-right: 8px !important;
}
.taxiadmin-group-input-form .taxiadmin-input-form {
	float: left;
}
.taxiadmin-group-input-form .taxiadmin-input-form.last {
	float: none;    
	margin-left: 255px;
}
.taxiadmin-group-input-form .taxiadmin-input-form.last label {
	margin-left: 30px;
	width: 105px;
}
.taxiadmin-input-form-left {
	float: left;
	width: 120px;
	line-height: 30px;
	color: #666666;
	font-weight: bold;
	height: 219px;
}
.taxiadmin-input-form-right .taxiadmin-input-form input[type=text] {
	width: 350px;
}
.taxiadmin-group-checkbox {
	width: 100%;
	height: 180px;
	border: 1px solid #cccccc;
	margin-top: 10px;
	background-color: #fbfbfb;
	overflow-y: scroll;
	padding: 20px 30px;
}
.taxiadmin-input-form-right {
	margin-left: 120px;
}
.taxiadmin-checkbox label {
    float: left;
    cursor: pointer;
    width: 12px;
    margin-top: 8px;
    margin-right: 12px;
}
.taxiadmin-checkbox input[type=checkbox] { display: block; opacity: 0; margin-top: 8px; position: absolute; }
.taxiadmin-checkbox input[type=checkbox]:checked + label:after {
    content: "\2713";
    color: #2dac80;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    border: 1px solid #bcbcbc;
    font-weight: bold;
}
.taxiadmin-checkbox label:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    left: 0;
    border: 1px solid #bcbcbc;
}
.taxiadmin-checkbox {
	line-height: 30px;
	color: #666666;
	float: left;
	width: 250px;
	position: relative;
}
.taxiadmin-checkbox.all {
	font-weight: bold;
}
.taxiadmin-input-forms {
	margin-bottom: 10px;
	overflow: hidden;
}
.taxiadmin-input-form-right textarea {
	width: 100%;
	height: 180px;
	resize: vertical; 
	border: 1px solid #cccccc;
	padding: 15px;
}
.taxiadmin-input-forms.last .taxiadmin-input-form-left {
	height: 180px;
}
.taxiadmin-input-forms.last {
	margin-bottom: 40px;
}
.taxiadmin-content-wrapper .taxiadmin-line {
	background-color: #cccccc;
}
.taxiadmin-content.message .taxiadmin-btn-secondary {
	width: 100px;
	margin: 0 auto;
	display: block;
}
.taxiadmin-content.home .taxiadmin-content-wrapper {
	padding: 0px;
}
.taxiadmin-user-option li {
	list-style: none;
	background-color: #8c1717;
}
.taxiadmin-user li {
	list-style: none;
}
.taxiadmin-user > ul > li > a {
	padding-left: 20px;
	line-height: 50px;
	color: #ffffff;
	display: block;
}
.taxiadmin-user li:hover {
	cursor: pointer;
}
.taxiadmin-user-option {
	display: none;
}
.taxiadmin-user-option.active {
	display: block;
}
.taxiadmin-user-option a {
	text-decoration: none;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
	display: block;
}
.taxiadmin-user-option li:hover {
	background-color: #4f0a0a;
}

.taxiadmin-change-password {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 300px;
	height: 390px;
	z-index: 2;
	display: none;
}
.taxiadmin-change-password-title , .taxiadmin-setting-title {
	background-color: #b21617;
	line-height: 50px;
	color: #ffffff;
	padding-left: 20px;
	font-family: "db_helvethaica_x55_regular";
	font-size: 25px;
}
.taxiadmin-dialog-viewtaxi.setting .taxiadmin-dialog-container {
	padding: 0px;
}
.taxiadmin-change-password-form , .taxiadmin-setting-form {
	background-color: #ffffff;
	padding: 20px;
}
.taxiadmin-change-password-form input[type=password] {
	height: 30px;
    border: 1px solid #cccccc;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
}
.taxiadmin-change-password-form p {
	margin-bottom: 10px;
}
.taxiadmin-change-password .taxiadmin-close-dialog , .taxiadmin-dialog-viewtaxi.setting .taxiadmin-close-dialog {
	width: 43px;
	background-color: #8c1717;
	position: absolute;
	top: 0px;
	height: 50px;
	right: 0;
	cursor: pointer;
}
.taxiadmin-change-password-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}
.taxiadmin-change-password-overlay.active , .taxiadmin-change-password.active {
	display: block;
}
.taxiadmin-form-input-search {
	margin-right: 30px; 
	float: left;
	font-weight: bold;
	color: #666666;
	margin-bottom: 10px;
	position: relative;
}
.taxiadmin-form-input-search.last {
	margin-right: 0px;
}
.taxiadmin-form-input-search input[type=text] {
	width: 300px;
	margin-left: 20px;
}
input[type=text]:not(.taxiadmin-datepicker) {
	padding: 0 15px;
}
.taxiadmin-form-input-search input.taxiadmin-datepicker {
	width: 150px;
	margin-left: 5px;
}
.taxiadmin-form-input-search input.taxiadmin-number {
	width: 120px;
}
.taxiadmin-search-stat .taxiadmin-btn-search {
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
	display: block;
}
.taxiadmin-search-stat {
	max-width: 1190px;
	width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.taxiadmin-form-input-search span {
	color: #b21616;
	font-size: 12px;
}

.taxiadmin-stat-topic {
	font-weight: bold;
	color: #b21616;
	margin-top: 40px;
}
.taxiadmin-stat-topic span {
	color: #666666;
	font-weight: normal;
}
.icon-ico_sortdown , .icon-ico_sortup {
	font-size: 8px;
	position: absolute;
	right: 10px;
	/*top: 11px;*/
	line-height: 30px !important;
}
.taxibeam-th-notlink {
	cursor: default !important;
}
.icon-ico_edit {
	color: #b21616;
	cursor: pointer;
}
.icon-ico_normal {
	font-size: 13px;
	color: #1ec121;
}
.icon-ico_repair {
	font-size: 13px;
	color: #b21617;
}
.icon-ico_add {
	line-height: 30px !important;
	position: absolute;
	left: 20px;
}
.taxiadmin-setting-form li {
	line-height: 30px;
	list-style: none;
	padding: 0 20px;
}
.taxiadmin-setting-form li:nth-child(even) , li.even {
	background-color: #f7f7f7;
}
.taxiadmin-setting-form input[type=radio] {
	float: right;
}
.taxiadmin-setting-form label {
    float: right;
    cursor: pointer;
    width: 16px;
    margin-top: 8px;
}
.taxiadmin-setting-form label:after {
    border-radius: 50px;
}
.taxiadmin-setting-form label:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    left: 0;
    background-color: #ffffff;
    border: 2px solid #cccccc;
}
.taxiadmin-setting-form input[type=radio]:checked + label:after {
    content: "\2022";
    color: #b31a1a;
    font-size: 18px;
    text-align: center;
    line-height: 11px;
    border: 2px solid #b31a1a;
    /* margin-right: 1px; */
}
.taxiadmin-dialog-viewtaxi.setting {
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 540px;
}
.taxiadmin-setting-title i {
	font-size: 20px;
	position: absolute;
	line-height: 50px;
	left: 20px;
}
.taxiadmin-setting-title {
	padding-left: 50px;
	font-family: "db_helvethaica_x55_regular";
	font-size: 25px;
}
.taxiadmin-btn-changepw {
    font-size: 14px;
    color: #ffffff;
    background-color: #1b1c23;
    height: 40px;
    width: 100px;
    line-height: 40px;
    border: 0px;
    margin: 0 auto;
    cursor: pointer;
    padding: 0 20px;
    text-decoration: none;
    display: block;
}
.icon-ico_close {
	text-align: center;
	line-height: 50px !important;
	color: #ffffff;
	display: block;
}
.taxiadmin-taxi-status .icon-ico_sortdown , .taxiadmin-taxi-status .icon-ico_sortup {
	right: 10px;
	line-height: 2px !important;
	top: 20px;
}
.taxiadmin-crash-level th {
	padding: 0 20px;
	text-align: center;
}
.taxiadmin-crash-level td {
	color: #000000;
	text-align: center;
}
.taxiadmin-driver-img {
	width: 230px;
	position: absolute;
	height: 250px;
	border-right: 1px solid #cccccc;
}
.taxiadmin-taxi-profile .taxiadmin-input-form , .taxiadmin-taxi-profileupload .taxiadmin-input-form {
	position: relative;
}
.taxiadmin-taxi-form {
	width: 500px;
	margin: 0 auto;
}
.taxiadmin-driver-profile .taxiadmin-input-form , .taxiadmin-driver-uploadprofile .taxiadmin-input-form {
	padding-left: 280px;
}
.taxiadmin-topic-driver-img {
	font-weight: bold;
	margin-bottom: 20px;
}
.taxiadmin-input-form.year i {
	left: 208px;
	font-size: 9px;
	line-height: 30px;
	top: 0;
	color: #bfbfbf;
}
.taxiadmin-input-form.color i {
	right: 10px;
	font-size: 9px;
	line-height: 30px;
	top: 0;
	color: #bfbfbf;
}
.taxiadmin-driver-profile i.icon-ico_cal , .taxiadmin-taxi-profileupload i.icon-ico_cal {
	font-size: 20px;
    top: 0;
    line-height: 30px;
    right: 80px;
}

.taxiadmin-adddriver-upload{
	position: relative;
    width: 180px;
    overflow: hidden;
    float: left;
}
.taxiadmin-btn-file {
	left: 0px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.taxiadmin-btn-file input[type=file] {
	filter: alpha(opacity=0);
    opacity: 0;
    height: 180px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0px;
}
.taxiadmin-adddriver-upload img {
	width: 180px !important;
	height: 180px !important;
}
.taxiadmin-adddriver-upload input[readonly] {
    display: none;
}
.taxiadmin-form-input-search i {
	right: 127px;
	line-height: 30px;
	position: absolute;
	top: 0;
}
.taxiadmin-login .taxiadmin-btn-secondary {
	width: 100%;
	margin-left: 0px;
	line-height: 40px;
	margin-top: 10px;
	height: 40px;
	font-size: 14px;
}
.taxiadmin-login .taxiadmin-groupform input {
	margin-top: 0px;
}
.taxiadmin-search-date i {
	left: 85px;
    position: absolute;
    line-height: 30px;
    color: #666666;
}
.taxiadmin-taxi-info i {
	color: #000000 !important;
	position: absolute;
	left: 95px;
	line-height: 20px;
}






.taxiadmin-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #000000;
	line-height: 40px;
	color: rgba(255,255,255,0.25);
	text-align: right;
	font-size: 11px;
	padding-right: 15px;
	z-index: 12;
}