.modal-control {
  top: 0;
  right: 20px;
  z-index: 1;
  position: absolute; }
  .modal-control .btn {
    padding: 8px 16px;
    border-top-width: 0; }
    .modal-control .btn:first-child {
      border-radius: 0px 0px 0px 4px; }
    .modal-control .btn:last-child {
      border-radius: 0px 0px 4px 0px; }

@media (min-width: 860px) {
  #createTaskModal > .modal-dialog {
    width: 800px; } }
@media (min-height: 900px) {
  #createTaskModal > .modal-dialog {
    margin-top: 150px; } }
#createTaskModal > .modal-dialog .modal-content {
  color: #444;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
  box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
  #createTaskModal > .modal-dialog .modal-content .modal-body {
    color: #444;
    padding: 30px 50px; }
    #createTaskModal > .modal-dialog .modal-content .modal-body .popover.top.in {
      padding: 0;
      color: #FFF;
      border: none;
      text-align: center;
      background-color: #EF6C00; }
      #createTaskModal > .modal-dialog .modal-content .modal-body .popover.top.in .arrow::after {
        border-top-color: #EF6C00; }
      #createTaskModal > .modal-dialog .modal-content .modal-body .popover.top.in .popover-content {
        font-size: 13px; }
    #createTaskModal > .modal-dialog .modal-content .modal-body #pickUpPOIBtn.valid {
      color: #FFFFFF;
      border: 1px solid #009245;
      border-radius: 0px 2px 2px 0px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#009245), to(#088242));
      background-image: -webkit-linear-gradient(top, #009245, #088242); }
    #createTaskModal > .modal-dialog .modal-content .modal-body .js-switch-wrap > .text {
      padding: 0px 10px; }
    #createTaskModal > .modal-dialog .modal-content .modal-body .mdl-radio {
      font-size: 12px; }
      #createTaskModal > .modal-dialog .modal-content .modal-body .mdl-radio .mdl-radio__inner-circle {
        background: #607D8B; }
      #createTaskModal > .modal-dialog .modal-content .modal-body .mdl-radio .mdl-radio__outer-circle {
        border-color: #607D8B; }
    #createTaskModal > .modal-dialog .modal-content .modal-body hr {
      margin: 8px auto 20px;
      border-top: 1px solid #999; }
    #createTaskModal > .modal-dialog .modal-content .modal-body input, #createTaskModal > .modal-dialog .modal-content .modal-body textarea {
      color: #444;
      background-color: transparent; }
    #createTaskModal > .modal-dialog .modal-content .modal-body textarea {
      min-height: 110px; }
    #createTaskModal > .modal-dialog .modal-content .modal-body button#saveBtn {
      color: #FFF;
      font-size: 1.2em;
      padding: 8px 50px;
      border-color: #009245;
      background-color: #009245; }

@media (min-width: 860px) {
  #areaSuggestion > .modal-dialog {
    width: 900px; } }
@media (min-height: 900px) {
  #areaSuggestion > .modal-dialog {
    margin-top: 190px; } }
#areaSuggestion > .modal-dialog .modal-header .title {
  margin: 0px; }
#areaSuggestion > .modal-dialog .modal-content {
  color: #444;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
  box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
  #areaSuggestion > .modal-dialog .modal-content .modal-body {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px; }
    #areaSuggestion > .modal-dialog .modal-content .modal-body .row {
      margin: 0; }
    #areaSuggestion > .modal-dialog .modal-content .modal-body [class*="col-"] {
      padding: 0px; }
    #areaSuggestion > .modal-dialog .modal-content .modal-body .mdl-tabs__tab {
      font-size: 12px; }
    #areaSuggestion > .modal-dialog .modal-content .modal-body .mdl-list__item {
      font-size: 14px;
      font-family: "Roboto","Helvetica","Arial","base_webfont"; }
      #areaSuggestion > .modal-dialog .modal-content .modal-body .mdl-list__item:hover {
        background: #F9F9F9;
        cursor: pointer;
        color: #FF5722;
        border-radius: 4px; }
      #areaSuggestion > .modal-dialog .modal-content .modal-body .mdl-list__item .mdl-list__item-sub-title {
        font-size: 13px; }

#assignTaskModal .modal-dialog,
#assignTaskModal .modal-content {
  min-height: 560px; }
#assignTaskModal > .modal-dialog {
  margin-top: 100px;
  -webkit-transition: width .05s linear;
  transition: width .05s linear; }
  @media (min-width: 1024px) {
    #assignTaskModal > .modal-dialog {
      width: 960px; } }
  #assignTaskModal > .modal-dialog .modal-content {
    color: #444;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
    #assignTaskModal > .modal-dialog .modal-content .modal-body {
      padding: 0px; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .map-wrap, #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
        height: 560px;
        max-height: 560px; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .map-wrap i[icon-for="map-search-inp"] {
        top: 19px;
        right: 305px;
        z-index: 402;
        position: absolute; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .map-wrap form#assignTaskSearchTaxiForm {
        margin: 0; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .map-wrap #map-search-inp {
        top: 10px;
        right: 30px;
        z-index: 401;
        width: 300px;
        padding-left: 32px;
        position: absolute;
        border-top-right-radius: 2px;
        -webkit-background-clip: padding-box;
        box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
        min-width: 42px;
        background-color: white;
        background-clip: padding-box; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .map-wrap #map {
        border-radius: 2px 0px 0px 2px; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .radian-wrapper {
        bottom: 0px;
        height: 50px;
        width: 100%;
        z-index: 1060;
        position: absolute;
        margin-bottom: 10px; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .radian-wrapper .irs {
          margin: 0 auto;
          width: 500px; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
        padding-right: 30px;
        overflow-y: auto; }
        @media (max-width: 991px) {
          #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
            padding-left: 30px;
            padding-right: 30px; } }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .title {
          margin-top: 0px;
          padding-top: 20px; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap hr {
          margin: 5px 0px 20px; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .value-set {
          margin-bottom: 16px; }
          #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .value-set p.caption {
            margin: 0;
            color: #999;
            font-size: .9em; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .text.current {
          margin-bottom: 0; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .text.phone {
          font-size: 1.5em; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap #car-plate-inp {
          font-size: 1em;
          height: initial;
          text-align: center; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .popover.top.in {
          padding: 0;
          border: none; }
          #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .popover.top.in .arrow::after {
            border-top-color: #2196f3; }
          #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .popover.top.in .popover-content {
            color: #FFF;
            border-radius: 5px;
            background: #2196F3; }
            #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .popover.top.in .popover-content span {
              vertical-align: super; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap button[type="submit"] {
          color: #FFF;
          font-size: 1.2em;
          padding: 8px 50px;
          background-color: #009245; }
  #assignTaskModal > .modal-dialog.full-screen {
    width: 90%;
    margin-top: 70px;
    -webkit-transition: width .05s linear;
    transition: width .05s linear; }
    @media (min-height: 800px) {
      #assignTaskModal > .modal-dialog.full-screen .map-wrap, #assignTaskModal > .modal-dialog.full-screen .detail-wrap {
        height: 700px !important;
        max-height: 700px !important; } }
    @media (min-height: 900px) {
      #assignTaskModal > .modal-dialog.full-screen .map-wrap, #assignTaskModal > .modal-dialog.full-screen .detail-wrap {
        height: 800px !important;
        max-height: 800px !important; } }
  #assignTaskModal > .modal-dialog.lock-modal {
    display: none; }
    #assignTaskModal > .modal-dialog.lock-modal .wrap-lock {
      width: 100%;
      position: absolute;
      top: 30%;
      z-index: 1050;
      background: #3c8dfe;
      text-align: center;
      color: #FFF;
      padding: 50px 0px; }
    #assignTaskModal > .modal-dialog.lock-modal .overlay-lock {
      width: 100%;
      height: 100%;
      background: #ccc;
      opacity: 0.1;
      z-index: 1049;
      position: absolute; }

@media (min-width: 768px) {
  #assignTaskByLineModal .modal-dialog {
    width: 300px;
    margin: 150px auto; } }
#assignTaskByLineModal .modal-header {
  padding-bottom: 5px; }
  #assignTaskByLineModal .modal-header .modal-title {
    margin: 0; }
  #assignTaskByLineModal .modal-header .modal-message {
    margin: 0;
    font-size: 12px; }
#assignTaskByLineModal .modal-content {
  color: #444;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
  box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
  #assignTaskByLineModal .modal-content .modal-body {
    padding: 16px;
    min-height: 350px; }
    #assignTaskByLineModal .modal-content .modal-body .detail-wrap {
      padding-right: 30px; }
      #assignTaskByLineModal .modal-content .modal-body .detail-wrap .value-set {
        margin-bottom: 26px; }
        #assignTaskByLineModal .modal-content .modal-body .detail-wrap .value-set p.caption {
          margin: 0;
          color: #999;
          font-size: .9em; }
      #assignTaskByLineModal .modal-content .modal-body .detail-wrap .text.phone {
        font-size: 1.5em; }
  #assignTaskByLineModal .modal-content .modal-footer {
    padding: 5px; }
    #assignTaskByLineModal .modal-content .modal-footer .btn-success {
      border-radius: 4px;
      border-color: #03A9F4;
      background-color: #2196F3; }

#assignedTaskModal > .modal-dialog {
  margin-top: 100px; }
  @media (min-width: 1024px) {
    #assignedTaskModal > .modal-dialog {
      width: 960px; } }
  #assignedTaskModal > .modal-dialog .modal-content {
    color: #444;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
    #assignedTaskModal > .modal-dialog .modal-content .modal-body {
      padding: 0px; }
      #assignedTaskModal > .modal-dialog .modal-content .modal-body .map-wrap, #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
        height: 600px;
        max-height: 600px;
        overflow-y: auto; }
      #assignedTaskModal > .modal-dialog .modal-content .modal-body .map-wrap i[icon-for="map-search-inp"] {
        top: 24px;
        left: 40px;
        z-index: 3;
        position: absolute; }
      #assignedTaskModal > .modal-dialog .modal-content .modal-body .map-wrap #map-search-inp {
        top: 15px;
        left: 30px;
        z-index: 2;
        width: 300px;
        padding-left: 32px;
        position: absolute;
        border-radius: 2px;
        background-color: #FAFAFA;
        box-shadow: 0 0px 7px rgba(144, 144, 144, 0.5);
        -webkit-box-shadow: 0 0px 7px rgba(144, 144, 144, 0.5); }
      #assignedTaskModal > .modal-dialog .modal-content .modal-body .map-wrap #map {
        border-radius: 2px 0px 0px 2px; }
      #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
        padding-right: 30px; }
        @media (max-width: 1023px) {
          #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
            padding: 15px;
            max-height: 100%;
            overflow-y: auto; } }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .title {
          margin-top: 0px;
          padding-top: 20px; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap hr {
          margin: 5px 0px 20px; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap [class*="col-"] {
          padding: 0; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .value-set {
          margin-bottom: 20px; }
          #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .value-set p.caption {
            margin: 0;
            color: #999;
            font-size: .9em; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .alert-missing-driver {
          display: none; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .driver-wrap {
          margin-bottom: 20px; }
          #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .driver-wrap .driver-img {
            width: 100px;
            height: 100px;
            border: 4px solid #C7C7C7; }
          #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .driver-wrap .value-set {
            margin-bottom: 12px; }
            #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .driver-wrap .value-set p.caption {
              margin: 0;
              color: #999;
              font-size: .9em; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap button.reject-btn {
          color: #FFF;
          font-size: 1.2em;
          padding: 8px 50px;
          margin-bottom: 15px;
          background-color: #A11414; }

#assignedTaskEditableModal > .modal-dialog {
  margin-top: 100px; }
  @media (min-width: 1024px) {
    #assignedTaskEditableModal > .modal-dialog {
      width: 300px; } }
  #assignedTaskEditableModal > .modal-dialog .modal-content {
    color: #444;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
    #assignedTaskEditableModal > .modal-dialog .modal-content .modal-body {
      padding: 12px; }
  #assignedTaskEditableModal > .modal-dialog #assignedTaskEditableForm button[type="submit"] {
    color: #F1F1F1;
    border: #2196F3;
    border-radius: 3px;
    border: 1px solid #2196F3;
    background-color: #2196F3; }
    #assignedTaskEditableModal > .modal-dialog #assignedTaskEditableForm button[type="submit"]:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#f1f1f1));
      background-image: -webkit-linear-gradient(top, #03A9F4, #2196F3);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      background-color: #2196F3;
      background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
      background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

#reportModal {
  margin: 0 auto;
  padding-top: 30px; }
  @media (min-width: 768) {
    #reportModal {
      width: 80%; } }
  #reportModal .modal-header .modal-message {
    margin: 0;
    font-size: 12px; }
  #reportModal .modal-header button[data-dismiss="modal"] {
    width: 40px;
    border: 1px solid rgba(204, 204, 204, 0);
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: #9E9E9E;
    text-align: center;
    padding: 8px;
    opacity: 1;
    color: FFF; }
    #reportModal .modal-header button[data-dismiss="modal"]:hover {
      background-color: #F44336; }
  #reportModal .modal-content {
    color: #444;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
    #reportModal .modal-content .modal-body {
      padding: 16px;
      min-height: 350px; }
  #reportModal .tab-content {
    padding: 15px 10px;
    text-align: center; }
  #reportModal .summary-time .title {
    margin: 0px; }
  #reportModal .summary-time #summary-reportrange {
    padding: 5px 10px; }
  #reportModal .summary.rectangle {
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #ccc;
    display: inline-block; }
    #reportModal .summary.rectangle ul {
      margin: 0;
      padding-left: 0px; }
      #reportModal .summary.rectangle ul li {
        display: inline-block; }
        #reportModal .summary.rectangle ul li.icon {
          font-size: 36px;
          margin-top: 20px;
          margin-right: 10px;
          vertical-align: top; }
    #reportModal .summary.rectangle .caption {
      padding-left: 6px;
      border-left: 3px solid #ccc; }
    #reportModal .summary.rectangle .title-badge {
      font-size: 26px;
      margin-bottom: 0px; }
    #reportModal .summary.rectangle .detail {
      margin: 0; }
    #reportModal .summary.rectangle.peak-hour .title-badge {
      color: #FF5722; }
    #reportModal .summary.rectangle.most-pick .title-badge {
      color: #3F51B5; }
    #reportModal .summary.rectangle.most-destination .title-badge {
      color: #009688; }
  #reportModal .summary.circle {
    margin: 10px 15px;
    text-align: center;
    vertical-align: top;
    display: inline-block; }
    #reportModal .summary.circle .counter {
      margin: 0;
      width: 120px;
      height: 120px;
      padding: 26px 0px;
      border-radius: 50%;
      text-align: center;
      margin-bottom: 10px;
      border: 2px solid #ccc; }
      #reportModal .summary.circle .counter.orange {
        border-color: #FF5722; }
        #reportModal .summary.circle .counter.orange:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #FF5722; }
      #reportModal .summary.circle .counter.blue {
        border-color: #2196F3; }
        #reportModal .summary.circle .counter.blue:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #2196F3; }
      #reportModal .summary.circle .counter.red {
        border-color: #E91E63; }
        #reportModal .summary.circle .counter.red:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #E91E63; }
      #reportModal .summary.circle .counter.green {
        border-color: #4CAF50; }
        #reportModal .summary.circle .counter.green:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #4CAF50; }
      #reportModal .summary.circle .counter.gray {
        border-color: #607D8B; }
        #reportModal .summary.circle .counter.gray:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #607D8B; }
      #reportModal .summary.circle .counter.default {
        border-color: #CCC; }
        #reportModal .summary.circle .counter.default:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #CCC; }
      #reportModal .summary.circle .counter .number {
        margin: 0;
        font-size: 40px; }
  #reportModal #openReportWindowBtn {
    font-size: small;
    border-radius: 2px;
    border-color: #2196F3;
    background-color: #2196F3; }
    #reportModal #openReportWindowBtn i {
      vertical-align: middle; }
    #reportModal #openReportWindowBtn:hover {
      border-color: #03A9F4;
      background-color: #03A9F4; }

#confirmModal > .modal-dialog {
  margin-top: 300px;
  border-radius: 3px; }
  #confirmModal > .modal-dialog .modal-content .modal-body {
    padding: 30px 20px 20px; }
    #confirmModal > .modal-dialog .modal-content .modal-body .message {
      margin-bottom: 20px; }
  #confirmModal > .modal-dialog .modal-content .modal-footer {
    padding: 10px; }
    #confirmModal > .modal-dialog .modal-content .modal-footer .btn-danger {
      border-radius: 4px;
      border-color: #BB0C0C;
      background-color: #A11414; }

#confirmNoneRegisterDriverModal > .modal-dialog {
  margin-top: 300px;
  border-radius: 3px; }
  #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-body {
    text-align: center;
    padding: 10px 20px; }
    #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-body .message {
      margin-bottom: 20px; }
      #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-body .message .title {
        color: #FF5722; }
        #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-body .message .title i {
          font-size: 1.5em; }
  #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-footer {
    padding: 10px; }
    #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-footer .btn-primary {
      border-radius: 4px;
      border-color: #2196F3;
      background-color: #2196F3; }

#searchTaskWithResultListModal .modal-content {
  border-radius: 3px;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
#searchTaskWithResultListModal .modal-dialog {
  min-width: 980px;
  margin-top: 60px; }
#searchTaskWithResultListModal .modal-body {
  min-height: 300px; }
  #searchTaskWithResultListModal .modal-body form[role="search"].pull-left {
    margin-bottom: 0px; }
    #searchTaskWithResultListModal .modal-body form[role="search"].pull-left i.material-icons {
      top: 8px;
      left: 8px;
      z-index: 5;
      position: absolute; }
    #searchTaskWithResultListModal .modal-body form[role="search"].pull-left input[type="text"] {
      padding-left: 30px; }
    #searchTaskWithResultListModal .modal-body form[role="search"].pull-left input[type="submit"] {
      height: 34px;
      line-height: 27px;
      cursor: pointer;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
      background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
      -webkit-border-radius: 2px;
      -webkit-user-select: none;
      background-color: #f2f2f2;
      border: 1px solid #f2f2f2;
      border-radius: 2px;
      color: #757575;
      font-family: arial,sans-serif;
      font-size: 13px;
      font-weight: bold;
      margin-left: 6px;
      min-width: 54px;
      padding: 0 16px;
      text-align: center; }
      #searchTaskWithResultListModal .modal-body form[role="search"].pull-left input[type="submit"]:hover {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
        background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background-color: #f8f8f8;
        background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
        background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
        border: 1px solid #c6c6c6;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        color: #222; }
#searchTaskWithResultListModal .daterange {
  padding: 6px 12px; }
#searchTaskWithResultListModal .dataTable > thead > tr > th,
#searchTaskWithResultListModal .dataTable > tbody > tr > th,
#searchTaskWithResultListModal .dataTable > tbody > tr > td {
  font-size: 12px; }
  #searchTaskWithResultListModal .dataTable > thead > tr > th.inline-edit,
  #searchTaskWithResultListModal .dataTable > tbody > tr > th.inline-edit,
  #searchTaskWithResultListModal .dataTable > tbody > tr > td.inline-edit {
    padding: 0px 10px; }
#searchTaskWithResultListModal .dataTables_length,
#searchTaskWithResultListModal .dataTables_filter {
  display: none; }
#searchTaskWithResultListModal .dataTables_scroll {
  margin-top: 10px;
  border-top: 1px solid #ccc; }

@media (min-height: 900px) {
  #announcementModal > .modal-dialog {
    margin-top: 65px; } }
#announcementModal .modal-content {
  color: #444;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
  box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
#announcementModal .modal-header .title {
  margin: 0px; }
#announcementModal .modal-body {
  color: #444;
  max-height: 400px;
  overflow-y: auto; }
  #announcementModal .modal-body .media {
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE; }
    #announcementModal .modal-body .media .media-heading {
      font-size: larger;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
#announcementModal .modal-footer {
  padding: 0px;
  text-align: left;
  background-color: #2F313C;
  border-radius: 1px 1px 3px 3px; }
  #announcementModal .modal-footer button[data-toggle="collapse"] {
    color: #FFF;
    font-size: 1.5em;
    border-radius: 0px;
    background-color: #009688; }
  #announcementModal .modal-footer .well {
    border-radius: 0px;
    margin-bottom: 0px; }
  #announcementModal .modal-footer form input[type="text"], #announcementModal .modal-footer form textarea {
    background-color: transparent; }

#announcementEditModal {
  top: 60px; }
  #announcementEditModal > .modal-dialog {
    width: 560px; }
    @media (min-height: 900px) {
      #announcementEditModal > .modal-dialog {
        margin-top: 65px; } }
  #announcementEditModal .modal-content {
    color: #444;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
  #announcementEditModal .modal-header .title {
    margin: 0px;
    margin-bottom: 30px; }
  #announcementEditModal .modal-body {
    color: #444; }

#successModal > .modal-dialog {
  margin-top: 300px;
  border-radius: 3px; }
  #successModal > .modal-dialog .modal-content .modal-body {
    text-align: center;
    padding: 21px 20px 20px; }
    #successModal > .modal-dialog .modal-content .modal-body i {
      font-size: 4em;
      color: #4CAF50; }
    #successModal > .modal-dialog .modal-content .modal-body .message {
      margin-top: 15px; }

@media (min-width: 768px) {
  #messageBoxModal .modal-dialog {
    width: 400px;
    margin: 200px auto; } }
#messageBoxModal .modal-body {
  text-align: center; }
#messageBoxModal .modal-footer {
  padding: 8px 15px;
  border-radius: 0px 0px 4px 4px; }
#messageBoxModal.success .modal-footer {
  background-color: #C62828; }
  #messageBoxModal.success .modal-footer [data-dismiss="modal"] {
    color: #FFF;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3); }
    #messageBoxModal.success .modal-footer [data-dismiss="modal"]:hover {
      color: #FFF;
      background-color: #B71C1C; }
#messageBoxModal.waring .modal-footer {
  background-color: #C62828; }
  #messageBoxModal.waring .modal-footer [data-dismiss="modal"] {
    color: #FFF;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3); }
    #messageBoxModal.waring .modal-footer [data-dismiss="modal"]:hover {
      color: #FFF;
      background-color: #B71C1C; }
#messageBoxModal.error .modal-footer {
  background-color: #C62828; }
  #messageBoxModal.error .modal-footer [data-dismiss="modal"] {
    color: #FFF;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3); }
    #messageBoxModal.error .modal-footer [data-dismiss="modal"]:hover {
      color: #FFF;
      background-color: #B71C1C; }

#driverListChatModal .modal-dialog {
  width: 300px;
  margin-top: 70px; }
#driverListChatModal .modal-header {
  background-color: #009688;
  border-radius: 4px 4px 0px 0px;
  border-bottom: none; }
  #driverListChatModal .modal-header .modal-title {
    color: #FFF; }
#driverListChatModal .modal-control .close-modal {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0px;
  margin-top: 8px; }
#driverListChatModal .modal-body {
  padding: 0px; }
  #driverListChatModal .modal-body .list-group {
    margin-bottom: 0px; }
  #driverListChatModal .modal-body .list-group-item:first-child,
  #driverListChatModal .modal-body .list-group-item:last-child {
    border-radius: 1px; }

#liveChatModal .modal-dialog {
  width: 350px;
  margin-top: 70px; }
#liveChatModal .modal-content {
  border: none; }
#liveChatModal .modal-header {
  border-bottom: none; }
#liveChatModal .modal-control .close-modal {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0px;
  margin-top: 8px; }
#liveChatModal .modal-body .driver-img-wrapper img {
  width: 150px;
  height: 150px; }
#liveChatModal .modal-body .driver-detail {
  margin-top: 20px; }
#liveChatModal .controller .record {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  -webkit-user-select: none;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #757575;
  text-align: center;
  outline: none; }
  #liveChatModal .controller .record:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222; }
  #liveChatModal .controller .record.active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F44336), to(#C62828));
    background-image: -webkit-linear-gradient(top, #F44336, #C62828);
    -webkit-user-select: none;
    background-color: #F44336;
    border: 1px solid #F44336;
    color: #757575;
    text-align: center;
    color: #FFF; }
  #liveChatModal .controller .record i {
    font-size: 32px; }
#liveChatModal .controller .cancel {
  display: none; }

@media (min-width: 1024px) {
  #pickUpPOIModal .modal-dialog {
    width: 960px; } }
@media (min-width: 1280px) {
  #pickUpPOIModal .modal-dialog {
    width: 1200px; } }
@media (min-width: 1900px) {
  #pickUpPOIModal .modal-dialog {
    width: 1600px; } }
@media (min-height: 900px) {
  #pickUpPOIModal .modal-dialog {
    margin-top: 80px; } }
#pickUpPOIModal .modal-dialog .modal-content {
  border: none; }
  #pickUpPOIModal .modal-dialog .modal-content .modal-body {
    padding: 0px; }
    #pickUpPOIModal .modal-dialog .modal-content .modal-body > .row {
      margin: 0; }
#pickUpPOIModal #pickupPOIpanel {
  height: 700px;
  max-height: 700px;
  overflow: auto;
  padding: 0px;
  border-radius: 4px 0px 0px 4px; }
  #pickUpPOIModal #pickupPOIpanel .detail-wrap {
    padding: 12px;
    overflow-y: auto; }
    #pickUpPOIModal #pickupPOIpanel .detail-wrap .title {
      margin-top: 0px;
      padding-top: 20px; }
    #pickUpPOIModal #pickupPOIpanel .detail-wrap hr {
      margin: 5px 0px 20px; }
    #pickUpPOIModal #pickupPOIpanel .detail-wrap .value-set {
      margin-bottom: 62px; }
      #pickUpPOIModal #pickupPOIpanel .detail-wrap .value-set p.caption {
        margin: 0;
        color: #999;
        font-size: .9em; }
    #pickUpPOIModal #pickupPOIpanel .detail-wrap a.current-address {
      cursor: pointer; }
    #pickUpPOIModal #pickupPOIpanel .detail-wrap button[type="button"]#confirm {
      color: #FFF;
      bottom: 0px;
      font-size: 1.2em;
      padding: 8px 50px;
      position: relative;
      background-color: #009245; }
#pickUpPOIModal #searchPOImapWrapper {
  padding: 0px; }
#pickUpPOIModal #searchBox {
  position: absolute;
  right: 0px;
  top: 15px;
  z-index: 1; }
#pickUpPOIModal #pickUpPOIMap {
  border-radius: 4px;
  width: 100%;
  height: 700px; }
#pickUpPOIModal .controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
#pickUpPOIModal #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px; }
#pickUpPOIModal #pac-input:focus {
  border-color: #4d90fe; }
#pickUpPOIModal .pac-container {
  font-family: Roboto; }
#pickUpPOIModal #type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px; }
#pickUpPOIModal #type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }
#pickUpPOIModal #target {
  width: 345px; }

@media (min-width: 768px) {
  #createNewPOIModal .modal-dialog {
    width: 400px;
    margin: 200px auto; } }
@media (min-height: 900px) {
  #createNewPOIModal .modal-dialog {
    margin-top: 200px; } }

body > .pac-container {
  z-index: 1060; }

.ribbon-message {
  z-index: 11;
  color: #FFF;
  width: 100%;
  height: 100%;
  display: none;
  font-size: 3em;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1); }
  .ribbon-message .message {
    top: 200px;
    padding: 50px 0px;
    font-size: inherit;
    position: relative; }
  .ribbon-message.error {
    color: #FFF; }
    .ribbon-message.error .message {
      background: #AF2121; }

.modal-backdrop.in {
  filter: alpha(opacity=10);
  opacity: 0.1; }

.autocomplete-suggestions {
  border: 1px solid #ccc !important;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 15px; }
  .autocomplete-suggestions .autocomplete-suggestion {
    position: relative;
    color: #5f5f5f;
    font-size: 14px;
    line-height: 24px;
    min-height: 24px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-top: 1px solid #e6e6e6;
    cursor: default;
    direction: ltr;
    text-align: left;
    overflow: visible; }
    .autocomplete-suggestions .autocomplete-suggestion i.material-icons {
      font-size: 16px;
      margin-left: 12px;
      margin-right: 24px; }
    .autocomplete-suggestions .autocomplete-suggestion.user i {
      color: #2196f3; }
    .autocomplete-suggestions .autocomplete-suggestion.location i {
      color: #8C8C8C; }
    .autocomplete-suggestions .autocomplete-suggestion.temp i {
      color: #f44336; }
    .autocomplete-suggestions .autocomplete-suggestion::before {
      content: "";
      position: absolute;
      left: 0;
      top: -1px;
      width: 52px;
      height: 1px;
      background-color: #fff; }

@media (min-width: 768px) {
  #noCurrentPlace .modal-dialog {
    top: 80;
    width: 360px;
    margin: 270px auto; } }
@media (min-height: 900px) {
  #noCurrentPlace .modal-dialog {
    margin-top: 270px; } }

@media (min-width: 768px) {
  #reCurrentPlace .modal-dialog {
    top: 80;
    width: 380px;
    margin: 270px auto; } }
@media (min-height: 900px) {
  #reCurrentPlace .modal-dialog {
    margin-top: 270px;
    top: 500; } }

/*# sourceMappingURL=modal.css.map */
