// Modal
.modal-control {
    top: 0;
    right: 20px;
    z-index: 1;
    position: absolute;

    .btn {
        padding: 8px 16px;
        border-top-width: 0;

        &:first-child {
            border-radius: 0px 0px 0px 4px;
        }

        &:last-child {
            border-radius: 0px 0px 4px 0px;
        }
    }
}

#createTaskModal {
    > .modal-dialog {
        @media (min-width: 860px) {
            width: 800px;
        }

        @media (min-height: 900px) {
            margin-top: 150px;
        }

        .modal-content {
            color: #444;
            border: none;
            border-radius: 3px;
            background-color: #FFFFFF;
            -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
            box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);

            .modal-body {
                color: #444;
                padding: 30px 50px;

                .popover.top.in {
                    padding: 0;
                    color: #FFF;
                    border: none;
                    text-align: center;
                    background-color: #EF6C00;

                    .arrow::after {
                        border-top-color: #EF6C00;
                    }

                    .popover-content {
                        font-size: 13px;
                    }
                }
                
                // .popover {
                // 	padding: 0px;
                // 	min-width: 400px;
                // 	.popover-title {
                // 		i {
                // 			color: #FDD835;
                // 		}
                // 		span {
                // 			vertical-align: super;
                // 		}
                // 	}

                // 	.popover-content {
                // 		padding: 0px;

                // 		.land-mark-suggestion {
                // 			max-width: 400px;
                // 			padding: 0px;
                // 			background: #FFF;
                // 			border: none;
                // 			border-radius: 3px;
                // 			-webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
                // 			box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
                // 			z-index: 1045;

                // 			.list-group {
                // 				padding: 0px;
                // 				margin-bottom: 0px;
                // 				.list-group-item:first-child,
                // 				.list-group-item:last-child {
                // 					border-radius: 0px;
                // 				}
                // 			}
                // 		}
                // 	}
                // }

				#pickUpPOIBtn {
					&.valid {
	    				color: #FFFFFF;
	    				border: 1px solid #009245;
	    				border-radius: 0px 2px 2px 0px;
	                    background-image: -webkit-gradient(linear, left top, left bottom, from(#009245), to(#088242));
    					background-image: -webkit-linear-gradient(top, #009245, #088242);
                    }
				}

                .js-switch-wrap {
                    > .text {
                        padding: 0px 10px;
                    }
                }

                .mdl-radio {
                    font-size: 12px;

                    .mdl-radio__inner-circle {
                        background: #607D8B;
                    }

                    .mdl-radio__outer-circle {
                        border-color: #607D8B;
                    }
                }

                hr {
                    margin: 8px auto 20px;
                    border-top: 1px solid #999;
                }

                input, textarea {
                    color: #444;
                    background-color: transparent;
                }

                textarea {
                    min-height: 110px;
                }

                button#saveBtn {
                    color: #FFF;
                    font-size: 1.2em;
                    padding: 8px 50px;
                    border-color: #009245;
                    background-color: #009245;
                }
            }
        }
    }
}

#areaSuggestion {
    > .modal-dialog {
        @media (min-width: 860px) {
            width: 900px;
        }

        @media (min-height: 900px) {
            margin-top: 190px;
        }

        .modal-header {
            .title {
                margin: 0px;
            }
        }

        .modal-content {
            color: #444;
            border: none;
            border-radius: 3px;
            background-color: #FFFFFF;
            -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
            box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);

            .modal-body {
                max-height: 500px;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 0px;

                .row {
                    margin: 0;
                }

                [class*="col-"] {
                    padding: 0px;
                }

                .mdl-tabs__tab {
                    font-size: 12px;
                }

                .mdl-list__item {
                    font-size: 14px;
                    font-family: "Roboto","Helvetica","Arial","base_webfont";

                    &:hover {
                        background: #F9F9F9;
                        cursor: pointer;
                        color: #FF5722;
                        border-radius: 4px;
                    }

                    .mdl-list__item-sub-title {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

#assignTaskModal {

    .modal-dialog,
    .modal-content {
        min-height: 560px;
    }

    > .modal-dialog {
        margin-top: 100px;
        -webkit-transition: width .05s linear;
        transition: width .05s linear;

        @media (min-width: 1024px) {
            width: 960px;
        }

        .modal-content {
            color: #444;
            border: none;
            border-radius: 3px;
            background-color: #FFFFFF;
            -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
            box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);

            .modal-body {
                padding: 0px;

                .map-wrap, .detail-wrap {
                    height: 560px;
                    max-height: 560px;
                }

                .map-wrap {
                    i[icon-for="map-search-inp"] {
                        top: 19px;
                        right: 305px;
                        z-index: 402;
                        position: absolute;
                    }

                    form#assignTaskSearchTaxiForm {
                        margin: 0;
                    }

                    #map-search-inp {
                        top: 10px;
                        right: 30px;
                        z-index: 401;
                        width: 300px;
                        padding-left: 32px;
                        position: absolute;
                        border-top-right-radius: 2px;
                        -webkit-background-clip: padding-box;
                        box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
                        min-width: 42px;
                        background-color: rgb(255, 255, 255);
                        background-clip: padding-box;
                    }

                    #map {
                        border-radius: 2px 0px 0px 2px;
                    }
                }

                .radian-wrapper {
                    bottom: 0px;
                    height: 50px;
                    width: 100%;
                    z-index: 1060;
                    position: absolute;
                    margin-bottom: 10px;
                    .irs {
                        margin: 0 auto;
                        width: 500px;
                    }
                }

                .detail-wrap {
                    padding-right: 30px;
                    overflow-y: auto;

                    @media (max-width: 991px) {
                        padding-left: 30px;
                        padding-right: 30px;
                    }

                    .title {
                        margin-top: 0px;
                        padding-top: 20px;
                    }

                    hr {
                        margin: 5px 0px 20px;
                    }

                    .value-set {
                        margin-bottom: 16px;

                        p.caption {
                            margin: 0;
                            color: #999;
                            font-size: .9em;
                        }
                    }

                    .text.current {
                        margin-bottom: 0;
                    }

                    .text.phone {
                        font-size: 1.5em;
                    }

                    #car-plate-inp {
                        font-size: 1em;
                        height: initial;
                        text-align: center;
                    }

                    .popover.top.in {
                        padding: 0;
                        border: none;

                        .arrow::after {
                            border-top-color: #2196f3;
                        }

                        .popover-content {
                            color: #FFF;
                            border-radius: 5px;
                            background: #2196F3;

                            span {
                                vertical-align: super;
                            }
                        }
                    }

                    button[type="submit"] {
                        color: #FFF;
                        font-size: 1.2em;
                        padding: 8px 50px;
                        background-color: #009245;
                    }
                }
            }
        }

        &.full-screen {
            width: 90%;
            margin-top: 70px;
            -webkit-transition: width .05s linear;
            transition: width .05s linear;

            .map-wrap, .detail-wrap {
                @media (min-height: 800px) {
                    height: 700px !important;
                    max-height: 700px !important;
                }

                @media (min-height: 900px) {
                    height: 800px !important;
                    max-height: 800px !important;
                }
            }
        }

        &.lock-modal {
            display: none;
            .wrap-lock {
                width: 100%;
                position: absolute;
                top: 30%;
                z-index: 1050;
                background: #3c8dfe;
                text-align: center;
                color: #FFF;
                padding: 50px 0px;
            }
            .overlay-lock {
                width: 100%;
                height: 100%;
                background: #ccc;
                opacity: 0.1;
                z-index: 1049;
                position: absolute;
            }
        }
    }
}

#assignTaskByLineModal {
    @media (min-width: 768px) {
        .modal-dialog {
            width: 300px;
            margin: 150px auto;
        }
    }

    .modal-header {
        padding-bottom: 5px;

        .modal-title {
            margin: 0;
        }

        .modal-message {
            margin: 0;
            font-size: 12px;
        }
    }

    .modal-content {
        color: #444;
        border: none;
        border-radius: 3px;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
        box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);

        .modal-body {
            padding: 16px;
            min-height: 350px;

            .detail-wrap {
                padding-right: 30px;

                .value-set {
                    margin-bottom: 26px;

                    p.caption {
                        margin: 0;
                        color: #999;
                        font-size: .9em;
                    }
                }

                .text.phone {
                    font-size: 1.5em;
                }
            }
        }

        .modal-footer {
            padding: 5px;

            .btn-success {
                border-radius: 4px;
                border-color: #03A9F4;
                background-color: #2196F3;
            }
        }
    }
}

#assignedTaskModal {
    > .modal-dialog {
        @media (min-width: 1024px) {
            width: 960px;
        }

        margin-top: 100px;

        .modal-content {
            color: #444;
            border: none;
            border-radius: 3px;
            background-color: #FFFFFF;
            -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
            box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);

            .modal-body {
                padding: 0px;

                .map-wrap, .detail-wrap {
                    height: 600px;
                    max-height: 600px;
                    overflow-y: auto;
                }

                .map-wrap {
                    i[icon-for="map-search-inp"] {
                        top: 24px;
                        left: 40px;
                        z-index: 3;
                        position: absolute;
                    }

                    #map-search-inp {
                        top: 15px;
                        left: 30px;
                        z-index: 2;
                        width: 300px;
                        padding-left: 32px;
                        position: absolute;
                        border-radius: 2px;
                        background-color: #FAFAFA;
                        box-shadow: 0 0px 7px rgba(144, 144, 144, 0.5);
                        -webkit-box-shadow: 0 0px 7px rgba(144, 144, 144, 0.5);
                    }

                    #map {
                        border-radius: 2px 0px 0px 2px;
                    }
                }

                .detail-wrap {
                    padding-right: 30px;

                    @media (max-width: 1023px) {
                        padding: 15px;
                        max-height: 100%;
                        overflow-y: auto;
                    }

                    .title {
                        margin-top: 0px;
                        padding-top: 20px;
                    }

                    hr {
                        margin: 5px 0px 20px;
                    }

                    [class*="col-"] {
                        padding: 0;
                    }

                    .value-set {
                        margin-bottom: 20px;

                        p.caption {
                            margin: 0;
                            color: #999;
                            font-size: .9em;
                        }
                    }

                    .alert-missing-driver {
                        display: none;
                    }

                    .driver-wrap {
                        margin-bottom: 20px;

                        .driver-img {
                            width: 100px;
                            height: 100px;
                            border: 4px solid #C7C7C7;
                        }

                        .value-set {
                            margin-bottom: 12px;

                            p.caption {
                                margin: 0;
                                color: #999;
                                font-size: .9em;
                            }
                        }
                    }

                    button.reject-btn {
                        color: #FFF;
                        font-size: 1.2em;
                        padding: 8px 50px;
                        margin-bottom: 15px;
                        background-color: #A11414;
                    }
                }
            }
        }
    }
}

#assignedTaskEditableModal {
    > .modal-dialog {
        @media (min-width: 1024px) {
            width: 300px;
        }

        margin-top: 100px;

        .modal-content {
            color: #444;
            border: none;
            border-radius: 3px;
            background-color: #FFFFFF;
            -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
            box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);

            .modal-body {
                padding: 12px;
            }
        }

        #assignedTaskEditableForm {
            button[type="submit"] {
                color: #F1F1F1;
                border: #2196F3;
                border-radius: 3px;
                border: 1px solid #2196F3;
                background-color: #2196F3;

                &:hover {
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#f1f1f1));
                    background-image: -webkit-linear-gradient(top, #03A9F4, #2196F3);
                    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                    background-color: #2196F3;
                    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
                    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

#reportModal {
    margin: 0 auto;
    padding-top: 30px;

    @media (min-width: 768) {
        width: 80%;
    }

    .modal-header {
        .modal-message {
            margin: 0;
            font-size: 12px;
        }

        button[data-dismiss="modal"] {
            width: 40px;
            border: 1px solid rgba(204, 204, 204, 0);
            height: 40px;
            border-radius: 50%;
            display: inline-block;
            background-color: #9E9E9E;
            text-align: center;
            padding: 8px;
            opacity: 1;
            color: FFF;

            &:hover {
                background-color: #F44336;
            }
        }
    }

    .modal-content {
        color: #444;
        border: none;
        border-radius: 3px;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
        box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);

        .modal-body {
            padding: 16px;
            min-height: 350px;
        }
    }

    .tab-content {
        padding: 15px 10px;
        text-align: center;
    }

    .titie-caption {}

    .summary-time {
        .title {
            margin: 0px;
        }

        #summary-reportrange {
            padding: 5px 10px;
        }
    }

    .summary.rectangle {
        padding: 10px 20px;
        margin-right: 20px;
        margin-bottom: 15px;
        border-radius: 10px;
        border: 2px solid #ccc;
        display: inline-block;

        ul {
            margin: 0;
            padding-left: 0px;

            li {
                display: inline-block;

                &.icon {
                    font-size: 36px;
                    margin-top: 20px;
                    margin-right: 10px;
                    vertical-align: top;
                }
            }
        }

        .caption {
            padding-left: 6px;
            border-left: 3px solid #ccc;
        }

        .title-badge {
            font-size: 26px;
            margin-bottom: 0px;
        }

        .detail {
            margin: 0;

            .counter {}

            .unit {}
        }

        &.peak-hour {
            .title-badge {
                color: #FF5722;
            }
        }

        &.most-pick {
            .title-badge {
                color: #3F51B5;
            }
        }

        &.most-destination {
            .title-badge {
                color: #009688;
            }
        }
    }

    .summary.circle {
        margin: 10px 15px;
        text-align: center;
        vertical-align: top;
        display: inline-block;

        .counter {
            margin: 0;
            width: 120px;
            height: 120px;
            padding: 26px 0px;
            border-radius: 50%;
            text-align: center;
            margin-bottom: 10px;
            border: 2px solid #ccc;

            &.orange {
                border-color: #FF5722;

                &:hover {
                    color: #FFF;
                    cursor: pointer;
                    background-color: #FF5722;
                }
            }

            &.blue {
                border-color: #2196F3;

                &:hover {
                    color: #FFF;
                    cursor: pointer;
                    background-color: #2196F3;
                }
            }

            &.red {
                border-color: #E91E63;

                &:hover {
                    color: #FFF;
                    cursor: pointer;
                    background-color: #E91E63;
                }
            }

            &.green {
                border-color: #4CAF50;

                &:hover {
                    color: #FFF;
                    cursor: pointer;
                    background-color: #4CAF50;
                }
            }

            &.gray {
                border-color: #607D8B;

                &:hover {
                    color: #FFF;
                    cursor: pointer;
                    background-color: #607D8B;
                }
            }

            &.default {
                border-color: #CCC;

                &:hover {
                    color: #FFF;
                    cursor: pointer;
                    background-color: #CCC;
                }
            }

            .number {
                margin: 0;
                font-size: 40px;
            }

            .unit {}
        }
    }

    #openReportWindowBtn {
        font-size: small;
        border-radius: 2px;
        border-color: #2196F3;
        background-color: #2196F3;

        i {
            vertical-align: middle;
        }

        &:hover {
            border-color: #03A9F4;
            background-color: #03A9F4;
        }
    }
}

#confirmModal {
    > .modal-dialog {
        margin-top: 300px;
        border-radius: 3px;

        .modal-content {
            .modal-body {
                padding: 30px 20px 20px;

                .message {
                    margin-bottom: 20px;
                }
            }

            .modal-footer {
                padding: 10px;

                .btn-danger {
                    border-radius: 4px;
                    border-color: #BB0C0C;
                    background-color: #A11414;
                }
            }
        }
    }
}

#confirmNoneRegisterDriverModal {
    > .modal-dialog {
        margin-top: 300px;
        border-radius: 3px;

        .modal-content { 
            .modal-body {
                text-align: center;
                padding: 10px 20px;

                .message {
                    .title {
                        color: #FF5722;

                        i {
                            font-size: 1.5em;
                        }
                    }

                    margin-bottom: 20px;
                }
            }

            .modal-footer {
                padding: 10px;

                .btn-primary {
                    border-radius: 4px;
                    border-color: #2196F3;
                    background-color: #2196F3;
                }
            }
        }
    }
}

#searchTaskWithResultListModal {
    .modal-content {
        border-radius: 3px;
        border: none;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .modal-dialog {
        min-width: 980px;
        margin-top: 60px;
    }

    .modal-body {
        min-height: 300px;

        form[role="search"].pull-left {
            margin-bottom: 0px;

            i.material-icons {
                top: 8px;
                left: 8px;
                z-index: 5;
                position: absolute;
            }

            input[type="text"] {
                padding-left: 30px;
            }

            input[type="submit"] {
                height: 34px;
                line-height: 27px;
                cursor: pointer;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
                background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
                -webkit-border-radius: 2px;
                -webkit-user-select: none;
                background-color: #f2f2f2;
                border: 1px solid #f2f2f2;
                border-radius: 2px;
                color: #757575;
                font-family: arial,sans-serif;
                font-size: 13px;
                font-weight: bold;
                margin-left: 6px;
                min-width: 54px;
                padding: 0 16px;
                text-align: center;

                &:hover {
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
                    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
                    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                    background-color: #f8f8f8;
                    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
                    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
                    border: 1px solid #c6c6c6;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                    color: #222;
                }
            }
        }
    }

    .daterange {
        padding: 6px 12px;
    }

    .dataTable > thead > tr > th,
    .dataTable > tbody > tr > th,
    .dataTable > tbody > tr > td {
        font-size: 12px;

        &.inline-edit {
            padding: 0px 10px;
        }
    }

    .dataTables_wrapper {}

    .dataTables_length,
    .dataTables_filter {
        display: none;
    }

    .dataTables_scroll {
        margin-top: 10px;
        border-top: 1px solid #ccc;
    }
}

#announcementModal {
    > .modal-dialog {
        // @media (min-width: 1024px) {
        // 	width: 960px;
        // }

        @media (min-height: 900px) {
            margin-top: 65px;
        }
    }

    .modal-content {
        color: #444;
        border: none;
        border-radius: 3px;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
        box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    }

    .modal-header {
        .title {
            margin: 0px;
        }
    }

    .modal-body {
        color: #444;
        max-height: 400px;
        overflow-y: auto;

        .media {
            .media-heading {
                font-size: larger;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            }

            padding-bottom: 10px;
            border-bottom: 1px solid #EEE;
        }
    }

    .modal-footer {
        padding: 0px;
        text-align: left;
        background-color: #2F313C;
        border-radius: 1px 1px 3px 3px;

        button[data-toggle="collapse"] {
            color: #FFF;
            font-size: 1.5em;
            border-radius: 0px;
            background-color: #009688;
        }

        .well {
            border-radius: 0px;
            margin-bottom: 0px;
        }

        form {
            input[type="text"], textarea {
                background-color: transparent;
            }
        }
    }
}

#announcementEditModal {
    top: 60px;

    > .modal-dialog {
        width: 560px;

        @media (min-height: 900px) {
            margin-top: 65px;
        }
    }

    .modal-content {
        color: #444;
        border: none;
        border-radius: 3px;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
        box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    }

    .modal-header {
        .title {
            margin: 0px;
            margin-bottom: 30px;
        }
    }

    .modal-body {
        color: #444;
    }
}

#successModal {
    > .modal-dialog {
        margin-top: 300px;
        border-radius: 3px;

        .modal-content {
            .modal-body {
                text-align: center;
                padding: 21px 20px 20px;

                i {
                    font-size: 4em;
                    color: #4CAF50;
                }

                .message {
                    margin-top: 15px;
                }
            }
        }
    }
}

#messageBoxModal {
    @media (min-width: 768px) {
        .modal-dialog {
            width: 400px;
            margin: 200px auto;
        }
    }

    .modal-body {
        text-align: center;
    }

    .modal-footer {
        padding: 8px 15px;
        border-radius: 0px 0px 4px 4px;
    }

    &.success {
        .modal-footer {
            background-color: #C62828;

            [data-dismiss="modal"] {
                color: #FFF;
                background-color: transparent;
                border-color: rgba(255, 255, 255, 0.3);

                &:hover {
                    color: #FFF;
                    background-color: #B71C1C;
                }
            }
        }
    }

    &.waring {
        .modal-footer {
            background-color: #C62828;

            [data-dismiss="modal"] {
                color: #FFF;
                background-color: transparent;
                border-color: rgba(255, 255, 255, 0.3);

                &:hover {
                    color: #FFF;
                    background-color: #B71C1C;
                }
            }
        }
    }

    &.error {
        .modal-footer {
            background-color: #C62828;

            [data-dismiss="modal"] {
                color: #FFF;
                background-color: transparent;
                border-color: rgba(255, 255, 255, 0.3);

                &:hover {
                    color: #FFF;
                    background-color: #B71C1C;
                }
            }
        }
    }
}

#driverListChatModal {
    .modal-dialog {
        width: 300px;
        margin-top: 70px;
    }

    .modal-header {
        background-color: #009688;
        border-radius: 4px 4px 0px 0px;
        border-bottom: none;

        .modal-title {
            color: #FFF;
        }
    }

    .modal-control {
        .close-modal {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            padding: 0px;
            margin-top: 8px;
        }
    }

    .modal-body {
        padding: 0px;

        .list-group {
            margin-bottom: 0px;
        }

        .list-group-item:first-child,
        .list-group-item:last-child {
            border-radius: 1px;
        }
    }
}

#liveChatModal {
    .modal-dialog {
        width: 350px;
        margin-top: 70px;
    }

    .modal-content {
        border: none;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-control {
        .close-modal {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            padding: 0px;
            margin-top: 8px;
        }
    }

    .modal-body {
        .driver-img-wrapper {
            img {
                width: 150px;
                height: 150px;
            }
        }

        .driver-detail {
            margin-top: 20px;
        }
    }

    .controller {
        .record {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            cursor: pointer;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
            background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
            -webkit-user-select: none;
            background-color: #f1f1f1;
            border: 1px solid #f1f1f1;
            color: #757575;
            text-align: center;
            outline: none;

            &:hover {
                background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
                background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                background-color: #f8f8f8;
                background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
                background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
                border: 1px solid #c6c6c6;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                color: #222;
            }

            &.active {
                background-image: -webkit-gradient(linear, left top, left bottom, from(#F44336), to(#C62828));
                background-image: -webkit-linear-gradient(top, #F44336, #C62828);
                -webkit-user-select: none;
                background-color: #F44336;
                border: 1px solid #F44336;
                color: #757575;
                text-align: center;
                color: #FFF;
            }

            i {
                font-size: 32px;
            }
        }

        .cancel {
            display: none;
        }
    }
}

#pickUpPOIModal {
    .modal-dialog {

        @media (min-width: 1024px) {
            width: 960px;
        }

        @media (min-width: 1280px) {
            width: 1200px;
        }

        @media (min-width: 1900px) {
            width: 1600px;
        }

        @media (min-height: 900px) {
		    margin-top: 80px;
		}

        .modal-content {
            border: none;

            .modal-body {
                padding: 0px;

                >.row {
                	margin: 0;
                }
            }
        }
    }

    #pickupPOIpanel {
        height: 700px;
        max-height: 700px;
        overflow: auto;
        padding: 0px;
	    border-radius: 4px 0px 0px 4px;

                .detail-wrap {
                    padding: 12px;
                    overflow-y: auto;

                    .title {
                        margin-top: 0px;
                        padding-top: 20px;
                    }

                    hr {
                        margin: 5px 0px 20px;
                    }

                    .value-set {
                        margin-bottom: 62px;

                        p.caption {
                            margin: 0;
                            color: #999;
                            font-size: .9em;
                        }
                    }

                    a.current-address {
                    	cursor: pointer;
                    }

                    button[type="button"]#confirm {
                        color: #FFF;
    					bottom: 0px;
                        font-size: 1.2em;
                        padding: 8px 50px;
                        position: relative;
                        background-color: #009245;
                    }
                }
    }

    #searchPOImapWrapper {
        padding: 0px;
    }

    #searchBox {
        position: absolute;
        right: 0px;
        top: 15px;
        z-index: 1;
    }

    #pickUpPOIMap {
        border-radius: 4px;
        width: 100%; 
        height: 700px;
    }

    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    .pac-container {
        font-family: Roboto;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

    #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #target {
        width: 345px;
    }
}

#createNewPOIModal {
    @media (min-width: 768px) {
        .modal-dialog {
            width: 400px;
            margin: 200px auto;
        }
    }
    @media (min-height: 900px) {
        .modal-dialog {
            margin-top: 200px;
        }
    }
}

body > .pac-container {
	z-index: 1060;
}

.ribbon-message {
    z-index: 11;
    color: #FFF;
    width: 100%;
    height: 100%;
    display: none;
    font-size: 3em;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);

    .message {
        top: 200px;
        padding: 50px 0px;
        font-size: inherit;
        position: relative;
    }

    &.error {
        color: #FFF;

        .message {
            background: #AF2121;
        }
    }
}

.modal-backdrop.in {
    filter: alpha(opacity = 10);
    opacity: 0.1;
}

.autocomplete-suggestions {

    border: 1px solid #ccc !important;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 15px;

    .autocomplete-suggestion {
        
        position: relative;
        color: #5f5f5f;
        font-size: 14px;
        line-height: 24px;
        min-height: 24px;
        padding-top: 6px;
        padding-bottom: 7px;
        border-top: 1px solid #e6e6e6;
        cursor: default;
        direction: ltr;
        text-align: left;
        overflow: visible;

        i.material-icons {
            font-size: 16px;
            margin-left: 12px;
            margin-right: 24px;
        }

        &.user i {
            color: #2196f3;
        }
        &.location i {
            color: #8C8C8C;
        }
        &.temp i {
            color: #f44336;
        }
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -1px;
            width: 52px;
            height: 1px;
            background-color: #fff;
        }
    }
}

#noCurrentPlace{
    @media (min-width: 768px) {
        .modal-dialog {
            top: 80;
            width: 360px;
            margin: 270px auto;
        }
    }
    @media (min-height: 900px) {
        .modal-dialog {
            margin-top: 270px;
        }
    }
}

#reCurrentPlace{
    @media (min-width: 768px) {
        .modal-dialog {
            top: 80;
            width: 380px;
            margin: 270px auto;
        }
    }
    @media (min-height: 900px) {
        .modal-dialog {
            margin-top: 270px;
        }
    }
}