<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
<link rel="stylesheet" href="/bower_components/ion.rangeslider/css/ion.rangeSlider.css">
<link rel="stylesheet" href="/bower_components/ion.rangeslider/css/ion.rangeSlider.skinModern.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/switchery-master/dist/switchery.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/preloader/preloader.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/splash-mobi/splash-mobi.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/nifty-modal/css/component.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/gritter/css/jquery.gritter.css" />

<link rel="stylesheet" type="text/css" href="/assets/plugins/datatables/1.10.11/media/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/datatables/1.10.11/extensions/Buttons/css/buttons.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/plugins/datatables/1.10.11/extensions/Buttons/css/buttons.bootstrap4.min.css" />

<link rel="stylesheet" href="/assets/plugins/leaflet/v1.0.1/leaflet.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />

<link rel="stylesheet" type="text/css" href="/assets/stylesheets/callcenter.css" />