<!-- Java Script -->
<!-- Ekapop key -->
<!-- AIzaSyBzZ1bfEUWnbj7unU27eslfdRq6AmQAzws -->
<!-- Ecart key -->
<!-- AIzaSyBYN5ZU5Pd7kVe1oZbtSFIi9z52wBLH-_Q -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzZ1bfEUWnbj7unU27eslfdRq6AmQAzws&amp;libraries=places&amp;language=th" async="" defer=""></script>
<script src="/bower_components/material-design-lite/material.min.js"></script>

 <script src="/assets/plugins/jquery/jquery-1.12.0.min.js"></script>
 <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/plugins/jquery-mask/dist/jquery.mask.min.js"></script>
<script src="/assets/plugins/switchery-master/dist/switchery.min.js"></script>
<script src="/assets/plugins/devbridge-autocomplete/new/jquery.autocomplete.min.js"></script>
<script src="/assets/plugins/nifty-modal/js/jquery.modalEffects.js"></script>
<script src="/assets/plugins/bootstrap-datetimepicker/js/moment-with-locales.js"></script>
<script src="/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/assets/plugins/gritter/js/jquery.gritter.min.js"></script>
<script src="/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- dataTables -->
<script src="/assets/plugins/datatables/1.10.11/media/js/jquery.dataTables.js"></script>
<script src="/assets/plugins/datatables/1.10.11/media/js/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/1.10.11/extensions/KeyTable/js/dataTables.keyTable.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
<!-- dataTables -->

<script src="/bower_components/ion.rangeslider/js/ion.rangeSlider.min.js"></script>

<script src="/assets/plugins/preloader/preloader.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!-- APP SCRIPT -->
<script type="text/javascript">
	var USER_CURRENT_LOCATION = JSON.parse("[{{= usercurloc }}]").reverse();
	var USER_DATA = {
		_id: "{{= user_data._id }}",
		name: "{{= user_data.name }}",
		email: "{{= user_data.email }}",
		group: "{{= user_data.group }}",
		username: "{{= user_data.username }}",
		groupNameTH: "{{= user_data.groupNameTH }}",
		provinceTH: "{{= user_data.provinceTH }}",
		provinceEN: "{{= user_data.provinceEN }}",
	};
	
	USER_DATA.broadcast = "{{= garage.broadcast }}";
	
	var GARAGE_DATA = {
		broadcast: "{{= garage.broadcast }}",
		searchpsgradian: "{{= garage.searchpsgradian }}",
		searchpsgamount: "{{= garage.searchpsgamount  }}",
	};

	USER_DATA.provinceEN = USER_DATA.provinceEN.split(",");
</script>

<script src="/assets/plugins/leaflet/v1.0.1/leaflet.js"></script>
<script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
<script src="/assets/javascripts/callcenter.js"></script>