@import url(sass/vendors/font-awesome/css/font-awesome.min.css);
@import url(sass/vendors/hover-master/css/hover-min.css);
@import url(sass/vendors/animate/animate.css);
body {
  background-color: #e6e6e6; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc; }

::-webkit-scrollbar-thumb {
  background-color: #ccc; }

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; }

body.dark-theme input, body.dark-theme textarea, body.dark-theme keygen, body.dark-theme select, body.dark-theme button {
  background-color: transparent; }
body.dark-theme .form-control[disabled],
body.dark-theme .form-control[readonly],
body.dark-theme fieldset[disabled] .form-control {
  background-color: transparent; }
body.dark-theme .btn-default:hover, body.dark-theme .btn-default:active, body.dark-theme .btn-default:focus,
body.dark-theme .btn-success:hover,
body.dark-theme .btn-success:active,
body.dark-theme .btn-success:focus,
body.dark-theme .btn-info:hover,
body.dark-theme .btn-info:active,
body.dark-theme .btn-info:focus,
body.dark-theme .btn-warning:hover,
body.dark-theme .btn-warning:active,
body.dark-theme .btn-warning:focus,
body.dark-theme .btn-danger:hover,
body.dark-theme .btn-danger:active,
body.dark-theme .btn-danger:focus {
  background-color: transparent; }
body.dark-theme .navbar-default {
  background: #343642; }
  body.dark-theme .navbar-default .nav.navbar-nav li:hover {
    background-color: #26282F; }
  body.dark-theme .navbar-default .nav.navbar-nav li > a {
    color: #FFF; }
body.dark-theme .nav.nav-tabs > li.active > a,
body.dark-theme .nav.nav-tabs > li.active > a:focus,
body.dark-theme .nav.nav-tabs > li.active > a:hover {
  color: #FFF;
  background-color: transparent; }
body.dark-theme .nav.nav-tabs > li > a:focus, body.dark-theme .nav.nav-tabs > li > a:hover {
  text-decoration: none;
  background-color: transparent; }
body.dark-theme .panel {
  background-color: transparent; }
  body.dark-theme .panel .panel-heading {
    background-color: transparent; }
    body.dark-theme .panel .panel-heading .panel-title a:hover {
      background-color: rgba(241, 241, 241, 0.1); }
body.dark-theme .table thead tr th {
  color: #FFF; }
body.dark-theme .table tbody tr {
  background-color: transparent; }
  body.dark-theme .table tbody tr:hover, body.dark-theme .table tbody tr.active {
    background-color: #1A4261; }
    body.dark-theme .table tbody tr:hover > th, body.dark-theme .table tbody tr:hover > td, body.dark-theme .table tbody tr.active > th, body.dark-theme .table tbody tr.active > td {
      background-color: #1A4261; }
body.dark-theme .modal .modal-content {
  background-color: #343642; }
  body.dark-theme .modal .modal-content .modal-header {
    color: #FFF; }
  body.dark-theme .modal .modal-content .modal-body {
    color: #FFF; }
    body.dark-theme .modal .modal-content .modal-body input, body.dark-theme .modal .modal-content .modal-body textarea, body.dark-theme .modal .modal-content .modal-body select, body.dark-theme .modal .modal-content .modal-body button {
      color: #FFF; }
  body.dark-theme .modal .modal-content .modal-footer input, body.dark-theme .modal .modal-content .modal-footer textarea, body.dark-theme .modal .modal-content .modal-footer select, body.dark-theme .modal .modal-content .modal-footer button {
    color: #FFF; }
body.dark-theme .popover {
  color: #FFF;
  background-color: #343642; }
  body.dark-theme .popover > .arrow:after {
    border-left-color: #343642; }
  body.dark-theme .popover .popover-title {
    color: #FFF;
    background-color: #343642; }
body.dark-theme .st-menu {
  background-color: #343642; }
  body.dark-theme .st-menu * {
    color: #FFF; }

#gritter-notice-wrapper.bottom-center {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 50%; }

.gritter-item {
  font-family: 'base_webfont'; }
  .gritter-item .gritter-title {
    text-shadow: none; }
  .gritter-item .btn.btn-link {
    color: #AAA;
    padding: 0px; }

.gritter-item > .gritter-close {
  top: -10px;
  left: auto;
  right: -10px; }

.gritter-top {
  border-radius: 4px 4px 0px 0px; }

.gritter-bottom {
  border-radius: 0px 0px 4px 4px; }

.gritter-primary .gritter-top,
.gritter-primary .gritter-item,
.gritter-primary .gritter-bottom {
  color: #fff;
  background: #343642;
  border: 1px solid #343642; }

.gritter-success .gritter-top,
.gritter-success .gritter-item,
.gritter-success .gritter-bottom {
  color: #fff;
  background: #6D8400;
  border: 1px solid #6D8400; }

.gritter-info .gritter-top,
.gritter-info .gritter-item,
.gritter-info .gritter-bottom {
  color: #fff;
  background: #2196F3;
  border: 1px solid #2196F3; }

.gritter-warning .gritter-top,
.gritter-warning .gritter-item,
.gritter-warning .gritter-bottom {
  color: #fff;
  background: #D54E21;
  border: 1px solid #D54E21; }

.gritter-danger .gritter-top,
.gritter-danger .gritter-item,
.gritter-danger .gritter-bottom {
  color: #fff;
  background: #A51413;
  border: 1px solid #A51413; }

body, #map {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.navbar.navbar-default {
  background: #343642; }
  .navbar.navbar-default .navbar-header a.navbar-brand {
    color: #FFF; }
  .navbar.navbar-default .nav.navbar-nav > li > a {
    color: #FFF; }

.container-fluid.app {
  padding: 0px; }

.fa-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear; }

.leaflet-popup.leaflet-zoom-animated .leaflet-popup-close-button {
  z-index: 1; }
.leaflet-popup.leaflet-zoom-animated .leaflet-popup-content-wrapper {
  border-radius: 5px;
  padding: 0px 15px 0px 0px;
  background-color: #212020;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
.leaflet-popup.leaflet-zoom-animated .leaflet-popup-content {
  margin: 0px;
  min-width: 300px;
  font-family: 'base_webfont'; }
  .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status {
    z-index: 1;
    bottom: 8px;
    width: 124px;
    height: auto;
    padding: 10px;
    transition: height 1;
    position: absolute;
    background-color: #607D8B; }
    .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status .title {
      margin: 0;
      padding: 0px;
      color: #FF9800;
      font-size: 1.5em; }
    .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status .call-message {
      color: #FFF; }
      .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status .call-message .txt-hide {
        display: none; }
    .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status .detail, .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status .list {
      display: none;
      margin: 5px auto 0px 10px; }
      .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status .detail i, .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status .list i {
        color: #444; }
    .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status.open {
      width: 100%;
      height: 100%;
      text-align: left;
      border-radius: 3px;
      transition-duration: 1s;
      transition-property: height;
      transition-timing-function: ease; }
      .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status.open .call-message {
        color: #CCC;
        bottom: 12px;
        position: fixed;
        padding: 2px 6px;
        border-radius: 3px;
        border: 1px solid #ccc;
        background-color: #607D8B; }
        .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status.open .call-message .txt-show {
          display: none; }
        .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status.open .call-message .txt-hide {
          display: inline; }
      .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status.open .detail, .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .label-message-status.open .list {
        display: block; }
  .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat; }
  .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .driver-img {
    width: 124px;
    max-height: 124px;
    border-radius: 4px 1px 1px 4px; }
  .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .driver-info {
    padding-top: 10px;
    padding-left: 0px;
    max-height: 124px; }
    .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .driver-info .pull-left {
      margin-right: 15px; }
    .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .driver-info p.caption, .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .driver-info p.value {
      margin: 0px; }
    .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .driver-info p.caption {
      color: #999;
      font-size: 12px;
      margin-top: 6px; }
    .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content .driver-info p.value {
      font-size: 14px;
      line-height: 18px; }
  .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content button.choose {
    left: 15px;
    bottom: 0px;
    width: 124px;
    position: absolute;
    border-right: none;
    border-bottom: none;
    color: #111;
    background-color: rgba(255, 255, 255, 0.8); }
    .leaflet-popup.leaflet-zoom-animated .leaflet-popup-content button.choose:hover {
      color: #F5F5F5;
      background-color: rgba(33, 32, 32, 0.4); }

.taxi-counter {
  right: 0;
  z-index: 100;
  width: 230px;
  margin-top: 60px;
  margin-right: 10px;
  position: absolute; }
  @media (max-width: 767px) {
    .taxi-counter {
      transition: .3s;
      right: -230px;
      position: fixed; }
      .taxi-counter.open {
        right: 0px;
        transition: .3s;
        transition-timing-function: ease; }
      .taxi-counter .puller {
        display: block !important; } }
  .taxi-counter a.puller {
    top: 30%;
    left: -50px;
    width: 100px;
    height: 100px;
    display: none;
    cursor: pointer;
    text-align: left;
    border-radius: 50%;
    position: absolute;
    padding: 30px 10px;
    color: rgba(255, 255, 255, 0.82);
    background-color: rgba(17, 17, 17, 0.72); }
    .taxi-counter a.puller i {
      font-size: 40px; }
  .taxi-counter .list-group {
    box-shadow: 0px 0px 7px rgba(204, 204, 204, 0.7);
    -webkit-box-shadow: 0px 0px 7px rgba(204, 204, 204, 0.7); }
  .taxi-counter .list-group-item {
    padding: 4px 15px; }
    .taxi-counter .list-group-item img {
      width: 18px; }
    .taxi-counter .list-group-item i.material-icons {
      font-size: 14px;
      background: #2196F3;
      border-radius: 50%;
      padding: 2px;
      color: #FFF;
      border: 2px #FFF; }
    .taxi-counter .list-group-item .badge {
      margin-top: 3px;
      margin-right: 12px; }
    .taxi-counter .list-group-item .js-switch-wrap {
      float: right; }
    .taxi-counter .list-group-item form {
      position: relative;
      margin-bottom: -20px;
      margin-top: -6px; }
      .taxi-counter .list-group-item form .mdl-textfield__input,
      .taxi-counter .list-group-item form .mdl-textfield__label {
        font-size: 12px; }

.position-pin {
  width: auto !important;
  height: auto !important; }
  .position-pin .wrapper {
    color: #2196F3;
    font-size: 16px;
    min-width: 130px;
    padding: 5px 5px;
    position: relative;
    border-radius: 4px;
    text-align: center;
    display: inline-flex; }
    .position-pin .wrapper .icon {
      display: inline-block;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      background-color: #2196F3;
      color: #3F51B5;
      font-size: 18px;
      padding: 4px; }
      .position-pin .wrapper .icon i.material-icons {
        font-size: 10px; }
    .position-pin .wrapper .text {
      display: inline-block;
      text-shadow: 1px 1px 1px #FFF;
      vertical-align: super;
      font-family: base_webfont;
      font-size: 12px;
      margin-left: 5px; }
    .position-pin .wrapper .arrow {
      position: absolute;
      display: none;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 11px;
      bottom: -11px;
      left: 50%;
      margin-left: -11px;
      border-top-color: #3f51b5;
      border-bottom-width: 0; }
  .position-pin.landmark .wrapper {
    background-color: transparent; }
    .position-pin.landmark .wrapper .icon {
      color: #FFF;
      background-color: #F44336; }
    .position-pin.landmark .wrapper .text {
      color: #F44336; }
    .position-pin.landmark .wrapper .arrow {
      border-top-color: #795548; }
  .position-pin.parking .wrapper {
    background-color: transparent; }
    .position-pin.parking .wrapper .icon {
      color: #FFFFFF; }
    .position-pin.parking .wrapper .arrow {
      border-top-color: #607D8B; }

.passenger-pin .pin {
  width: 35px;
  height: 35px;
  border-radius: 50% 50% 50% 0;
  background: #11b41e;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -22px;
  border: 2px solid #fff;
  transform: rotate(-45deg); }
  .passenger-pin .pin i {
    transform: rotate(45deg);
    color: #FFF;
    margin-left: 4px;
    margin-top: 4px;
    font-size: 24px; }
.passenger-pin .pulse {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2; }
.passenger-pin .pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #89849b;
  animation-delay: 1.1s; }
@-moz-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0; } }
@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0; } }
@-o-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0; } }
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0; } }
@-moz-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg); }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg); }
  80% {
    transform: translateY(-10px) rotate(-45deg); }
  100% {
    transform: translateY(0) rotate(-45deg); } }
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg); }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg); }
  80% {
    transform: translateY(-10px) rotate(-45deg); }
  100% {
    transform: translateY(0) rotate(-45deg); } }
@-o-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg); }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg); }
  80% {
    transform: translateY(-10px) rotate(-45deg); }
  100% {
    transform: translateY(0) rotate(-45deg); } }
@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg); }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg); }
  80% {
    transform: translateY(-10px) rotate(-45deg); }
  100% {
    transform: translateY(0) rotate(-45deg); } }
.passenger-popup .caption {
  margin: 0;
  line-height: 1;
  color: #999;
  font-size: 12px; }
.passenger-popup .value {
  margin: 0;
  margin-bottom: 5px; }

/*# sourceMappingURL=admin.monitor.css.map */
