@import 'sass/vendors/_autoload.scss';
@import 'sass/themes/_default.scss';
@import 'sass/themes/_dark.scss';
@import 'sass/components/gritter-notification.scss';

body, #map {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.navbar.navbar-default {

	background: #343642;

	.navbar-header a.navbar-brand {
		color: #FFF;
	}

	.nav.navbar-nav > li > a {
		color: #FFF;
	}
}

.container-fluid.app {
	padding: 0px;
}

.fa-spin {
	-webkit-animation: fa-spin 1s infinite linear;
	animation: fa-spin 1s infinite linear;
}


// .driver-popup {
.leaflet-popup.leaflet-zoom-animated {

	.leaflet-popup-close-button {
		z-index: 1;
	}

	.leaflet-popup-content-wrapper {
		border-radius: 5px;
		padding: 0px 15px 0px 0px;
		background-color: #212020;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	}

	.leaflet-popup-content {

		margin: 0px;
		min-width: 300px;
		font-family: 'base_webfont';


		.label-message-status {
			z-index: 1;
			bottom: 8px;
			width: 124px;
			height: auto;
			padding: 10px;
			transition: height 1;
			position: absolute;
			background-color: #607D8B;

			.title {
				margin: 0;
				padding: 0px;
				color: #FF9800;
				font-size: 1.5em;
			}
			.call-message {
				color: #FFF;
				.txt-hide {
					display: none;
				}
			}

			.detail, .list {
				display: none;
				margin: 5px auto 0px 10px;
				i {
					color: #444;
				}
			}

			&.open {
				width: 100%;
				height: 100%;
				text-align: left;
				border-radius: 3px;
				transition-duration: 1s;
				transition-property: height;
				transition-timing-function: ease;

				.call-message {
					color: #CCC;
					bottom: 12px;
					position: fixed;
					padding: 2px 6px;
					border-radius: 3px;
					border: 1px solid #ccc;
					background-color: #607D8B;
					.txt-show {
						display: none;
					}
					.txt-hide {
						display: inline
					}
				}

				.detail, .list {
					display: block;
				}
			}
		}

		.center-cropped {
			width: 100px;
			height: 100px;
			background-position: center center;
			background-repeat: no-repeat;
		}

		.driver-img {
			width: 124px;
			max-height: 124px;
			border-radius: 4px 1px 1px 4px;
		}

		.driver-info {
			padding-top: 10px;
			padding-left: 0px;
			max-height: 124px;

			.pull-left {
				margin-right: 15px;
			}

			p.caption, p.value {
				margin: 0px;
			}

			p.caption {
				color: #999;
				font-size: 12px;
				margin-top: 6px;
			}

			p.value {
				font-size: 14px;
				line-height: 18px;
			}
		}

		button.choose {
			left: 15px;
			bottom: 0px;
			width: 124px;
			position: absolute;
			border-right: none;
			border-bottom: none;
			color: #111;
			background-color: rgba(255, 255, 255, 0.8);

			&:hover {
				color: #F5F5F5;
				background-color: rgba(33, 32, 32, 0.4);
			}
		}
	}
}

.taxi-counter {
	right: 0;
	z-index: 100;
	width: 230px;
	margin-top: 60px;
	margin-right: 10px;
	position: absolute;

	@media (max-width: 767px) {
		transition: .3s;
		right: -230px;
		position: fixed;

		&.open {
			right: 0px;
			transition: .3s;
			transition-timing-function: ease;
		}

		.puller {
			display: block!important;
		}
	}

	a.puller {
		top: 30%;
		left: -50px;
		width: 100px;
		height: 100px;
		display: none;
		cursor: pointer;
		text-align: left;
		border-radius: 50%;
		position: absolute;
		padding: 30px 10px;
		color: rgba(255, 255, 255, 0.82);
		background-color: rgba(17, 17, 17, 0.72);
		i {
			font-size: 40px;
		}
	}

	.list-group {
		box-shadow: 0px 0px 7px rgba(204, 204, 204, 0.7);
		-webkit-box-shadow: 0px 0px 7px rgba(204, 204, 204, 0.7);
	}

	.list-group-item {
		padding: 4px 15px;

		img {
			width: 18px;
		}

		i.material-icons {
			font-size: 14px;
			background: #2196F3;
			border-radius: 50%;
			padding: 2px;
			color: #FFF;
			border: 2px #FFF;
		}

		.badge {
			margin-top: 3px;
			margin-right: 12px;
		}

		.js-switch-wrap {
			float: right;
		}

		form {
			position: relative;
			margin-bottom: -20px;
			margin-top: -6px;
			.mdl-textfield__input,
			.mdl-textfield__label {
				font-size: 12px;
			}
		}
	}
}

.position-pin {
	width: auto !important;
	height: auto !important;
	.wrapper {
		color: #2196F3;
		font-size: 16px;
		min-width: 130px;
		padding: 5px 5px;
		position: relative;
		border-radius: 4px;
		text-align: center;
		display: inline-flex;
		.icon {
			display: inline-block;
			border-radius: 50%;
			width: 18px;
			height: 18px;
			background-color: #2196F3;
			color: #3F51B5;
			font-size: 18px;
			padding: 4px;
			i.material-icons {
				font-size: 10px;
			}
		}
		.text {
			display: inline-block;
			text-shadow: 1px 1px 1px #FFF;
			vertical-align: super;
			font-family: base_webfont;
			font-size: 12px;
			margin-left: 5px;
		}

		.arrow {
			position: absolute;
			display: none;
			width: 0;
			height: 0;
			border-color: transparent;
			border-style: solid;
			border-width: 11px;
			bottom: -11px;
			left: 50%;
			margin-left: -11px;
			border-top-color: #3f51b5;
			border-bottom-width: 0;
		}
	}

	&.landmark {
		.wrapper {
			background-color: transparent;
			.icon {
				color: #FFF;
				background-color: #F44336;
			}
			.text {
				color: #F44336;
			}
			.arrow {
				border-top-color: #795548;
			}
		}
	}

	&.parking {
		.wrapper {
			background-color: rgba(0, 0, 0, 0);
			.icon {
				color: #FFFFFF;
			}
			.arrow {
				border-top-color: #607D8B;
			}
		}
	}
}

.passenger-pin {
	.pin {

		i {
			transform: rotate(45deg);
			color: #FFF;
			margin-left: 4px;
			margin-top: 4px;
			font-size: 24px;
		}

		width: 35px;
		height: 35px;
		border-radius: 50% 50% 50% 0;
		background: #11b41e;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -25px 0 0 -22px;
		// animation-name: bounce;
		// animation-fill-mode: both;
		// animation-duration: 1s;
		border: 2px solid #fff;
		transform: rotate(-45deg);
	}
	.pin:after {
		// content: '';
		// width: 14px;
		// height: 14px;
		// margin: 8px 0 0 8px;
		// background: #2f2f2f;
		// position: absolute;
		// border-radius: 50%;
	}
	.pulse {
		background: rgba(0,0,0,0.2);
		border-radius: 50%;
		height: 14px;
		width: 14px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: 11px 0px 0px -12px;
		transform: rotateX(55deg);
		z-index: -2;
	}
	.pulse:after {
		content: "";
		border-radius: 50%;
		height: 40px;
		width: 40px;
		position: absolute;
		margin: -13px 0 0 -13px;
		animation: pulsate 1s ease-out;
		animation-iteration-count: infinite;
		opacity: 0;
		box-shadow: 0 0 1px 2px #89849b;
		animation-delay: 1.1s;
	}
	@-moz-keyframes pulsate {
		0% {
			transform: scale(0.1, 0.1);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: scale(1.2, 1.2);
			opacity: 0;
		}
	}
	@-webkit-keyframes pulsate {
		0% {
			transform: scale(0.1, 0.1);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: scale(1.2, 1.2);
			opacity: 0;
		}
	}
	@-o-keyframes pulsate {
		0% {
			transform: scale(0.1, 0.1);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: scale(1.2, 1.2);
			opacity: 0;
		}
	}
	@keyframes pulsate {
		0% {
			transform: scale(0.1, 0.1);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: scale(1.2, 1.2);
			opacity: 0;
		}
	}
	@-moz-keyframes bounce {
		0% {
			opacity: 0;
			transform: translateY(-2000px) rotate(-45deg);
		}
		60% {
			opacity: 1;
			transform: translateY(30px) rotate(-45deg);
		}
		80% {
			transform: translateY(-10px) rotate(-45deg);
		}
		100% {
			transform: translateY(0) rotate(-45deg);
		}
	}
	@-webkit-keyframes bounce {
		0% {
			opacity: 0;
			transform: translateY(-2000px) rotate(-45deg);
		}
		60% {
			opacity: 1;
			transform: translateY(30px) rotate(-45deg);
		}
		80% {
			transform: translateY(-10px) rotate(-45deg);
		}
		100% {
			transform: translateY(0) rotate(-45deg);
		}
	}
	@-o-keyframes bounce {
		0% {
			opacity: 0;
			transform: translateY(-2000px) rotate(-45deg);
		}
		60% {
			opacity: 1;
			transform: translateY(30px) rotate(-45deg);
		}
		80% {
			transform: translateY(-10px) rotate(-45deg);
		}
		100% {
			transform: translateY(0) rotate(-45deg);
		}
	}
	@keyframes bounce {
		0% {
			opacity: 0;
			transform: translateY(-2000px) rotate(-45deg);
		}
		60% {
			opacity: 1;
			transform: translateY(30px) rotate(-45deg);
		}
		80% {
			transform: translateY(-10px) rotate(-45deg);
		}
		100% {
			transform: translateY(0) rotate(-45deg);
		}
	}
}

.passenger-popup {
	.caption {
		margin: 0;
		line-height: 1;
		color: #999;
		font-size: 12px;
	}
	.value {
		margin: 0;
		margin-bottom: 5px;
	}
}