@import 'sass/vendors/_autoload.scss';
@import 'sass/base/_font.scss';
@import 'sass/themes/_default.scss';
@import 'sass/themes/_dark.scss';
@import 'sass/components/creative-buttons.css';
@import 'sass/components/gritter-notification.scss';
@import 'sass/components/datatable.scss';

html, body {
	font-family: 'base_webfont';
}

body {
	height: 100%;
	// padding-top: 60px;
	overflow-y: auto;
	background-color: #FFF;
}

.container.app,
.container-fluid.app {
	height: 100%;
	padding: 15px;
	background-color: #FFF;
}

.tab-content {
	padding-top: 15px;
}


.dataTable, .datatable {
	thead th, 
	thead td {
		font-size: 12px;
	}

	tbody th, 
	tbody td {
		font-size: 12px;

		&:nth-child(n+9) {
			color: #4CAF50;
			text-align: center;
		}

		&:nth-child(n+11) {
			color: #2196F3;
		}

		&:nth-child(n+13) {
			color: #F44336;
		}
	}
}


.daterange {
	padding: 6px 12px;
}

.daterangepicker .calendar th, 
.daterangepicker .calendar td {
    font-size: small;
}

.dataTables_scrollHeadInner {
	margin-top: 10px;
	border-top: 1px solid #000;
}

#TaxiUsageTable,
#CallcenterUsageTable {
	tr {

		td.details-control > i.material-icons {
			color: #2196F3;
			cursor: pointer;
		}

		&.shown {
			td.details-control > i.material-icons {
				color: #F44336;
			}
		}

		td[colspan] {
			background: #E0E0E0;
		}

		td[colspan] > table {
			width: 80%;
			margin: 0 auto;

			tbody th, 
			tbody td {
				font-size: 12px;

				&:nth-child(n+5) {
					color: #4CAF50;
					text-align: center;
				}

				&:nth-child(n+7) {
					color: #2196F3;
				}

				&:nth-child(n+9) {
					color: #F44336;
				}
			}
		}

		table {
			tr > td:first-child {

				i.material-icons.reg {
					color: #2196F3;
				}
				
				i.material-icons.none-reg {
					color: #4CAF50;
				}
			}
		}
	}
}

button#submitFilter,
button#showHideGraph {

	top: -4px;
	font-weight: normal;
	padding: 6px 18px;
	border-radius: 4px;
	margin: 0 12px;
	background: #2196F3;
	box-shadow: 0 5px #1c80d0;

	i.material-icons {
		font-size: 20px;
		vertical-align: text-top;
	}

	&:hover {
		top: -2px;
		color: #f1f1f1;
		text-decoration: none;
		box-shadow: 0 3px #1c80d0;
	}

	&:active {
		top: 1px;
		outline: 0;
		text-decoration: none;
		box-shadow: 0 0 #1c80d0;
	}

	&:focus {
		outline: 0;
		text-decoration: none;
	}
}


#CallcenterLogTab {

	text-align: center;
	
	.summary-time {
		.title {
			margin: 0px;
		}
		#summary-reportrange {
			padding: 5px 10px;
		}
	}

	.summary.rectangle {
		padding: 10px 20px;
		margin-right: 20px;
		margin-bottom: 15px;
		border-radius: 10px;
		border: 2px solid #ccc;
		display: inline-block;

		ul {
			margin: 0;
			padding-left: 0px;
			li {
				display: inline-block;
				&.icon {
					font-size: 36px;
					margin-top: 20px;
					margin-right: 10px;
					vertical-align: top;
				}
			}
		}

		.caption {
			padding-left: 6px;
			border-left: 3px solid #ccc;
		}
		.title-badge {
			font-size: 26px;
			margin-bottom: 0px;
		}
		.detail {
			margin: 0;
			.counter {

			}
			.unit {

			}
		}

		&.peak-hour {
			.title-badge {
				color: #FF5722;
			}
		}

		&.most-pick {
			.title-badge {
				color: #3F51B5;
			}
		}

		&.most-destination {
			.title-badge {
				color: #009688;
			}
		}
	}

	.summary.circle {    
		margin: 10px 15px;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		.counter {
			margin: 0;
			width: 120px;
			height: 120px;
			padding: 26px 0px;
			border-radius: 50%;
			text-align: center;
			margin-bottom: 10px;
			border: 2px solid #ccc;
			&.orange {
				border-color: #FF5722;
				&:hover {
					color: #FFF;
					cursor: pointer;
					background-color: #FF5722;
				}
			}
			&.blue {
				border-color: #2196F3;
				&:hover {
					color: #FFF;
					cursor: pointer;
					background-color: #2196F3;
				}
			}
			&.red {
				border-color: #E91E63;
				&:hover {
					color: #FFF;
					cursor: pointer;
					background-color: #E91E63;
				}
			}
			&.green {
				border-color: #4CAF50;
				&:hover {
					color: #FFF;
					cursor: pointer;
					background-color: #4CAF50;
				}
			}
			&.gray {
				border-color: #607D8B;
				&:hover {
					color: #FFF;
					cursor: pointer;
					background-color: #607D8B;
				}
			}
			&.default {
				border-color: #CCC;
				&:hover {
					color: #FFF;
					cursor: pointer;
					background-color: #CCC;
				}
			}
			.number {
				margin: 0;
				margin-top: 13px;
				font-size: 28px;
			}
			.unit {

			}
		}
	}
}


.g-btn {
	cursor: pointer;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    margin-left: 15px;
    text-align: center;
	&:hover {
		background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
		background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		background-color: #f8f8f8;
		background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
		background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
		border: 1px solid #c6c6c6;
		box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		color: #222;
	}
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 1s infinite linear;
}


.summary-circle-group {
	text-align: center;

	.summary.circle {    
		margin: 10px 15px;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		.counter {
			margin: 0;
			width: 120px;
			height: 120px;
			cursor: pointer;
			padding: 26px 0px;
			border-radius: 50%;
			text-align: center;
			margin-bottom: 10px;
			border: 2px solid #ccc;
			&.orange {
				border-color: #FF5722;
				&:hover {
					color: #FFF;
					background-color: #FF5722;
				}
			}
			&.blue {
				border-color: #2196F3;
				&:hover {
					color: #FFF;
					background-color: #2196F3;
				}
			}
			&.red {
				border-color: #E91E63;
				&:hover {
					color: #FFF;
					background-color: #E91E63;
				}
			}
			&.green {
				border-color: #4CAF50;
				&:hover {
					color: #FFF;
					background-color: #4CAF50;
				}
			}
			&.green2 {
				border-color: #009688;
				&:hover {
					color: #FFF;
					background-color: #009688;
				}
			}
			&.gray {
				border-color: #607D8B;
				&:hover {
					color: #FFF;
					background-color: #607D8B;
				}
			}
			&.default {
				border-color: #CCC;
				&:hover {
					color: #FFF;
					background-color: #CCC;
				}
			}
			.number {
				margin: 0;
				font-size: 30px;
				margin-top: 12px;
			}
			.unit {

			}
		}
	}
}

#view-mode-list {

	@extend .g-btn;

	margin-right: 8px !important;
	padding: 3px 19px 3px 16px;
    border-bottom: 1px solid #ccc;
}