@import url(sass/vendors/font-awesome/css/font-awesome.min.css);
@import url(sass/vendors/hover-master/css/hover-min.css);
@import url(sass/vendors/animate/animate.css);
@import url(sass/components/sidebarEffects.custom.css);
@import url(sass/components/intial-app-loading.css);
@font-face {
  font-family: base_webfont;
  src: url(fonts/sukhumvitset-text-webfont.woff); }
@font-face {
  font-family: clound_light_font;
  src: url(fonts/Cloud-Light.otf); }
@font-face {
  font-family: clound_bold_font;
  src: url(fonts/Cloud-Bold.otf); }
body {
  background-color: #e6e6e6; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc; }

::-webkit-scrollbar-thumb {
  background-color: #ccc; }

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; }

body.dark-theme input, body.dark-theme textarea, body.dark-theme keygen, body.dark-theme select, body.dark-theme button {
  background-color: transparent; }
body.dark-theme .form-control[disabled],
body.dark-theme .form-control[readonly],
body.dark-theme fieldset[disabled] .form-control {
  background-color: transparent; }
body.dark-theme .btn-default:hover, body.dark-theme .btn-default:active, body.dark-theme .btn-default:focus,
body.dark-theme .btn-success:hover,
body.dark-theme .btn-success:active,
body.dark-theme .btn-success:focus,
body.dark-theme .btn-info:hover,
body.dark-theme .btn-info:active,
body.dark-theme .btn-info:focus,
body.dark-theme .btn-warning:hover,
body.dark-theme .btn-warning:active,
body.dark-theme .btn-warning:focus,
body.dark-theme .btn-danger:hover,
body.dark-theme .btn-danger:active,
body.dark-theme .btn-danger:focus {
  background-color: transparent; }
body.dark-theme .navbar-default {
  background: #343642; }
  body.dark-theme .navbar-default .nav.navbar-nav li:hover {
    background-color: #26282F; }
  body.dark-theme .navbar-default .nav.navbar-nav li > a {
    color: #FFF; }
body.dark-theme .nav.nav-tabs > li.active > a,
body.dark-theme .nav.nav-tabs > li.active > a:focus,
body.dark-theme .nav.nav-tabs > li.active > a:hover {
  color: #FFF;
  background-color: transparent; }
body.dark-theme .nav.nav-tabs > li > a:focus, body.dark-theme .nav.nav-tabs > li > a:hover {
  text-decoration: none;
  background-color: transparent; }
body.dark-theme .panel {
  background-color: transparent; }
  body.dark-theme .panel .panel-heading {
    background-color: transparent; }
    body.dark-theme .panel .panel-heading .panel-title a:hover {
      background-color: rgba(241, 241, 241, 0.1); }
body.dark-theme .table thead tr th {
  color: #FFF; }
body.dark-theme .table tbody tr {
  background-color: transparent; }
  body.dark-theme .table tbody tr:hover, body.dark-theme .table tbody tr.active {
    background-color: #1A4261; }
    body.dark-theme .table tbody tr:hover > th, body.dark-theme .table tbody tr:hover > td, body.dark-theme .table tbody tr.active > th, body.dark-theme .table tbody tr.active > td {
      background-color: #1A4261; }
body.dark-theme .modal .modal-content {
  background-color: #343642; }
  body.dark-theme .modal .modal-content .modal-header {
    color: #FFF; }
  body.dark-theme .modal .modal-content .modal-body {
    color: #FFF; }
    body.dark-theme .modal .modal-content .modal-body input, body.dark-theme .modal .modal-content .modal-body textarea, body.dark-theme .modal .modal-content .modal-body select, body.dark-theme .modal .modal-content .modal-body button {
      color: #FFF; }
  body.dark-theme .modal .modal-content .modal-footer input, body.dark-theme .modal .modal-content .modal-footer textarea, body.dark-theme .modal .modal-content .modal-footer select, body.dark-theme .modal .modal-content .modal-footer button {
    color: #FFF; }
body.dark-theme .popover {
  color: #FFF;
  background-color: #343642; }
  body.dark-theme .popover > .arrow:after {
    border-left-color: #343642; }
  body.dark-theme .popover .popover-title {
    color: #FFF;
    background-color: #343642; }
body.dark-theme .st-menu {
  background-color: #343642; }
  body.dark-theme .st-menu * {
    color: #FFF; }

.navbar.navbar-fixed-top {
  max-height: 50px;
  margin-bottom: 0px;
  border-bottom: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .navbar.navbar-fixed-top button.navbar-toggle {
    border: none;
    background: transparent; }
    .navbar.navbar-fixed-top button.navbar-toggle.mdl-button {
      min-width: inherit; }
    .navbar.navbar-fixed-top button.navbar-toggle .icon-bar {
      background-color: #FFF; }
  .navbar.navbar-fixed-top .garageadmin-homelogo {
    height: 50px;
    display: block;
    padding: 12px 16px;
    background-color: #b21616; }
  @media (max-width: 767px) {
    .navbar.navbar-fixed-top #navbar {
      display: none !important; } }
  .navbar.navbar-fixed-top .nav.navbar-nav > li a {
    color: #FFF;
    min-height: 50px;
    max-height: 50px; }
    .navbar.navbar-fixed-top .nav.navbar-nav > li a i.material-icons {
      font-size: 21px;
      text-shadow: 1px 1px 2px #000; }
  .navbar.navbar-fixed-top .nav.navbar-nav > li > a {
    cursor: pointer; }
  .navbar.navbar-fixed-top .nav.navbar-nav li .toggle-sidebar {
    padding: 18px 15px; }
  .navbar.navbar-fixed-top .nav.navbar-nav .dropdown-menu {
    border: none;
    background-color: #464952; }
    .navbar.navbar-fixed-top .nav.navbar-nav .dropdown-menu li a {
      min-height: initial;
      max-height: initial; }
      .navbar.navbar-fixed-top .nav.navbar-nav .dropdown-menu li a:hover {
        color: #FFF;
        background-color: #26282F; }
  .navbar.navbar-fixed-top .nav.navbar-nav li.filter-marker a.img-icon {
    padding: 10px; }
  .navbar.navbar-fixed-top .nav.navbar-nav li.filter-marker .bottom-line {
    width: 100%;
    bottom: 0px;
    margin: 0px;
    height: 2px;
    padding: 0px;
    display: none;
    position: absolute;
    background-color: #FFF; }
  .navbar.navbar-fixed-top .nav.navbar-nav li.filter-marker.active a.img-icon {
    background-color: #26282F; }
  .navbar.navbar-fixed-top .nav.navbar-nav li.filter-marker.active .bottom-line {
    display: block; }

#navbar-menu {
  display: none; }

@media (max-width: 767px) {
  #navbar-menu {
    display: block;
    top: 0;
    z-index: 110;
    width: 85%;
    height: 100%;
    right: -85%;
    padding-top: 50px;
    transition: .3s;
    background: #FFF;
    position: fixed; }
    #navbar-menu.open {
      right: 0px;
      transition: .3s;
      transition-timing-function: ease;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
    #navbar-menu .wrapper {
      height: 100%;
      padding-bottom: 100px;
      position: relative;
      overflow: hidden;
      overflow-y: auto;
      box-sizing: border-box; }
      #navbar-menu .wrapper .mdl-card {
        width: 100%;
        min-height: inherit; }
        #navbar-menu .wrapper .mdl-card .mdl-card__supporting-text {
          width: 100%;
          padding: 0px 6px; }
          #navbar-menu .wrapper .mdl-card .mdl-card__supporting-text .mdl-list {
            padding: 8px 16px; }
            #navbar-menu .wrapper .mdl-card .mdl-card__supporting-text .mdl-list .mdl-list__item {
              height: auto;
              padding: 0px; }
          #navbar-menu .wrapper .mdl-card .mdl-card__supporting-text hr {
            margin-top: 6px;
            margin-bottom: 0px; } }
.navbar-default {
  background: #343642; }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    background-color: #464952; }
  .navbar-default .nav.navbar-nav li:hover {
    cursor: pointer; }
    .navbar-default .nav.navbar-nav li:hover > a {
      color: #FFF;
      background-color: #464952; }
  .navbar-default .nav.navbar-nav li.active > a {
    color: #FFF;
    background-color: #26282F; }
  .navbar-default .nav.navbar-nav .chat-tab > a,
  .navbar-default .nav.navbar-nav .announce-tab > a {
    color: #FFF; }
  .navbar-default .nav.navbar-nav .refresh-tab > a {
    color: #009688;
    font-size: 20px; }
  .navbar-default .nav.navbar-nav .sound-notification-tab > a {
    max-height: 50px;
    padding: 15px 8px; }
    .navbar-default .nav.navbar-nav .sound-notification-tab > a .icon {
      margin-right: 6px; }
    .navbar-default .nav.navbar-nav .sound-notification-tab > a .icon,
    .navbar-default .nav.navbar-nav .sound-notification-tab > a .js-switch-wrap {
      color: #FFF;
      float: left; }
  .navbar-default .nav.navbar-nav .alert-tab .dropdown-toggle i {
    color: #FFF; }
  .navbar-default .nav.navbar-nav .alert-tab .dropdown-toggle .label {
    top: -6px;
    left: -2px;
    position: relative; }
  .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu {
    border: none;
    padding: 0px;
    min-width: 300px; }
    .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel {
      padding: 0px;
      margin: 0px;
      border: none; }
      .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-heading {
        color: #F9F9F9;
        border-radius: 0px;
        background-color: #464952; }
      .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body {
        padding: 0px;
        max-height: 400px;
        overflow-y: auto; }
        .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body .list-group {
          margin: 0px; }
          .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body .list-group .list-group-item {
            cursor: pointer;
            border-left: 0px;
            border-right: 0px; }
            .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body .list-group .list-group-item:first-child, .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body .list-group .list-group-item:last-child {
              border-radius: 0px; }
            .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body .list-group .list-group-item:hover {
              background-color: #f7f7f7; }
            .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body .list-group .list-group-item .message {
              line-height: 1;
              margin-bottom: 6px;
              color: #777; }
            .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body .list-group .list-group-item span {
              font-size: 12px; }
            .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body .list-group .list-group-item .datetime {
              color: #E91E63;
              font-size: 12px; }
            .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body .list-group .list-group-item .detail {
              color: #009688; }
              .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body .list-group .list-group-item .detail i {
                color: #9E9E9E;
                font-style: normal; }
            .navbar-default .nav.navbar-nav .alert-tab .dropdown-menu .panel .panel-body .list-group .list-group-item .sender {
              color: #2196F3;
              float: right;
              line-height: 1; }
  .navbar-default .nav.navbar-nav .search-tab #searchTaskFormNavbar {
    margin-bottom: 0px; }
  .navbar-default .nav.navbar-nav .search-tab .mdl-textfield {
    padding: 9px; }
    .navbar-default .nav.navbar-nav .search-tab .mdl-textfield .mdl-button {
      bottom: initial; }
      .navbar-default .nav.navbar-nav .search-tab .mdl-textfield .mdl-button i {
        color: #FFF; }
  .navbar-default .nav.navbar-nav .search-tab .mdl-textfield__input {
    color: #FFF; }
  .navbar-default .navbar-right .waitapprove-tab span.badge {
    right: 0px;
    top: 6px;
    border-radius: 3px;
    font-size: 10px;
    position: absolute;
    background-color: #b21616; }
  .navbar-default .navbar-right .report-tab.open > a,
  .navbar-default .navbar-right .user-profile-tab.open > a {
    background-color: #464952; }
    .navbar-default .navbar-right .report-tab.open > a:focus, .navbar-default .navbar-right .report-tab.open > a:hover,
    .navbar-default .navbar-right .user-profile-tab.open > a:focus,
    .navbar-default .navbar-right .user-profile-tab.open > a:hover {
      color: #FFF;
      background-color: #464952; }
  .navbar-default .navbar-right .report-tab.open > .dropdown-menu,
  .navbar-default .navbar-right .user-profile-tab.open > .dropdown-menu {
    border: none;
    background-color: #464952; }
    .navbar-default .navbar-right .report-tab.open > .dropdown-menu > li > a,
    .navbar-default .navbar-right .user-profile-tab.open > .dropdown-menu > li > a {
      color: #FFF; }
    .navbar-default .navbar-right .report-tab.open > .dropdown-menu > li > a:focus,
    .navbar-default .navbar-right .report-tab.open > .dropdown-menu > li > a:hover,
    .navbar-default .navbar-right .user-profile-tab.open > .dropdown-menu > li > a:focus,
    .navbar-default .navbar-right .user-profile-tab.open > .dropdown-menu > li > a:hover {
      background-color: #343642; }
  .navbar-default .navbar-right .report-tab:hover,
  .navbar-default .navbar-right .user-profile-tab:hover {
    background-color: #1A4261 !important; }
  .navbar-default .navbar-right .report-tab a > i.fa {
    color: #FFF;
    font-size: 20px; }
  .navbar-default .navbar-right .report-tab .dropdown-toggle {
    padding: 15px 20px; }
  .navbar-default .navbar-right .user-profile-tab .dropdown-toggle {
    padding: 2px 15px; }
  .navbar-default .navbar-right .user-profile-tab > a > img {
    max-width: 45px;
    max-height: 45px; }
  .navbar-default .navbar-right .user-profile-tab > a > .garage-info {
    margin-top: 8px;
    margin-left: 8px; }
    .navbar-default .navbar-right .user-profile-tab > a > .garage-info p {
      font-size: 11px;
      margin-bottom: 0px;
      line-height: 1.5; }
  .navbar-default .navbar-right .user-profile-tab .dropdown-menu {
    padding: 0;
    min-width: 300px; }
    .navbar-default .navbar-right .user-profile-tab .dropdown-menu .img-garage {
      float: left;
      min-height: 100px;
      max-height: 100px; }
    .navbar-default .navbar-right .user-profile-tab .dropdown-menu .profile {
      float: left;
      color: #FFF;
      padding: 10px 12px;
      padding-bottom: 0; }
      .navbar-default .navbar-right .user-profile-tab .dropdown-menu .profile .title {
        color: #999;
        line-height: 1;
        font-size: 0.9em; }
      .navbar-default .navbar-right .user-profile-tab .dropdown-menu .profile .name {
        margin-bottom: 0; }
      .navbar-default .navbar-right .user-profile-tab .dropdown-menu .profile .email {
        line-height: 1;
        font-size: 12px;
        margin-bottom: 0; }
      .navbar-default .navbar-right .user-profile-tab .dropdown-menu .profile .position {
        color: #FFC107;
        font-size: 0.9em;
        margin-bottom: 0; }
    .navbar-default .navbar-right .user-profile-tab .dropdown-menu .divider {
      margin: 0px; }
    .navbar-default .navbar-right .user-profile-tab .dropdown-menu .control {
      padding: 6px; }
      .navbar-default .navbar-right .user-profile-tab .dropdown-menu .control > a {
        width: 48%;
        margin: 0px;
        padding: 6px 12px;
        text-align: center;
        border-radius: 3px;
        display: inline-block; }
        .navbar-default .navbar-right .user-profile-tab .dropdown-menu .control > a:first-child {
          background: #2196F3; }

.modal-control {
  top: 0;
  right: 20px;
  z-index: 1;
  position: absolute; }
  .modal-control .btn {
    padding: 8px 16px;
    border-top-width: 0; }
    .modal-control .btn:first-child {
      border-radius: 0px 0px 0px 4px; }
    .modal-control .btn:last-child {
      border-radius: 0px 0px 4px 0px; }

@media (min-width: 860px) {
  #createTaskModal > .modal-dialog {
    width: 800px; } }
@media (min-height: 900px) {
  #createTaskModal > .modal-dialog {
    margin-top: 150px; } }
#createTaskModal > .modal-dialog .modal-content {
  color: #444;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
  box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
  #createTaskModal > .modal-dialog .modal-content .modal-body {
    color: #444;
    padding: 30px 50px; }
    #createTaskModal > .modal-dialog .modal-content .modal-body .popover.top.in {
      padding: 0;
      color: #FFF;
      border: none;
      text-align: center;
      background-color: #EF6C00; }
      #createTaskModal > .modal-dialog .modal-content .modal-body .popover.top.in .arrow::after {
        border-top-color: #EF6C00; }
      #createTaskModal > .modal-dialog .modal-content .modal-body .popover.top.in .popover-content {
        font-size: 13px; }
    #createTaskModal > .modal-dialog .modal-content .modal-body #pickUpPOIBtn.valid {
      color: #FFFFFF;
      border: 1px solid #009245;
      border-radius: 0px 2px 2px 0px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#009245), to(#088242));
      background-image: -webkit-linear-gradient(top, #009245, #088242); }
    #createTaskModal > .modal-dialog .modal-content .modal-body .js-switch-wrap > .text {
      padding: 0px 10px; }
    #createTaskModal > .modal-dialog .modal-content .modal-body .mdl-radio {
      font-size: 12px; }
      #createTaskModal > .modal-dialog .modal-content .modal-body .mdl-radio .mdl-radio__inner-circle {
        background: #607D8B; }
      #createTaskModal > .modal-dialog .modal-content .modal-body .mdl-radio .mdl-radio__outer-circle {
        border-color: #607D8B; }
    #createTaskModal > .modal-dialog .modal-content .modal-body hr {
      margin: 8px auto 20px;
      border-top: 1px solid #999; }
    #createTaskModal > .modal-dialog .modal-content .modal-body input, #createTaskModal > .modal-dialog .modal-content .modal-body textarea {
      color: #444;
      background-color: transparent; }
    #createTaskModal > .modal-dialog .modal-content .modal-body textarea {
      min-height: 110px; }
    #createTaskModal > .modal-dialog .modal-content .modal-body button#saveBtn {
      color: #FFF;
      font-size: 1.2em;
      padding: 8px 50px;
      border-color: #009245;
      background-color: #009245; }

@media (min-width: 860px) {
  #areaSuggestion > .modal-dialog {
    width: 900px; } }
@media (min-height: 900px) {
  #areaSuggestion > .modal-dialog {
    margin-top: 190px; } }
#areaSuggestion > .modal-dialog .modal-header .title {
  margin: 0px; }
#areaSuggestion > .modal-dialog .modal-content {
  color: #444;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
  box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
  #areaSuggestion > .modal-dialog .modal-content .modal-body {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px; }
    #areaSuggestion > .modal-dialog .modal-content .modal-body .row {
      margin: 0; }
    #areaSuggestion > .modal-dialog .modal-content .modal-body [class*="col-"] {
      padding: 0px; }
    #areaSuggestion > .modal-dialog .modal-content .modal-body .mdl-tabs__tab {
      font-size: 12px; }
    #areaSuggestion > .modal-dialog .modal-content .modal-body .mdl-list__item {
      font-size: 14px;
      font-family: "Roboto","Helvetica","Arial","base_webfont"; }
      #areaSuggestion > .modal-dialog .modal-content .modal-body .mdl-list__item:hover {
        background: #F9F9F9;
        cursor: pointer;
        color: #FF5722;
        border-radius: 4px; }
      #areaSuggestion > .modal-dialog .modal-content .modal-body .mdl-list__item .mdl-list__item-sub-title {
        font-size: 13px; }

#assignTaskModal .modal-dialog,
#assignTaskModal .modal-content {
  min-height: 560px; }
#assignTaskModal > .modal-dialog {
  margin-top: 100px;
  -webkit-transition: width .05s linear;
  transition: width .05s linear; }
  @media (min-width: 1024px) {
    #assignTaskModal > .modal-dialog {
      width: 960px; } }
  #assignTaskModal > .modal-dialog .modal-content {
    color: #444;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
    #assignTaskModal > .modal-dialog .modal-content .modal-body {
      padding: 0px; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .map-wrap, #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
        height: 560px;
        max-height: 560px; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .map-wrap i[icon-for="map-search-inp"] {
        top: 19px;
        right: 305px;
        z-index: 402;
        position: absolute; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .map-wrap form#assignTaskSearchTaxiForm {
        margin: 0; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .map-wrap #map-search-inp {
        top: 10px;
        right: 30px;
        z-index: 401;
        width: 300px;
        padding-left: 32px;
        position: absolute;
        border-top-right-radius: 2px;
        -webkit-background-clip: padding-box;
        box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
        min-width: 42px;
        background-color: white;
        background-clip: padding-box; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .map-wrap #map {
        border-radius: 2px 0px 0px 2px; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .radian-wrapper {
        bottom: 0px;
        height: 50px;
        width: 100%;
        z-index: 1060;
        position: absolute;
        margin-bottom: 10px; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .radian-wrapper .irs {
          margin: 0 auto;
          width: 500px; }
      #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
        padding-right: 30px;
        overflow-y: auto; }
        @media (max-width: 991px) {
          #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
            padding-left: 30px;
            padding-right: 30px; } }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .title {
          margin-top: 0px;
          padding-top: 20px; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap hr {
          margin: 5px 0px 20px; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .value-set {
          margin-bottom: 16px; }
          #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .value-set p.caption {
            margin: 0;
            color: #999;
            font-size: .9em; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .text.current {
          margin-bottom: 0; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .text.phone {
          font-size: 1.5em; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap #car-plate-inp {
          font-size: 1em;
          height: initial;
          text-align: center; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .popover.top.in {
          padding: 0;
          border: none; }
          #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .popover.top.in .arrow::after {
            border-top-color: #2196f3; }
          #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .popover.top.in .popover-content {
            color: #FFF;
            border-radius: 5px;
            background: #2196F3; }
            #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .popover.top.in .popover-content span {
              vertical-align: super; }
        #assignTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap button[type="submit"] {
          color: #FFF;
          font-size: 1.2em;
          padding: 8px 50px;
          background-color: #009245; }
  #assignTaskModal > .modal-dialog.full-screen {
    width: 90%;
    margin-top: 70px;
    -webkit-transition: width .05s linear;
    transition: width .05s linear; }
    @media (min-height: 800px) {
      #assignTaskModal > .modal-dialog.full-screen .map-wrap, #assignTaskModal > .modal-dialog.full-screen .detail-wrap {
        height: 700px !important;
        max-height: 700px !important; } }
    @media (min-height: 900px) {
      #assignTaskModal > .modal-dialog.full-screen .map-wrap, #assignTaskModal > .modal-dialog.full-screen .detail-wrap {
        height: 800px !important;
        max-height: 800px !important; } }
  #assignTaskModal > .modal-dialog.lock-modal {
    display: none; }
    #assignTaskModal > .modal-dialog.lock-modal .wrap-lock {
      width: 100%;
      position: absolute;
      top: 30%;
      z-index: 1050;
      background: #3c8dfe;
      text-align: center;
      color: #FFF;
      padding: 50px 0px; }
    #assignTaskModal > .modal-dialog.lock-modal .overlay-lock {
      width: 100%;
      height: 100%;
      background: #ccc;
      opacity: 0.1;
      z-index: 1049;
      position: absolute; }

@media (min-width: 768px) {
  #assignTaskByLineModal .modal-dialog {
    width: 300px;
    margin: 150px auto; } }
#assignTaskByLineModal .modal-header {
  padding-bottom: 5px; }
  #assignTaskByLineModal .modal-header .modal-title {
    margin: 0; }
  #assignTaskByLineModal .modal-header .modal-message {
    margin: 0;
    font-size: 12px; }
#assignTaskByLineModal .modal-content {
  color: #444;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
  box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
  #assignTaskByLineModal .modal-content .modal-body {
    padding: 16px;
    min-height: 350px; }
    #assignTaskByLineModal .modal-content .modal-body .detail-wrap {
      padding-right: 30px; }
      #assignTaskByLineModal .modal-content .modal-body .detail-wrap .value-set {
        margin-bottom: 26px; }
        #assignTaskByLineModal .modal-content .modal-body .detail-wrap .value-set p.caption {
          margin: 0;
          color: #999;
          font-size: .9em; }
      #assignTaskByLineModal .modal-content .modal-body .detail-wrap .text.phone {
        font-size: 1.5em; }
  #assignTaskByLineModal .modal-content .modal-footer {
    padding: 5px; }
    #assignTaskByLineModal .modal-content .modal-footer .btn-success {
      border-radius: 4px;
      border-color: #03A9F4;
      background-color: #2196F3; }

#assignedTaskModal > .modal-dialog {
  margin-top: 100px; }
  @media (min-width: 1024px) {
    #assignedTaskModal > .modal-dialog {
      width: 960px; } }
  #assignedTaskModal > .modal-dialog .modal-content {
    color: #444;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
    #assignedTaskModal > .modal-dialog .modal-content .modal-body {
      padding: 0px; }
      #assignedTaskModal > .modal-dialog .modal-content .modal-body .map-wrap, #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
        height: 600px;
        max-height: 600px;
        overflow-y: auto; }
      #assignedTaskModal > .modal-dialog .modal-content .modal-body .map-wrap i[icon-for="map-search-inp"] {
        top: 24px;
        left: 40px;
        z-index: 3;
        position: absolute; }
      #assignedTaskModal > .modal-dialog .modal-content .modal-body .map-wrap #map-search-inp {
        top: 15px;
        left: 30px;
        z-index: 2;
        width: 300px;
        padding-left: 32px;
        position: absolute;
        border-radius: 2px;
        background-color: #FAFAFA;
        box-shadow: 0 0px 7px rgba(144, 144, 144, 0.5);
        -webkit-box-shadow: 0 0px 7px rgba(144, 144, 144, 0.5); }
      #assignedTaskModal > .modal-dialog .modal-content .modal-body .map-wrap #map {
        border-radius: 2px 0px 0px 2px; }
      #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
        padding-right: 30px; }
        @media (max-width: 1023px) {
          #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap {
            padding: 15px;
            max-height: 100%;
            overflow-y: auto; } }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .title {
          margin-top: 0px;
          padding-top: 20px; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap hr {
          margin: 5px 0px 20px; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap [class*="col-"] {
          padding: 0; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .value-set {
          margin-bottom: 20px; }
          #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .value-set p.caption {
            margin: 0;
            color: #999;
            font-size: .9em; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .alert-missing-driver {
          display: none; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .driver-wrap {
          margin-bottom: 20px; }
          #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .driver-wrap .driver-img {
            width: 100px;
            height: 100px;
            border: 4px solid #C7C7C7; }
          #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .driver-wrap .value-set {
            margin-bottom: 12px; }
            #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap .driver-wrap .value-set p.caption {
              margin: 0;
              color: #999;
              font-size: .9em; }
        #assignedTaskModal > .modal-dialog .modal-content .modal-body .detail-wrap button.reject-btn {
          color: #FFF;
          font-size: 1.2em;
          padding: 8px 50px;
          margin-bottom: 15px;
          background-color: #A11414; }

#assignedTaskEditableModal > .modal-dialog {
  margin-top: 100px; }
  @media (min-width: 1024px) {
    #assignedTaskEditableModal > .modal-dialog {
      width: 300px; } }
  #assignedTaskEditableModal > .modal-dialog .modal-content {
    color: #444;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
    #assignedTaskEditableModal > .modal-dialog .modal-content .modal-body {
      padding: 12px; }
  #assignedTaskEditableModal > .modal-dialog #assignedTaskEditableForm button[type="submit"] {
    color: #F1F1F1;
    border: #2196F3;
    border-radius: 3px;
    border: 1px solid #2196F3;
    background-color: #2196F3; }
    #assignedTaskEditableModal > .modal-dialog #assignedTaskEditableForm button[type="submit"]:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#f1f1f1));
      background-image: -webkit-linear-gradient(top, #03A9F4, #2196F3);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      background-color: #2196F3;
      background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
      background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

#reportModal {
  margin: 0 auto;
  padding-top: 30px; }
  @media (min-width: 768) {
    #reportModal {
      width: 80%; } }
  #reportModal .modal-header .modal-message {
    margin: 0;
    font-size: 12px; }
  #reportModal .modal-header button[data-dismiss="modal"] {
    width: 40px;
    border: 1px solid rgba(204, 204, 204, 0);
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: #9E9E9E;
    text-align: center;
    padding: 8px;
    opacity: 1;
    color: FFF; }
    #reportModal .modal-header button[data-dismiss="modal"]:hover {
      background-color: #F44336; }
  #reportModal .modal-content {
    color: #444;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
    #reportModal .modal-content .modal-body {
      padding: 16px;
      min-height: 350px; }
  #reportModal .tab-content {
    padding: 15px 10px;
    text-align: center; }
  #reportModal .summary-time .title {
    margin: 0px; }
  #reportModal .summary-time #summary-reportrange {
    padding: 5px 10px; }
  #reportModal .summary.rectangle {
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #ccc;
    display: inline-block; }
    #reportModal .summary.rectangle ul {
      margin: 0;
      padding-left: 0px; }
      #reportModal .summary.rectangle ul li {
        display: inline-block; }
        #reportModal .summary.rectangle ul li.icon {
          font-size: 36px;
          margin-top: 20px;
          margin-right: 10px;
          vertical-align: top; }
    #reportModal .summary.rectangle .caption {
      padding-left: 6px;
      border-left: 3px solid #ccc; }
    #reportModal .summary.rectangle .title-badge {
      font-size: 26px;
      margin-bottom: 0px; }
    #reportModal .summary.rectangle .detail {
      margin: 0; }
    #reportModal .summary.rectangle.peak-hour .title-badge {
      color: #FF5722; }
    #reportModal .summary.rectangle.most-pick .title-badge {
      color: #3F51B5; }
    #reportModal .summary.rectangle.most-destination .title-badge {
      color: #009688; }
  #reportModal .summary.circle {
    margin: 10px 15px;
    text-align: center;
    vertical-align: top;
    display: inline-block; }
    #reportModal .summary.circle .counter {
      margin: 0;
      width: 120px;
      height: 120px;
      padding: 26px 0px;
      border-radius: 50%;
      text-align: center;
      margin-bottom: 10px;
      border: 2px solid #ccc; }
      #reportModal .summary.circle .counter.orange {
        border-color: #FF5722; }
        #reportModal .summary.circle .counter.orange:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #FF5722; }
      #reportModal .summary.circle .counter.blue {
        border-color: #2196F3; }
        #reportModal .summary.circle .counter.blue:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #2196F3; }
      #reportModal .summary.circle .counter.red {
        border-color: #E91E63; }
        #reportModal .summary.circle .counter.red:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #E91E63; }
      #reportModal .summary.circle .counter.green {
        border-color: #4CAF50; }
        #reportModal .summary.circle .counter.green:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #4CAF50; }
      #reportModal .summary.circle .counter.gray {
        border-color: #607D8B; }
        #reportModal .summary.circle .counter.gray:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #607D8B; }
      #reportModal .summary.circle .counter.default {
        border-color: #CCC; }
        #reportModal .summary.circle .counter.default:hover {
          color: #FFF;
          cursor: pointer;
          background-color: #CCC; }
      #reportModal .summary.circle .counter .number {
        margin: 0;
        font-size: 40px; }
  #reportModal #openReportWindowBtn {
    font-size: small;
    border-radius: 2px;
    border-color: #2196F3;
    background-color: #2196F3; }
    #reportModal #openReportWindowBtn i {
      vertical-align: middle; }
    #reportModal #openReportWindowBtn:hover {
      border-color: #03A9F4;
      background-color: #03A9F4; }

#confirmModal > .modal-dialog {
  margin-top: 300px;
  border-radius: 3px; }
  #confirmModal > .modal-dialog .modal-content .modal-body {
    padding: 30px 20px 20px; }
    #confirmModal > .modal-dialog .modal-content .modal-body .message {
      margin-bottom: 20px; }
  #confirmModal > .modal-dialog .modal-content .modal-footer {
    padding: 10px; }
    #confirmModal > .modal-dialog .modal-content .modal-footer .btn-danger {
      border-radius: 4px;
      border-color: #BB0C0C;
      background-color: #A11414; }

#confirmNoneRegisterDriverModal > .modal-dialog {
  margin-top: 300px;
  border-radius: 3px; }
  #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-body {
    text-align: center;
    padding: 10px 20px; }
    #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-body .message {
      margin-bottom: 20px; }
      #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-body .message .title {
        color: #FF5722; }
        #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-body .message .title i {
          font-size: 1.5em; }
  #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-footer {
    padding: 10px; }
    #confirmNoneRegisterDriverModal > .modal-dialog .modal-content .modal-footer .btn-primary {
      border-radius: 4px;
      border-color: #2196F3;
      background-color: #2196F3; }

#searchTaskWithResultListModal .modal-content {
  border-radius: 3px;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
#searchTaskWithResultListModal .modal-dialog {
  min-width: 980px;
  margin-top: 60px; }
#searchTaskWithResultListModal .modal-body {
  min-height: 300px; }
  #searchTaskWithResultListModal .modal-body form[role="search"].pull-left {
    margin-bottom: 0px; }
    #searchTaskWithResultListModal .modal-body form[role="search"].pull-left i.material-icons {
      top: 8px;
      left: 8px;
      z-index: 5;
      position: absolute; }
    #searchTaskWithResultListModal .modal-body form[role="search"].pull-left input[type="text"] {
      padding-left: 30px; }
    #searchTaskWithResultListModal .modal-body form[role="search"].pull-left input[type="submit"] {
      height: 34px;
      line-height: 27px;
      cursor: pointer;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
      background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
      -webkit-border-radius: 2px;
      -webkit-user-select: none;
      background-color: #f2f2f2;
      border: 1px solid #f2f2f2;
      border-radius: 2px;
      color: #757575;
      font-family: arial,sans-serif;
      font-size: 13px;
      font-weight: bold;
      margin-left: 6px;
      min-width: 54px;
      padding: 0 16px;
      text-align: center; }
      #searchTaskWithResultListModal .modal-body form[role="search"].pull-left input[type="submit"]:hover {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
        background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background-color: #f8f8f8;
        background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
        background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
        border: 1px solid #c6c6c6;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        color: #222; }
#searchTaskWithResultListModal .daterange {
  padding: 6px 12px; }
#searchTaskWithResultListModal .dataTable > thead > tr > th,
#searchTaskWithResultListModal .dataTable > tbody > tr > th,
#searchTaskWithResultListModal .dataTable > tbody > tr > td {
  font-size: 12px; }
  #searchTaskWithResultListModal .dataTable > thead > tr > th.inline-edit,
  #searchTaskWithResultListModal .dataTable > tbody > tr > th.inline-edit,
  #searchTaskWithResultListModal .dataTable > tbody > tr > td.inline-edit {
    padding: 0px 10px; }
#searchTaskWithResultListModal .dataTables_length,
#searchTaskWithResultListModal .dataTables_filter {
  display: none; }
#searchTaskWithResultListModal .dataTables_scroll {
  margin-top: 10px;
  border-top: 1px solid #ccc; }

@media (min-height: 900px) {
  #announcementModal > .modal-dialog {
    margin-top: 65px; } }
#announcementModal .modal-content {
  color: #444;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
  box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
#announcementModal .modal-header .title {
  margin: 0px; }
#announcementModal .modal-body {
  color: #444;
  max-height: 400px;
  overflow-y: auto; }
  #announcementModal .modal-body .media {
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE; }
    #announcementModal .modal-body .media .media-heading {
      font-size: larger;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
#announcementModal .modal-footer {
  padding: 0px;
  text-align: left;
  background-color: #2F313C;
  border-radius: 1px 1px 3px 3px; }
  #announcementModal .modal-footer button[data-toggle="collapse"] {
    color: #FFF;
    font-size: 1.5em;
    border-radius: 0px;
    background-color: #009688; }
  #announcementModal .modal-footer .well {
    border-radius: 0px;
    margin-bottom: 0px; }
  #announcementModal .modal-footer form input[type="text"], #announcementModal .modal-footer form textarea {
    background-color: transparent; }

#announcementEditModal {
  top: 60px; }
  #announcementEditModal > .modal-dialog {
    width: 560px; }
    @media (min-height: 900px) {
      #announcementEditModal > .modal-dialog {
        margin-top: 65px; } }
  #announcementEditModal .modal-content {
    color: #444;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
  #announcementEditModal .modal-header .title {
    margin: 0px;
    margin-bottom: 30px; }
  #announcementEditModal .modal-body {
    color: #444; }

#successModal > .modal-dialog {
  margin-top: 300px;
  border-radius: 3px; }
  #successModal > .modal-dialog .modal-content .modal-body {
    text-align: center;
    padding: 21px 20px 20px; }
    #successModal > .modal-dialog .modal-content .modal-body i {
      font-size: 4em;
      color: #4CAF50; }
    #successModal > .modal-dialog .modal-content .modal-body .message {
      margin-top: 15px; }

@media (min-width: 768px) {
  #messageBoxModal .modal-dialog {
    width: 400px;
    margin: 200px auto; } }
#messageBoxModal .modal-body {
  text-align: center; }
#messageBoxModal .modal-footer {
  padding: 8px 15px;
  border-radius: 0px 0px 4px 4px; }
#messageBoxModal.success .modal-footer {
  background-color: #C62828; }
  #messageBoxModal.success .modal-footer [data-dismiss="modal"] {
    color: #FFF;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3); }
    #messageBoxModal.success .modal-footer [data-dismiss="modal"]:hover {
      color: #FFF;
      background-color: #B71C1C; }
#messageBoxModal.waring .modal-footer {
  background-color: #C62828; }
  #messageBoxModal.waring .modal-footer [data-dismiss="modal"] {
    color: #FFF;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3); }
    #messageBoxModal.waring .modal-footer [data-dismiss="modal"]:hover {
      color: #FFF;
      background-color: #B71C1C; }
#messageBoxModal.error .modal-footer {
  background-color: #C62828; }
  #messageBoxModal.error .modal-footer [data-dismiss="modal"] {
    color: #FFF;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3); }
    #messageBoxModal.error .modal-footer [data-dismiss="modal"]:hover {
      color: #FFF;
      background-color: #B71C1C; }

#driverListChatModal .modal-dialog {
  width: 300px;
  margin-top: 70px; }
#driverListChatModal .modal-header {
  background-color: #009688;
  border-radius: 4px 4px 0px 0px;
  border-bottom: none; }
  #driverListChatModal .modal-header .modal-title {
    color: #FFF; }
#driverListChatModal .modal-control .close-modal {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0px;
  margin-top: 8px; }
#driverListChatModal .modal-body {
  padding: 0px; }
  #driverListChatModal .modal-body .list-group {
    margin-bottom: 0px; }
  #driverListChatModal .modal-body .list-group-item:first-child,
  #driverListChatModal .modal-body .list-group-item:last-child {
    border-radius: 1px; }

#liveChatModal .modal-dialog {
  width: 350px;
  margin-top: 70px; }
#liveChatModal .modal-content {
  border: none; }
#liveChatModal .modal-header {
  border-bottom: none; }
#liveChatModal .modal-control .close-modal {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0px;
  margin-top: 8px; }
#liveChatModal .modal-body .driver-img-wrapper img {
  width: 150px;
  height: 150px; }
#liveChatModal .modal-body .driver-detail {
  margin-top: 20px; }
#liveChatModal .controller .record {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  -webkit-user-select: none;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #757575;
  text-align: center;
  outline: none; }
  #liveChatModal .controller .record:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222; }
  #liveChatModal .controller .record.active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F44336), to(#C62828));
    background-image: -webkit-linear-gradient(top, #F44336, #C62828);
    -webkit-user-select: none;
    background-color: #F44336;
    border: 1px solid #F44336;
    color: #757575;
    text-align: center;
    color: #FFF; }
  #liveChatModal .controller .record i {
    font-size: 32px; }
#liveChatModal .controller .cancel {
  display: none; }

@media (min-width: 1024px) {
  #pickUpPOIModal .modal-dialog {
    width: 960px; } }
@media (min-width: 1280px) {
  #pickUpPOIModal .modal-dialog {
    width: 1200px; } }
@media (min-width: 1900px) {
  #pickUpPOIModal .modal-dialog {
    width: 1600px; } }
@media (min-height: 900px) {
  #pickUpPOIModal .modal-dialog {
    margin-top: 80px; } }
#pickUpPOIModal .modal-dialog .modal-content {
  border: none; }
  #pickUpPOIModal .modal-dialog .modal-content .modal-body {
    padding: 0px; }
    #pickUpPOIModal .modal-dialog .modal-content .modal-body > .row {
      margin: 0; }
#pickUpPOIModal #pickupPOIpanel {
  height: 700px;
  max-height: 700px;
  overflow: auto;
  padding: 0px;
  border-radius: 4px 0px 0px 4px; }
  #pickUpPOIModal #pickupPOIpanel .detail-wrap {
    padding: 12px;
    overflow-y: auto; }
    #pickUpPOIModal #pickupPOIpanel .detail-wrap .title {
      margin-top: 0px;
      padding-top: 20px; }
    #pickUpPOIModal #pickupPOIpanel .detail-wrap hr {
      margin: 5px 0px 20px; }
    #pickUpPOIModal #pickupPOIpanel .detail-wrap .value-set {
      margin-bottom: 62px; }
      #pickUpPOIModal #pickupPOIpanel .detail-wrap .value-set p.caption {
        margin: 0;
        color: #999;
        font-size: .9em; }
    #pickUpPOIModal #pickupPOIpanel .detail-wrap a.current-address {
      cursor: pointer; }
    #pickUpPOIModal #pickupPOIpanel .detail-wrap button[type="button"]#confirm {
      color: #FFF;
      bottom: 0px;
      font-size: 1.2em;
      padding: 8px 50px;
      position: relative;
      background-color: #009245; }
#pickUpPOIModal #searchPOImapWrapper {
  padding: 0px; }
#pickUpPOIModal #searchBox {
  position: absolute;
  right: 0px;
  top: 15px;
  z-index: 1; }
#pickUpPOIModal #pickUpPOIMap {
  border-radius: 4px;
  width: 100%;
  height: 700px; }
#pickUpPOIModal .controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
#pickUpPOIModal #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px; }
#pickUpPOIModal #pac-input:focus {
  border-color: #4d90fe; }
#pickUpPOIModal .pac-container {
  font-family: Roboto; }
#pickUpPOIModal #type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px; }
#pickUpPOIModal #type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }
#pickUpPOIModal #target {
  width: 345px; }

@media (min-width: 768px) {
  #createNewPOIModal .modal-dialog {
    width: 400px;
    margin: 200px auto; } }
@media (min-height: 900px) {
  #createNewPOIModal .modal-dialog {
    margin-top: 200px; } }

body > .pac-container {
  z-index: 1060; }

.ribbon-message {
  z-index: 11;
  color: #FFF;
  width: 100%;
  height: 100%;
  display: none;
  font-size: 3em;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1); }
  .ribbon-message .message {
    top: 200px;
    padding: 50px 0px;
    font-size: inherit;
    position: relative; }
  .ribbon-message.error {
    color: #FFF; }
    .ribbon-message.error .message {
      background: #AF2121; }

.modal-backdrop.in {
  filter: alpha(opacity=10);
  opacity: 0.1; }

.autocomplete-suggestions {
  border: 1px solid #ccc !important;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 15px; }
  .autocomplete-suggestions .autocomplete-suggestion {
    position: relative;
    color: #5f5f5f;
    font-size: 14px;
    line-height: 24px;
    min-height: 24px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-top: 1px solid #e6e6e6;
    cursor: default;
    direction: ltr;
    text-align: left;
    overflow: visible; }
    .autocomplete-suggestions .autocomplete-suggestion i.material-icons {
      font-size: 16px;
      margin-left: 12px;
      margin-right: 24px; }
    .autocomplete-suggestions .autocomplete-suggestion.user i {
      color: #2196f3; }
    .autocomplete-suggestions .autocomplete-suggestion.location i {
      color: #8C8C8C; }
    .autocomplete-suggestions .autocomplete-suggestion.temp i {
      color: #f44336; }
    .autocomplete-suggestions .autocomplete-suggestion::before {
      content: "";
      position: absolute;
      left: 0;
      top: -1px;
      width: 52px;
      height: 1px;
      background-color: #fff; }

@media (min-width: 768px) {
  #noCurrentPlace .modal-dialog {
    width: 360px;
    margin: 200px auto; } }
@media (min-height: 900px) {
  #noCurrentPlace .modal-dialog {
    margin-top: 200px; } }

@media (min-width: 768px) {
  #reCurrentPlace .modal-dialog {
    width: 360px;
    margin: 200px auto; } }
@media (min-height: 900px) {
  #reCurrentPlace .modal-dialog {
    margin-top: 200px; } }

#chat-board {
  top: 0;
  left: -400px;
  width: 400px;
  height: 100%;
  z-index: 1020;
  transition: .3s;
  background: #FFF;
  padding-top: 50px;
  position: absolute; }
  #chat-board.window {
    top: 0px;
    left: 0px;
    z-index: 0;
    width: auto;
    padding-top: 0;
    position: initial; }
  #chat-board.open {
    left: 0px;
    transition: .3s;
    transition-timing-function: ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  #chat-board .chat_box_wrapper {
    height: 100%;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box; }
    #chat-board .chat_box_wrapper .chat_control .navbar {
      border: none;
      margin-bottom: 0px; }
    @media (min-width: 768px) {
      #chat-board .chat_box_wrapper .chat_control .navbar {
        border-radius: 0px; } }
    #chat-board .chat_box_wrapper .chat_control i.fa {
      padding: 3px 2px; }
    #chat-board .chat_box_wrapper .chat_box {
      height: 100%;
      padding: 16px;
      overflow-y: auto;
      overflow-x: hidden; }
      #chat-board .chat_box_wrapper .chat_box::-webkit-scrollbar {
        width: 8px; }
      #chat-board .chat_box_wrapper .chat_box::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(234, 234, 234, 0.5);
        border-radius: 10px; }
      #chat-board .chat_box_wrapper .chat_box::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px #343642; }
      #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper {
        margin-bottom: 32px; }
        #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper:after, #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper:before {
          content: " ";
          display: table; }
        #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper:after {
          clear: both; }
        #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper .chat_user_avatar {
          float: left; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper .chat_user_avatar > img {
            max-width: 40px; }
        #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper ul.chat_message {
          float: left;
          margin: 0 0 0 20px;
          padding: 0;
          list-style: none;
          max-width: 60%; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper ul.chat_message li {
            background: #616161;
            color: #fff; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper ul.chat_message li {
            background: #ededed;
            padding: 8px 16px;
            border-radius: 4px;
            position: relative;
            font-size: 13px;
            display: block;
            float: left;
            clear: both;
            color: #212121; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper ul.chat_message > li + li {
            margin-top: 4px; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper ul.chat_message li p {
            margin: 0; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper ul.chat_message > li {
            background: #616161;
            color: #fff; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper ul.chat_message li:first-child:before {
            position: absolute;
            left: -14px;
            top: 0;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 16px 16px 0;
            border-color: transparent #ededed transparent transparent; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper ul.chat_message li:first-child:before {
            border-right-color: #616161; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper ul.chat_message > li .chat_message_time {
            display: block;
            font-size: 11px;
            padding-top: 2px;
            color: #727272;
            text-transform: uppercase; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper ul.chat_message > li .chat_message_time {
            color: rgba(255, 255, 255, 0.7); }
        #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper.chat_message_right .chat_user_avatar {
          float: right; }
        #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper.chat_message_right ul.chat_message {
          float: right;
          margin-left: 0 !important;
          margin-right: 24px !important; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper.chat_message_right ul.chat_message > li:first-child:before {
            left: auto;
            right: -14px;
            border-width: 0 0 16px 16px;
            border-color: transparent transparent transparent #ededed; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper.chat_message_right ul.chat_message > li {
            background: #689f38; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper.chat_message_right ul.chat_message > li:first-child:before {
            border-left-color: #689f38; }
          #chat-board .chat_box_wrapper .chat_box .chat_message_wrapper.chat_message_right ul.chat_message > li .chat_message_time {
            text-align: right; }
    #chat-board .chat_box_wrapper .chat_submit_box {
      background: #fafafa;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      padding: 8px 8px 12px 16px;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      box-sizing: border-box; }
      #chat-board .chat_box_wrapper .chat_submit_box i.fa {
        padding: 3px 2px; }
  #chat-board.window .chat_submit_box {
    padding: 0; }
    #chat-board.window .chat_submit_box .input-group > input {
      border: none;
      height: 50px;
      border-radius: 0; }
      #chat-board.window .chat_submit_box .input-group > input:focus {
        z-index: 2;
        box-shadow: none; }
    #chat-board.window .chat_submit_box .input-group > .input-group-btn > button {
      border: none;
      padding: 10px 30px;
      border-left: 1px solid #ccc; }
      #chat-board.window .chat_submit_box .input-group > .input-group-btn > button i.fa {
        padding: 3px 2px; }

table.scroll {
  width: 716px;
  /* 140px * 5 column + 16px scrollbar width */
  border-spacing: 0;
  border: 2px solid black; }

table.scroll tbody,
table.scroll thead tr {
  display: block; }

table.scroll tbody {
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden; }

table.scroll tbody td,
table.scroll thead th {
  width: 140px;
  border-right: 1px solid black; }

table.scroll thead th:last-child {
  width: 156px;
  /* 140px + 16px scrollbar width */ }

thead tr th {
  height: 30px;
  line-height: 30px;
  /*text-align: left;*/ }

tbody {
  border-top: 2px solid black; }

tbody td:last-child, thead th:last-child {
  border-right: none !important; }

.datetime-overlay {
  z-index: 1;
  width: 100%;
  height: 290px;
  position: absolute;
  background: rgba(255, 255, 255, 0.8); }

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto; }

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden; }

.autocomplete-suggestion:hover {
  cursor: pointer; }

.autocomplete-selected {
  background: #F0F0F0; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF; }

.autocomplete-group {
  padding: 2px 5px; }

.autocomplete-group strong {
  display: block;
  font-size: small;
  background: #ECECEC;
  color: #F44336;
  padding: 2px 10px;
  border-bottom: 1px solid #9E9E9E; }

.autocomplete-suggestion .presentation > .icon {
  float: left;
  padding: 3px 6px; }
.autocomplete-suggestion .presentation > .detail {
  float: left;
  padding: 3px 6px; }
  .autocomplete-suggestion .presentation > .detail .inline {
    color: #AAA;
    display: inline;
    padding-right: 6px; }

#gritter-notice-wrapper.bottom-center {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 50%; }

.gritter-item {
  font-family: 'base_webfont'; }
  .gritter-item .gritter-title {
    text-shadow: none; }
  .gritter-item .btn.btn-link {
    color: #AAA;
    padding: 0px; }

.gritter-item > .gritter-close {
  top: -10px;
  left: auto;
  right: -10px; }

.gritter-top {
  border-radius: 4px 4px 0px 0px; }

.gritter-bottom {
  border-radius: 0px 0px 4px 4px; }

.gritter-primary .gritter-top,
.gritter-primary .gritter-item,
.gritter-primary .gritter-bottom {
  color: #fff;
  background: #343642;
  border: 1px solid #343642; }

.gritter-success .gritter-top,
.gritter-success .gritter-item,
.gritter-success .gritter-bottom {
  color: #fff;
  background: #6D8400;
  border: 1px solid #6D8400; }

.gritter-info .gritter-top,
.gritter-info .gritter-item,
.gritter-info .gritter-bottom {
  color: #fff;
  background: #2196F3;
  border: 1px solid #2196F3; }

.gritter-warning .gritter-top,
.gritter-warning .gritter-item,
.gritter-warning .gritter-bottom {
  color: #fff;
  background: #D54E21;
  border: 1px solid #D54E21; }

.gritter-danger .gritter-top,
.gritter-danger .gritter-item,
.gritter-danger .gritter-bottom {
  color: #fff;
  background: #A51413;
  border: 1px solid #A51413; }

.taxi-broken-list {
  position: absolute;
  right: 0;
  top: 50px;
  margin-right: 10px; }
  .taxi-broken-list .taxi-broken {
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 360px;
    box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5);
    position: relative;
    top: 20px; }
    .taxi-broken-list .taxi-broken::after {
      clear: both;
      content: "";
      display: table; }
    .taxi-broken-list .taxi-broken .img-wrap {
      float: left; }
      .taxi-broken-list .taxi-broken .img-wrap img {
        max-width: 110px; }
    .taxi-broken-list .taxi-broken .detail-wrap {
      float: left;
      padding: 10px;
      padding-bottom: 0px; }
      .taxi-broken-list .taxi-broken .detail-wrap .caption {
        font-size: small;
        color: #9E9E9E;
        margin-bottom: 0; }
      .taxi-broken-list .taxi-broken .detail-wrap .text {
        color: #444;
        margin-bottom: 6px; }

.table-wrap {
  min-height: 355px; }

.table-data {
  margin-bottom: 50px; }
  .table-data .header {
    padding-bottom: 6px;
    border-bottom: 3px solid #343642; }
    @media (max-width: 674px) {
      .table-data .header .pull-right {
        float: none !important; }
        .table-data .header .pull-right.paging-length {
          display: none; }
        .table-data .header .pull-right .btn.btn-success {
          display: none; } }
    .table-data .header .title {
      margin-bottom: 0; }
    .table-data .header .indicator {
      top: -15px;
      right: 6px;
      color: #FFF;
      width: 30px;
      height: 30px;
      padding-top: 6px;
      font-size: 12px;
      border-radius: 50%;
      font-weight: bold;
      text-align: center;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: 3px solid #F9F9F9; }
      .table-data .header .indicator.red {
        background-color: #A03636; }
      .table-data .header .indicator.green {
        background-color: #41A036; }
    .table-data .header .btn {
      padding: 4px 12px;
      margin-right: 5px;
      border-color: #009245;
      background-color: #009245; }
  .table-data .table > thead > tr > th,
  .table-data .table > tbody > tr > th,
  .table-data .table > tbody > tr > td {
    font-size: 14px; }
  .table-data .table > tbody > tr > td,
  .table-data .table > tbody > tr > th {
    vertical-align: middle; }
  .table-data .table > tbody > tr > td:last-child:not(.dataTables_empty) {
    text-align: right; }

.table-inline-editable > tbody > tr > .inline-edit > form {
  margin: 0; }
  .table-inline-editable > tbody > tr > .inline-edit > form > input {
    width: 100%;
    padding: 6px 6px;
    border-top-width: 0;
    border-bottom-width: 0; }
    .table-inline-editable > tbody > tr > .inline-edit > form > input:focus {
      outline: none !important; }
.table-inline-editable > tbody > tr > .inline-edit:hover {
  cursor: pointer; }
.table-inline-editable > tbody > tr > .inline-edit.active {
  padding: 7px 10px; }

.queues.table-data .dataTables_wrapper .dataTables_filter,
.pending.table-data .dataTables_wrapper .dataTables_filter,
.advance.table-data .dataTables_wrapper .dataTables_filter,
.assigned.table-data .dataTables_wrapper .dataTables_filter {
  display: none; }
.queues.table-data .dataTables_wrapper .dataTables_length label,
.pending.table-data .dataTables_wrapper .dataTables_length label,
.advance.table-data .dataTables_wrapper .dataTables_length label,
.assigned.table-data .dataTables_wrapper .dataTables_length label {
  margin-top: 5px;
  margin-bottom: 5px; }
.queues.table-data tbody > tr > td.jobtype,
.pending.table-data tbody > tr > td.jobtype,
.advance.table-data tbody > tr > td.jobtype,
.assigned.table-data tbody > tr > td.jobtype {
  max-width: 40px; }
.queues.table-data tbody > tr .status-time,
.pending.table-data tbody > tr .status-time,
.advance.table-data tbody > tr .status-time,
.assigned.table-data tbody > tr .status-time {
  font-size: 1.2em; }
  .queues.table-data tbody > tr .status-time .detail,
  .pending.table-data tbody > tr .status-time .detail,
  .advance.table-data tbody > tr .status-time .detail,
  .assigned.table-data tbody > tr .status-time .detail {
    float: left;
    font-size: 11px;
    margin-left: 8px;
    display: inline-block; }
    .queues.table-data tbody > tr .status-time .detail > span,
    .pending.table-data tbody > tr .status-time .detail > span,
    .advance.table-data tbody > tr .status-time .detail > span,
    .assigned.table-data tbody > tr .status-time .detail > span {
      font-size: 11px; }
  .queues.table-data tbody > tr .status-time.book,
  .pending.table-data tbody > tr .status-time.book,
  .advance.table-data tbody > tr .status-time.book,
  .assigned.table-data tbody > tr .status-time.book {
    color: #2196F3; }
    .queues.table-data tbody > tr .status-time.book .detail,
    .pending.table-data tbody > tr .status-time.book .detail,
    .advance.table-data tbody > tr .status-time.book .detail,
    .assigned.table-data tbody > tr .status-time.book .detail {
      color: #00BCD4; }
  .queues.table-data tbody > tr .status-time.new,
  .pending.table-data tbody > tr .status-time.new,
  .advance.table-data tbody > tr .status-time.new,
  .assigned.table-data tbody > tr .status-time.new {
    color: #4CAF50; }
    .queues.table-data tbody > tr .status-time.new .detail,
    .pending.table-data tbody > tr .status-time.new .detail,
    .advance.table-data tbody > tr .status-time.new .detail,
    .assigned.table-data tbody > tr .status-time.new .detail {
      color: #009688; }
  .queues.table-data tbody > tr .status-time.normal,
  .pending.table-data tbody > tr .status-time.normal,
  .advance.table-data tbody > tr .status-time.normal,
  .assigned.table-data tbody > tr .status-time.normal {
    color: #FFC107; }
    .queues.table-data tbody > tr .status-time.normal .detail,
    .pending.table-data tbody > tr .status-time.normal .detail,
    .advance.table-data tbody > tr .status-time.normal .detail,
    .assigned.table-data tbody > tr .status-time.normal .detail {
      color: #FF9800; }
  .queues.table-data tbody > tr .status-time.long,
  .pending.table-data tbody > tr .status-time.long,
  .advance.table-data tbody > tr .status-time.long,
  .assigned.table-data tbody > tr .status-time.long {
    color: #F44336; }
    .queues.table-data tbody > tr .status-time.long .detail,
    .pending.table-data tbody > tr .status-time.long .detail,
    .advance.table-data tbody > tr .status-time.long .detail,
    .assigned.table-data tbody > tr .status-time.long .detail {
      color: #E91E63; }
  .queues.table-data tbody > tr .status-time i,
  .pending.table-data tbody > tr .status-time i,
  .advance.table-data tbody > tr .status-time i,
  .assigned.table-data tbody > tr .status-time i {
    float: left;
    display: inline-block; }
.queues.table-data tbody > tr td[data-field-name="createdjob"],
.pending.table-data tbody > tr td[data-field-name="createdjob"],
.advance.table-data tbody > tr td[data-field-name="createdjob"],
.assigned.table-data tbody > tr td[data-field-name="createdjob"] {
  text-align: left; }
  .queues.table-data tbody > tr td[data-field-name="createdjob"] .date,
  .pending.table-data tbody > tr td[data-field-name="createdjob"] .date,
  .advance.table-data tbody > tr td[data-field-name="createdjob"] .date,
  .assigned.table-data tbody > tr td[data-field-name="createdjob"] .date {
    font-size: 12px; }
.queues.table-data tbody > tr td:last-child button i,
.pending.table-data tbody > tr td:last-child button i,
.advance.table-data tbody > tr td:last-child button i,
.assigned.table-data tbody > tr td:last-child button i {
  font-size: 16px; }
.queues.table-data .label-rejected,
.pending.table-data .label-rejected,
.advance.table-data .label-rejected,
.assigned.table-data .label-rejected {
  color: #E91E63;
  font-size: 12px; }
.queues.table-data tbody > tr.lock,
.pending.table-data tbody > tr.lock,
.advance.table-data tbody > tr.lock,
.assigned.table-data tbody > tr.lock {
  color: #FFF;
  background-color: #E53935 !important; }
  .queues.table-data tbody > tr.lock td.sorting_1, .queues.table-data tbody > tr.lock td.sorting_2,
  .pending.table-data tbody > tr.lock td.sorting_1,
  .pending.table-data tbody > tr.lock td.sorting_2,
  .advance.table-data tbody > tr.lock td.sorting_1,
  .advance.table-data tbody > tr.lock td.sorting_2,
  .assigned.table-data tbody > tr.lock td.sorting_1,
  .assigned.table-data tbody > tr.lock td.sorting_2 {
    background-color: #E53935 !important; }
  .queues.table-data tbody > tr.lock .status-time,
  .pending.table-data tbody > tr.lock .status-time,
  .advance.table-data tbody > tr.lock .status-time,
  .assigned.table-data tbody > tr.lock .status-time {
    color: #FFF; }
    .queues.table-data tbody > tr.lock .status-time > .detail,
    .pending.table-data tbody > tr.lock .status-time > .detail,
    .advance.table-data tbody > tr.lock .status-time > .detail,
    .assigned.table-data tbody > tr.lock .status-time > .detail {
      color: #FFF; }
  .queues.table-data tbody > tr.lock td:last-child,
  .pending.table-data tbody > tr.lock td:last-child,
  .advance.table-data tbody > tr.lock td:last-child,
  .assigned.table-data tbody > tr.lock td:last-child {
    padding: 0px; }
    .queues.table-data tbody > tr.lock td:last-child .btn-group,
    .pending.table-data tbody > tr.lock td:last-child .btn-group,
    .advance.table-data tbody > tr.lock td:last-child .btn-group,
    .assigned.table-data tbody > tr.lock td:last-child .btn-group {
      display: none; }
  .queues.table-data tbody > tr.lock p.user-locker,
  .pending.table-data tbody > tr.lock p.user-locker,
  .advance.table-data tbody > tr.lock p.user-locker,
  .assigned.table-data tbody > tr.lock p.user-locker {
    margin: 0;
    line-height: initial;
    border-radius: 3px 0px 0px 3px;
    padding: 3px 6px;
    text-align: left;
    font-size: smaller;
    background-color: rgba(255, 255, 255, 0.2); }
    @media (max-width: 414px) {
      .queues.table-data tbody > tr.lock p.user-locker,
      .pending.table-data tbody > tr.lock p.user-locker,
      .advance.table-data tbody > tr.lock p.user-locker,
      .assigned.table-data tbody > tr.lock p.user-locker {
        display: none; } }

.dataTables_wrapper .dataTables_filter {
  float: none; }

.dataTables_scrollBody::-webkit-scrollbar {
  width: 5px; }

.table-data tbody > tr > td .circle-text {
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 12px;
  padding-top: 2px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  vertical-align: middle; }
  .table-data tbody > tr > td .circle-text.orange {
    color: #FFF;
    border: 2px solid #A74C21;
    background-color: #A05836; }
  .table-data tbody > tr > td .circle-text.default {
    color: #555;
    border: 2px solid #999;
    background-color: #FFF; }

.pending.table-data td.line-job span,
.assigned.table-data td.line-job span {
  color: #FFF;
  cursor: pointer;
  padding: 0px 5px;
  border-radius: 15px;
  border: 2px solid #FFFFFF;
  background-color: #4CAF50; }

.assigned.table-data #assignedTaskTable_length,
.assigned.table-data #queueTaskTable_length,
.queues.table-data #assignedTaskTable_length,
.queues.table-data #queueTaskTable_length {
  margin-right: 6px; }
  .assigned.table-data #assignedTaskTable_length > label,
  .assigned.table-data #queueTaskTable_length > label,
  .queues.table-data #assignedTaskTable_length > label,
  .queues.table-data #queueTaskTable_length > label {
    margin-bottom: 0px; }

.assigned.table-data tr.has-comment td:first-child {
  border-left: 5px solid #2196F2; }
.assigned.table-data tr.has-comment .showTaskDetail {
  color: #FFF;
  background-color: #2196F3; }

.report-driver.table-data .dataTables_wrapper .dataTables_filter {
  display: none; }
.report-driver.table-data #taxiReportTable,
.report-driver.table-data #taxiReportTable_wrapper .dataTables_scrollHead >
.dataTables_scrollHeadInner > .dataTable {
  font-size: 12px; }
.report-driver.table-data #report-date-filter {
  max-width: 150px; }
  .report-driver.table-data #report-date-filter .input-group-addon {
    color: #FFF;
    border: none;
    background-color: #2196F3; }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  padding: 0px; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #444; }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    border: 1px solid transparent; }

.dataTables_paginate.paging_simple_numbers .pagination {
  margin: 0px; }

.pagination > li > a,
.pagination > li > span {
  border-radius: 2px; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  border-color: #2196F3;
  background-color: #2196F3; }

body, html {
  height: 100%;
  overflow: hidden;
  overflow-y: auto; }
  body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 8px; }
  body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(234, 234, 234, 0.5);
    border-radius: 10px; }
  body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #343642; }

body {
  padding-top: 50px;
  transition: background-color 1s; }
  body.loading {
    background-color: #343642; }

body > .container-fluid {
  padding: 20px 10px;
  min-height: 100%;
  background-color: #FFF;
  box-shadow: 0px 0px 7px rgba(204, 204, 204, 0.7);
  -webkit-box-shadow: 0px 0px 7px rgba(204, 204, 204, 0.7); }

body > .navbar,
body > .container-fluid.app {
  display: none; }

.daterange,
.btn-default {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  text-align: center; }
  .daterange:hover,
  .btn-default:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222; }

body > .container-fluid.app {
  overflow-y: auto;
  overflow-x: hidden; }
body > .container-fluid.monitoring {
  padding: 0;
  display: none; }
body > .container-fluid.parking-area {
  padding: 0;
  display: none; }

@media (min-width: 1600px) {
  body > .container-fluid {
    margin-left: 60px;
    margin-right: 60px; } }
@media (min-width: 415px) {
  body > .container-fluid {
    padding: 20px 30px; } }
@media (max-width: 414px) {
  body > .container-fluid {
    overflow: hidden;
    min-height: 100%;
    max-height: 100%;
    height: 100%; } }

#map {
  width: 100%;
  height: 100%; }

i.material-icons {
  font-size: 20px; }

.input-group-addon,
.input-group-btn {
  vertical-align: top; }

#leftTabList,
#rightTabList {
  top: 1px;
  position: absolute;
  border-bottom: none; }
  @media (max-width: 674px) {
    #leftTabList,
    #rightTabList {
      position: relative; } }
  #leftTabList > li > a,
  #rightTabList > li > a {
    padding: 10px 20px; }
    #leftTabList > li > a:hover,
    #rightTabList > li > a:hover {
      border: none; }
    #leftTabList > li > a .indicator,
    #rightTabList > li > a .indicator {
      top: -15px;
      right: 0px;
      color: #FFF;
      width: 30px;
      height: 30px;
      display: none;
      font-size: 12px;
      padding-top: 6px;
      font-weight: bold;
      position: absolute;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      border: 3px solid #F9F9F9; }
      #leftTabList > li > a .indicator.red,
      #rightTabList > li > a .indicator.red {
        background-color: #A03636; }
      #leftTabList > li > a .indicator.green,
      #rightTabList > li > a .indicator.green {
        background-color: #41A036; }
  #leftTabList > li > a .title,
  #rightTabList > li > a .title {
    margin: 0px;
    color: #111; }
  #leftTabList > li.active > a,
  #leftTabList > li.active > a:focus,
  #leftTabList > li.active > a:hover,
  #rightTabList > li.active > a,
  #rightTabList > li.active > a:focus,
  #rightTabList > li.active > a:hover {
    color: #FFF;
    border: none;
    cursor: default;
    background-color: #607D8B; }
    #leftTabList > li.active > a .title,
    #leftTabList > li.active > a:focus .title,
    #leftTabList > li.active > a:hover .title,
    #rightTabList > li.active > a .title,
    #rightTabList > li.active > a:focus .title,
    #rightTabList > li.active > a:hover .title {
      color: #FFF; }

label.error {
  color: #FFFFFF;
  font-size: 12px;
  padding: 2px 16px;
  background-color: #A03636;
  border-radius: 1px 1px 3px 3px; }

.tooltip {
  z-index: 999;
  position: fixed; }

.leaflet-popup-tip {
  background: #212020; }

.position-pin {
  width: auto !important;
  height: auto !important; }
  .position-pin .wrapper {
    color: #2196F3;
    font-size: 16px;
    min-width: 130px;
    padding: 5px 5px;
    position: relative;
    border-radius: 4px;
    text-align: center;
    display: inline-flex; }
    .position-pin .wrapper .icon {
      display: inline-block;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      background-color: #2196F3;
      color: #3F51B5;
      font-size: 18px;
      padding: 4px; }
      .position-pin .wrapper .icon i.material-icons {
        font-size: 10px; }
    .position-pin .wrapper .text {
      display: inline-block;
      text-shadow: 1px 1px 1px #FFF;
      vertical-align: super;
      font-family: base_webfont;
      font-size: 12px;
      margin-left: 5px; }
    .position-pin .wrapper .arrow {
      position: absolute;
      display: none;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 11px;
      bottom: -11px;
      left: 50%;
      margin-left: -11px;
      border-top-color: #3f51b5;
      border-bottom-width: 0; }
  .position-pin.landmark .wrapper {
    background-color: transparent; }
    .position-pin.landmark .wrapper .icon {
      color: #FFF;
      background-color: #F44336; }
    .position-pin.landmark .wrapper .text {
      color: #F44336; }
    .position-pin.landmark .wrapper .arrow {
      border-top-color: #795548; }
  .position-pin.parking .wrapper {
    background-color: transparent; }
    .position-pin.parking .wrapper .icon {
      color: #FFFFFF; }
    .position-pin.parking .wrapper .arrow {
      border-top-color: #607D8B; }

.carplate-pin .message {
  color: #fff;
  font-size: 14px;
  padding: 0px 6px;
  width: 80px;
  height: 27px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  background-color: #000;
  box-shadow: 0 0px 10px rgba(144, 144, 144, 0.5); }
  .carplate-pin .message img {
    width: 18px;
    display: none;
    margin-right: 4px; }
  .carplate-pin .message .arrow {
    position: relative;
    width: 0;
    margin: 0 auto;
    height: 0;
    border-color: transparent;
    border-style: solid;
    bottom: -5px;
    left: 0;
    border-width: 5px 5px 0;
    border-top-color: #000; }
.carplate-pin.off .message {
  background-color: #9E9E9E; }
  .carplate-pin.off .message .arrow {
    border-top-color: #9E9E9E; }
.carplate-pin.on .message {
  background-color: #4CAF50; }
  .carplate-pin.on .message .arrow {
    border-top-color: #4CAF50; }
.carplate-pin.wait .message {
  background-color: #F8B60C; }
  .carplate-pin.wait .message .arrow {
    border-top-color: #F8B60C; }
.carplate-pin.dpending .message {
  background-color: #FF9800; }
  .carplate-pin.dpending .message .arrow {
    border-top-color: #FF9800; }
.carplate-pin.busy .message {
  background-color: #F44336; }
  .carplate-pin.busy .message .arrow {
    border-top-color: #F44336; }
.carplate-pin.pick .message {
  background-color: #009688; }
  .carplate-pin.pick .message .arrow {
    border-top-color: #009688; }
.carplate-pin.assigned .message {
  background-color: #2196F3; }
  .carplate-pin.assigned .message .arrow {
    border-top-color: #2196F3; }
.carplate-pin.broadcast .message {
  border: 2px solid #b70c0c;
  background-color: #222222; }
  .carplate-pin.broadcast .message .arrow {
    border-top-color: #222222; }

.driver-popup .leaflet-popup-close-button {
  z-index: 1; }
.driver-popup .leaflet-popup-content-wrapper {
  padding: 0px;
  border-radius: 5px !important;
  background-color: #212020;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
.driver-popup .leaflet-popup-content {
  margin: 0px;
  min-width: 300px;
  font-family: 'base_webfont'; }
  .driver-popup .leaflet-popup-content .label-message-status {
    z-index: 1;
    bottom: 8px;
    width: 124px;
    height: auto;
    padding: 10px;
    transition: height 1;
    position: absolute;
    background-color: #607D8B; }
    .driver-popup .leaflet-popup-content .label-message-status .title {
      margin: 0;
      padding: 0px;
      color: #FF9800;
      font-size: 1.5em; }
    .driver-popup .leaflet-popup-content .label-message-status .call-message {
      color: #FFF; }
      .driver-popup .leaflet-popup-content .label-message-status .call-message .txt-hide {
        display: none; }
    .driver-popup .leaflet-popup-content .label-message-status .detail, .driver-popup .leaflet-popup-content .label-message-status .list {
      display: none;
      margin: 5px auto 0px 10px; }
      .driver-popup .leaflet-popup-content .label-message-status .detail i, .driver-popup .leaflet-popup-content .label-message-status .list i {
        color: #444; }
    .driver-popup .leaflet-popup-content .label-message-status.open {
      width: 100%;
      height: 100%;
      text-align: left;
      border-radius: 3px;
      transition-duration: 1s;
      transition-property: height;
      transition-timing-function: ease; }
      .driver-popup .leaflet-popup-content .label-message-status.open .call-message {
        color: #CCC;
        bottom: 12px;
        position: fixed;
        padding: 2px 6px;
        border-radius: 3px;
        border: 1px solid #ccc;
        background-color: #607D8B; }
        .driver-popup .leaflet-popup-content .label-message-status.open .call-message .txt-show {
          display: none; }
        .driver-popup .leaflet-popup-content .label-message-status.open .call-message .txt-hide {
          display: inline; }
      .driver-popup .leaflet-popup-content .label-message-status.open .detail, .driver-popup .leaflet-popup-content .label-message-status.open .list {
        display: block; }
  .driver-popup .leaflet-popup-content .center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat; }
  .driver-popup .leaflet-popup-content > .row {
    margin: 0px; }
  .driver-popup .leaflet-popup-content .driver-img-wrapper {
    padding: 0px;
    width: 124px; }
    .driver-popup .leaflet-popup-content .driver-img-wrapper .driver-img {
      width: 124px;
      max-height: 124px;
      border-radius: 4px 1px 1px 4px; }
  .driver-popup .leaflet-popup-content .driver-info {
    width: 175px;
    padding: 10px;
    max-height: 124px; }
    .driver-popup .leaflet-popup-content .driver-info p.caption, .driver-popup .leaflet-popup-content .driver-info p.value {
      margin: 0px; }
    .driver-popup .leaflet-popup-content .driver-info p.caption {
      color: #999;
      font-size: 12px;
      margin-top: 4px; }
    .driver-popup .leaflet-popup-content .driver-info p.value {
      color: #FFF;
      font-size: 14px;
      line-height: 18px; }
    .driver-popup .leaflet-popup-content .driver-info p.value.status {
      margin-top: 1px; }
    .driver-popup .leaflet-popup-content .driver-info .pull-left.carplate-wrap {
      margin-right: 12px; }
    .driver-popup .leaflet-popup-content .driver-info .pull-left.status-wrap {
      margin-right: 0px; }
  .driver-popup .leaflet-popup-content button.choose {
    left: 0px;
    bottom: 0px;
    width: 124px;
    position: absolute;
    border-right: none;
    border-bottom: none;
    color: #111;
    background-color: rgba(255, 255, 255, 0.8); }
    .driver-popup .leaflet-popup-content button.choose:hover {
      color: #F5F5F5;
      background-color: rgba(33, 32, 32, 0.4); }

.passenger-popup .leaflet-popup-close-button {
  z-index: 1040; }
.passenger-popup .leaflet-popup-content-wrapper {
  border-radius: 4px;
  padding: 0px 15px 0px 0px;
  background-color: #212020;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
.passenger-popup .leaflet-popup-content {
  margin: 0px;
  padding: 15px;
  min-width: 300px;
  font-family: 'base_webfont'; }
  .passenger-popup .leaflet-popup-content .row {
    margin: auto; }
  .passenger-popup .leaflet-popup-content .passenger-info {
    padding: 0px; }
    .passenger-popup .leaflet-popup-content .passenger-info p.caption, .passenger-popup .leaflet-popup-content .passenger-info p.value {
      margin: 0px; }
    .passenger-popup .leaflet-popup-content .passenger-info p.caption {
      color: #999;
      font-size: 12px;
      margin-top: 6px; }
    .passenger-popup .leaflet-popup-content .passenger-info p.value {
      font-size: 12px; }
    .passenger-popup .leaflet-popup-content .passenger-info .tel {
      font-size: 16px !important; }
  .passenger-popup .leaflet-popup-content button.choose {
    left: 15px;
    bottom: 0px;
    width: 124px;
    position: absolute;
    border-right: none;
    border-bottom: none;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(33, 32, 32, 0.1); }
    .passenger-popup .leaflet-popup-content button.choose:hover {
      color: #F5F5F5;
      background-color: rgba(33, 32, 32, 0.4); }

.btn, .form-control {
  border-radius: 1px; }

#assignTaskForm label.error {
  margin-bottom: -10px; }

.connect_lost_message {
  display: none;
  width: 100%;
  bottom: 0px;
  position: absolute;
  text-align: center; }
  .connect_lost_message .label {
    font-size: small; }

.monitoring .taxi-counter {
  right: 0;
  z-index: 410;
  width: 230px;
  margin-top: 50px;
  margin-right: 10px;
  position: absolute; }
  @media (min-width: 1600px) {
    .monitoring .taxi-counter {
      margin-right: 70px; } }
  @media (max-width: 767px) {
    .monitoring .taxi-counter {
      transition: .3s;
      right: -230px;
      position: fixed; }
      .monitoring .taxi-counter.open {
        right: 0px;
        transition: .3s;
        transition-timing-function: ease; }
      .monitoring .taxi-counter .puller {
        display: block !important; } }
  .monitoring .taxi-counter a.puller {
    top: 30%;
    left: -50px;
    width: 100px;
    height: 100px;
    display: none;
    cursor: pointer;
    text-align: left;
    border-radius: 50%;
    position: absolute;
    padding: 30px 10px;
    color: rgba(255, 255, 255, 0.82);
    background-color: rgba(17, 17, 17, 0.72); }
    .monitoring .taxi-counter a.puller i {
      font-size: 40px; }
  .monitoring .taxi-counter .list-group {
    box-shadow: 0px 0px 7px rgba(204, 204, 204, 0.7);
    -webkit-box-shadow: 0px 0px 7px rgba(204, 204, 204, 0.7); }
  .monitoring .taxi-counter .list-group-item {
    padding: 4px 15px; }
    .monitoring .taxi-counter .list-group-item img {
      width: 18px; }
    .monitoring .taxi-counter .list-group-item i.material-icons {
      font-size: 14px;
      background: #2196F3;
      border-radius: 50%;
      padding: 2px;
      color: #FFF;
      border: 2px #FFF; }
    .monitoring .taxi-counter .list-group-item .badge {
      margin-top: 3px;
      margin-right: 12px; }
    .monitoring .taxi-counter .list-group-item .js-switch-wrap {
      float: right; }
    .monitoring .taxi-counter .list-group-item form {
      position: relative;
      margin-bottom: -20px;
      margin-top: -6px; }
      .monitoring .taxi-counter .list-group-item form .mdl-textfield__input,
      .monitoring .taxi-counter .list-group-item form .mdl-textfield__label {
        font-size: 12px; }

.intial-app-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #343642;
  z-index: 1070;
  top: 0;
  left: 0; }
  .intial-app-loading .wrapper {
    margin: 200px auto;
    text-align: center; }
    @media (max-height: 736px) {
      .intial-app-loading .wrapper {
        margin: 160px auto; } }
    .intial-app-loading .wrapper img {
      margin-bottom: 50px; }
    .intial-app-loading .wrapper .loader {
      margin: 0 auto 20px; }
    .intial-app-loading .wrapper .text {
      color: #FFF;
      font-size: small;
      text-align: center; }

.daterangepicker .calendar th,
.daterangepicker .calendar td {
  font-size: small; }

.tab-bottom {
  left: 0;
  right: 0px;
  bottom: 0;
  width: 100%;
  z-index: 100;
  border-radius: 1px;
  position: absolute;
  background-color: #343642; }
  .tab-bottom .nav-tabs {
    border-bottom: 0px; }
    .tab-bottom .nav-tabs > li {
      width: 25%;
      margin-bottom: -2px; }
      .tab-bottom .nav-tabs > li > a {
        color: #FFF;
        text-align: center;
        border-radius: 1px; }
        .tab-bottom .nav-tabs > li > a i.material-icons {
          font-size: 24px; }
        .tab-bottom .nav-tabs > li > a .title {
          font-size: small; }
      .tab-bottom .nav-tabs > li.active > a,
      .tab-bottom .nav-tabs > li.active > a:focus,
      .tab-bottom .nav-tabs > li.active > a:hover {
        color: #FFF;
        border-top: none;
        margin-right: 0px;
        border-bottom: none;
        background-color: #B21616; }
  .tab-bottom .indicator {
    top: -15px;
    right: 0px;
    color: #FFF;
    width: 30px;
    height: 30px;
    display: none;
    font-size: 12px;
    padding-top: 6px;
    font-weight: bold;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #F9F9F9; }
    .tab-bottom .indicator.red {
      background-color: #A03636; }
    .tab-bottom .indicator.green {
      background-color: #41A036; }

.fa-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/*# sourceMappingURL=callcenter.css.map */
