body.header_double_height:after {
    background: #343642;
}

#setting_list {

    
    // Custom theme
    .md-list > li > .md-list-content {
        overflow: visible;
    }
    .md-list .uk-nestable-list>li>.md-list-content .uk-badge, 
    .md-list>li>.md-list-content .uk-badge {
        float: none;
    }


    // additional
    .md-list > li > .md-list-content .custom-width-120 {
        min-width: 120px;
    }
}