body.header_double_height:after {
  background: #343642; }

#setting_list .md-list > li > .md-list-content {
  overflow: visible; }
#setting_list .md-list .uk-nestable-list > li > .md-list-content .uk-badge,
#setting_list .md-list > li > .md-list-content .uk-badge {
  float: none; }
#setting_list .md-list > li > .md-list-content .custom-width-120 {
  min-width: 120px; }

/*# sourceMappingURL=ccadmin.settings.css.map */
