@import 'sass/base/_font.scss';


body {
	h1, h2, h3, h4, h5, h6, a,
	.heading_a, .heading_b, .heading_c,
	.heading_d, .heading_e, .heading_f,
	.heading_g, .heading_h, .heading_i, {
		font-family: 'base_webfont'!important;
	}
}


.uk-notify {
	z-index: 1500;
}

.uk-form-password-toggle {
	font-size: 12px;
}

.parsley-errors-list {
	font-size: 12px;
}

#edit_driver_modal {
	.status-wrapper {
		margin-bottom: 10px;
		padding: 16px;
		background-color: #efefef;
		border-radius: 5px;
		text-align: center;
	}
}

.require-describe {
    bottom: 20px;
	position: absolute;
}

.md-card.image-card .md-card-content {
	padding: 8px;
}

.citizen-id-validate {
	.citizen-message-wrap {
		span {
			font-size: 12px;
		}
		&.valid {
			color: #7cb342;
			i.material-icons {
				color: #7cb342;
			}
		}
		&.invalid {
			color: #e53935;
			i.material-icons {
				color: #e53935;
			}
		}
	}
}

/* all */
::-webkit-input-placeholder { font-size:12px; }
::-moz-placeholder { font-size:12px } /* firefox 19+ */
:-ms-input-placeholder { font-size:12px } /* ie */
input:-moz-placeholder { font-size:12px }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
	@media (max-width: 600px) {
		[class*=uk-width] {
			padding-top: 24px;
		}
	}
}