@font-face {
  font-family: base_webfont;
  src: url(fonts/sukhumvitset-text-webfont.woff); }
@font-face {
  font-family: clound_light_font;
  src: url(fonts/Cloud-Light.otf); }
@font-face {
  font-family: clound_bold_font;
  src: url(fonts/Cloud-Bold.otf); }
body h1, body h2, body h3, body h4, body h5, body h6, body a,
body .heading_a, body .heading_b, body .heading_c,
body .heading_d, body .heading_e, body .heading_f,
body .heading_g, body .heading_h, body .heading_i {
  font-family: "base_webfont" !important; }

.uk-notify {
  z-index: 1500; }

.uk-form-password-toggle {
  font-size: 12px; }

.parsley-errors-list {
  font-size: 12px; }

#edit_driver_modal .status-wrapper {
  margin-bottom: 10px;
  padding: 16px;
  background-color: #efefef;
  border-radius: 5px;
  text-align: center; }

.require-describe {
  bottom: 20px;
  position: absolute; }

.md-card.image-card .md-card-content {
  padding: 8px; }

.citizen-id-validate .citizen-message-wrap span {
  font-size: 12px; }
.citizen-id-validate .citizen-message-wrap.valid {
  color: #7cb342; }
  .citizen-id-validate .citizen-message-wrap.valid i.material-icons {
    color: #7cb342; }
.citizen-id-validate .citizen-message-wrap.invalid {
  color: #e53935; }
  .citizen-id-validate .citizen-message-wrap.invalid i.material-icons {
    color: #e53935; }

/* all */
::-webkit-input-placeholder {
  font-size: 12px; }

::-moz-placeholder {
  font-size: 12px; }

/* firefox 19+ */
:-ms-input-placeholder {
  font-size: 12px; }

/* ie */
input:-moz-placeholder {
  font-size: 12px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

@media (max-width: 600px) {
  body [class*=uk-width] {
    padding-top: 24px; } }

/*# sourceMappingURL=ccadmin.css.map */
