#driver_cancel_history {
  overflow: auto;
  max-height: 300px; }

hr.uk-grid-divider:empty {
  margin-top: 15px;
  margin-bottom: 15px; }

td.opened {
  color: #FFF;
  background: #2196F3 !important; }

/*# sourceMappingURL=job_cancel_manager.css.map */
