#git {
  left: 0;
  bottom: 0;
  z-index: 1300;
  position: absolute; }

input[name=start_date],
input[name=start_time] {
  margin-top: 6px; }
  input[name=start_date][disabled=disabled],
  input[name=start_time][disabled=disabled] {
    background: #f7f7f7; }

input[type=text]:disabled,
input[type=text][disabled=disabled] {
  margin-top: 6px;
  background: #f1f1f1; }

.selectize-control.single {
  margin-top: 10px; }

#target_group_modal .counter-wrapper,
#add_notification_modal .counter-wrapper,
#edit_notification_modal .counter-wrapper {
  position: absolute;
  right: 40px;
  top: 20px; }
  #target_group_modal .counter-wrapper > .number,
  #add_notification_modal .counter-wrapper > .number,
  #edit_notification_modal .counter-wrapper > .number {
    font-size: 32px; }

#province-target .md-card-content .uk-grid,
#garage-target .md-card-content .uk-grid {
  height: 300px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll; }

.form_hr {
  margin: 6px 0 6px; }

#preview_modal .preview-content-wrapper {
  width: 343px;
  height: 570px;
  background: #fff;
  margin-left: 23px;
  margin-top: 111px;
  padding: 0px;
  max-height: 570px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center; }

.uk-notify.uk-notify-bottom-center {
  z-index: 1400; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #f2f2f2;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #9E9E9E; }

/*# sourceMappingURL=notification_management.css.map */
