#gmap {
    width: 100%;
    height: 100%;
    position: absolute !important;
    overflow: hidden;
}

#poi-table-outer {
    position: relative;
}

#poi-table-wrapper {
    width: 620px;
    left: 0px;
    position: absolute;
    -webkit-animation-name: poi_table_show; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 400ms; /* Safari 4.0 - 8.0 */
    animation-name: poi_table_show;
    animation-duration: 300ms;
    &.hide {
        left: -631px;
        -webkit-animation-name: poi_table_hide; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 400ms; /* Safari 4.0 - 8.0 */
        animation-name: poi_table_hide;
        animation-duration: 300ms;
    }
}

#md-input-button {
    bottom: 15px;
    right: 20px;
    position: fixed;
    z-index: 1004;
    transition: margin 280ms;
    width:5em; 
}

@-webkit-keyframes poi_table_show {
    0%   {left: -631px;}
    100% {left: 0px;}
}

/* Standard syntax */
@keyframes poi_table_show {
    0%   {left: -631px;}
    100% {left: 0px;}
}

@-webkit-keyframes poi_table_hide {
    0%   {left: 0px;}
    100% {left: -631px;}
}

/* Standard syntax */
@keyframes poi_table_hide {
    0%   {left: 0px;}
    100% {left: -631px;}
}

#poi-form-outer {
}

#add-poi-form-wrapper {
    /*right: 25px;*/
}

#edit-poi-form-wrapper {
    /*right: 550px;*/
}

#add-poi-form-wrapper,
#edit-poi-form-wrapper {
    width: 500px;
    left:50%;
    margin-left:-130px;
    position: absolute;
    z-index: 1005;
    bottom: -260px;
    -webkit-animation-name: movedown; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 400ms; /* Safari 4.0 - 8.0 */
    animation-name: movedown;
    animation-duration: 300ms;
    &.show {
        bottom: 25px;
        -webkit-animation-name: moveup; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 400ms; /* Safari 4.0 - 8.0 */
        animation-name: moveup;
        animation-duration: 300ms;
    }
}

@-webkit-keyframes moveup {
    0%   {bottom:-260px;}
    100% {bottom:25px;}
}

/* Standard syntax */
@keyframes moveup {
    0%   {bottom:-260px;}
    100% {bottom:25px;}
}

@-webkit-keyframes movedown {
    0%   {bottom:25px;}
    100% {bottom:-260px;}
}

/* Standard syntax */
@keyframes movedown {
    0%   {bottom:25px;}
    100% {bottom:-260px;}
}

#search-poi-wrapper {
    position: absolute;
    width: 400px;
    right: 25px;
    background: #FFF;
    top: 60px;
    border-radius: 3px;
    padding: 3px 6px;
}


/* Override theme */
html {
    overflow-y: hidden;
}

#page_content_inner {
    margin-top: 0px;
    padding: 50px 10px 0px;
}

html, body, 
#page_content, 
#page_content_inner {
    height: 100%;
}

.curlocation_column {
    font-size: 12px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f2f2f2; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #9E9E9E; 
}