<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="app_my_theme">
<!--<![endif]-->

<head>
	{{ include meta }}

	<title>Taxi-Beam Administration</title>

	{{ include stylesheet }}

	<!-- themes -->
	<link rel="stylesheet" type="text/css" href="assets/theme/altair/css/themes/themes_combined.min.css" media="all">

	<link rel="stylesheet" type="text/css" href="assets/stylesheets/job_cancel_manager.css">
</head>

<body class="sidebar_main_open sidebar_main_swipe">

	{{ include header_main }} {{ include main_side }}

	<div id="page_content">
		<div id="page_content_inner">
			<h3 class="heading_b uk-margin-bottom"><i class="material-icons">&#xE85F;</i> รอการตรวจสอบ</h3>
			<div class="md-card uk-margin-medium-bottom">
				<div class="md-card-content">
					<div class="dt_colVis_buttons"></div>
					<div class="dt_colVis_buttons"></div>
					<table id="pending-datatable" class="uk-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th rowspan="2">#</th>
								<th colspan="8">รายการคนขับรถ</th>
							</tr>
							<tr>
								<th>Case Id</th>
								<th>วันที่สร้าง</th>
								<th>ชื่อคนขับรถ</th>
								<th>เบอร์โทรศัพท์</th>
								<th>อู่</th>
								<th>จุดรับ</th>
								<th>จุดส่ง</th>
								<th></th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>

			<h3 class="heading_b uk-margin-bottom"><i class="material-icons">&#xE862;</i> ตรวจสอบแล้ว</h3>
			<div class="md-card uk-margin-medium-bottom">
				<div class="md-card-content">
					<div class="dt_colVis_buttons"></div>
					<div class="dt_colVis_buttons"></div>
					<table id="driver-datatable" class="uk-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th rowspan="2">#</th>
								<th colspan="8">รายการคนขับรถ</th>
							</tr>
							<tr>
								<th>Case Id</th>
								<th>วันที่สร้าง</th>
								<th>ชื่อคนขับรถ</th>
								<th>เบอร์โทรศัพท์</th>
								<th>อู่</th>
								<th>จุดรับ</th>
								<th>จุดส่ง</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="uk-modal" id="job_verify_modal">
		<div class="uk-modal-dialog uk-modal-dialog-large">
			<a class="uk-modal-close uk-close"></a>
			<div class="uk-modal-header">
				<h3 class="uk-modal-title"></h3>
			</div>

			<div class="md-card">
				<div class="md-card-toolbar">
					<h3 class="md-card-toolbar-heading-text">
						รายละเอียดงาน
					</h3>
				</div>
				<div class="md-card-content large-padding">
					<div class="uk-grid uk-grid-divider uk-grid-medium">
						<div class="uk-width-large-1-2">
							<div class="uk-grid uk-grid-small">
								<div class="uk-width-large-1-3">
									<span class="uk-text-muted uk-text-small">ชื่อคนขับ</span>
								</div>
								<div class="uk-width-large-2-3">
									<span class="uk-text-large uk-text-middle" name="driver-name"></span>
								</div>
							</div>
							<hr class="uk-grid-divider">
							<div class="uk-grid uk-grid-small">
								<div class="uk-width-large-1-3">
									<span class="uk-text-muted uk-text-small">เบอร์ฯ (คนขับ)</span>
								</div>
								<div class="uk-width-large-2-3">
									<span class="uk-text-large uk-text-middle" name="phone-number-driver"></span>
								</div>
							</div>
							<hr class="uk-grid-divider">
							<div class="uk-grid uk-grid-small">
								<div class="uk-width-large-1-3">
									<span class="uk-text-muted uk-text-small">เบอร์ฯ (ผู้โดยสาร)</span>
								</div>
								<div class="uk-width-large-2-3" name="phone-number-passenger"></div>
							</div>
							<hr class="uk-grid-divider">
							<div class="uk-grid uk-grid-small">
								<div class="uk-width-large-1-3">
									<span class="uk-text-muted uk-text-small">จุดรับ</span>
								</div>
								<div class="uk-width-large-2-3" name="pickup-address"></div>
							</div>
							<hr class="uk-grid-divider">
							<div class="uk-grid uk-grid-small">
								<div class="uk-width-large-1-3">
									<span class="uk-text-muted uk-text-small">จุดส่ง</span>
								</div>
								<div class="uk-width-large-2-3" name="destination"></div>
							</div>
							<hr class="uk-grid-divider">
							<div class="uk-grid uk-grid-small">
								<div class="uk-width-large-1-3">
									<span class="uk-text-muted uk-text-small">เหตุผลที่ระบุมา</span>
								</div>
								<div class="uk-width-large-2-3" name="cancel_message"></div>
							</div>
							<hr class="uk-grid-divider uk-hidden-large">
						</div>
						<div id="driver_cancel_history" class="uk-width-large-1-2">
							<div class="uk-text-muted uk-display-block uk-margin-small-bottom">
								ประวัติการยกเลิกงาน
							</div>
							<hr class="uk-grid-divider">
							<ul class="md-list md-list-addon">
								<li>
									<div class="md-list-addon-element">
										<img class="md-user-image md-list-addon-avatar" src="http://placehold.it/34?text=" alt="" />
									</div>
									<div class="md-list-content">
										<span class="md-list-heading">Heading</span>
										<span class="uk-text-small uk-text-muted">Fuga aliquam voluptatum non cumque qui reiciendis dolores in.</span>
									</div>
								</li>
								<li>
									<div class="md-list-addon-element">
										<img class="md-user-image md-list-addon-avatar" src="http://placehold.it/34?text=" alt="" />
									</div>
									<div class="md-list-content">
										<span class="md-list-heading">Heading</span>
										<span class="uk-text-small uk-text-muted">Magni sunt in aut eligendi voluptatem inventore eum.</span>
									</div>
								</li>
								<li>
									<div class="md-list-addon-element">
										<img class="md-user-image md-list-addon-avatar" src="http://placehold.it/34?text=" alt="" />
									</div>
									<div class="md-list-content">
										<span class="md-list-heading">Heading</span>
										<span class="uk-text-small uk-text-muted">Minima non natus dolore molestiae dolores odio est magni quaerat suscipit.</span>
									</div>
								</li>
								<li>
									<div class="md-list-addon-element">
										<img class="md-user-image md-list-addon-avatar" src="http://placehold.it/34?text=" alt="" />
									</div>
									<div class="md-list-content">
										<span class="md-list-heading">Heading</span>
										<span class="uk-text-small uk-text-muted">Fuga aliquam voluptatum non cumque qui reiciendis dolores in.</span>
									</div>
								</li>
								<li>
									<div class="md-list-addon-element">
										<img class="md-user-image md-list-addon-avatar" src="http://placehold.it/34?text=" alt="" />
									</div>
									<div class="md-list-content">
										<span class="md-list-heading">Heading</span>
										<span class="uk-text-small uk-text-muted">Magni sunt in aut eligendi voluptatem inventore eum.</span>
									</div>
								</li>
								<li>
									<div class="md-list-addon-element">
										<img class="md-user-image md-list-addon-avatar" src="http://placehold.it/34?text=" alt="" />
									</div>
									<div class="md-list-content">
										<span class="md-list-heading">Heading</span>
										<span class="uk-text-small uk-text-muted">Minima non natus dolore molestiae dolores odio est magni quaerat suscipit.</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="md-card">
				<div class="md-card-toolbar">
					<h3 class="md-card-toolbar-heading-text">
						สรุปรายละเอียด
					</h3>
				</div>
				<div class="md-card-content large-padding">
					<form class="uk-form-stacked" id="job_verify_form" onsubmit="JobVerifyForm.submit(this, event); return false;">
						<input type="hidden" name="job_id">
						<div class="uk-grid" data-uk-grid-margin>
							<div class="uk-width-large-1-2">
								<label>เหตุผลการยกเลิกงาน</label>
								<select id="cancel_reason" class="md-input label-fixed" name="cancel_reason[]" multiple>
								</select>
							</div>
							<div class="uk-width-large-1-2">
								<label>อีเมล์แจ้งถึง</label>
								<select id="selec_adv_2" class="md-input label-fixed" name="selec_adv_2" multiple>
									<option value="">Select email...</option>
								</select>
							</div>
							<div class="uk-width-large-1-1">
								<textarea cols="30" rows="4" class="md-input label-fixed" placeholder="ระบุรายละเอียดเพิ่มเติม" name="cancel_memo"></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="uk-modal-footer uk-text-right">
				<button type="submit" class="md-btn md-btn-primary" onclick="$('#job_verify_form').data({verified: 0}).submit();">บันทึก</button>
				<button type="submit" class="md-btn md-btn-success" onclick="$('#job_verify_form').data({verified: 1}).submit();">บันทึกและปิดเคส</button>
				<button type="button" class="md-btn md-btn-flat uk-modal-close">ปิดหน้าต่าง</button>
			</div>
		</div>
	</div>

	{{ include webfont_config }} {{ include script }}

	<script src="assets/javascripts/job_cancel_manager.js"></script>
</body>
</html>