    <!-- main sidebar -->
    <aside id="sidebar_main">
        
        <div class="sidebar_main_header">
            <div class="sidebar_logo">
                <a href="/admin" class="sSidebar_hide sidebar_logo_large">
                    <img class="logo_regular" src="assets/img/taxibeam-logo.png" alt="" height="15" width="180"/>
                    <img class="logo_light" src="assets/theme/altair/img/logo_main_white.png" alt="" height="15" width="71"/>
                </a>
                <a href="/admin" class="sSidebar_show sidebar_logo_small">
                    <img class="logo_regular" src="assets/theme/altair/img/logo_main_small.png" alt="" height="32" width="32"/>
                    <img class="logo_light" src="assets/theme/altair/img/logo_main_small_light.png" alt="" height="32" width="32"/>
                </a>
            </div>
        </div>
        
        <div class="menu_section">
            <ul>
                <li title="หน้าหลัก">
                    <a href="/admin/v2">
                        <span class="menu_icon"><i class="material-icons">&#xE88A;</i></span>
                        <span class="menu_title">หน้าหลัก</span>
                    </a>
                </li>
                <li title="รายการแท็กซี่">
                    <a href="/admin/driver/list">
                        <span class="menu_icon"><i class="material-icons">&#xE559;</i></span>
                        <span class="menu_title">รายการแท็กซี่</span>
                    </a>
                </li>
                <li title="ยืนยันแท็กซี่">
                    <a href="/admin/approve">
                        <span class="menu_icon"><i class="material-icons">&#xE8E8;</i></span>
                        <span class="menu_title">ยืนยันแท็กซี่</span>
                    </a>
                </li>
                <li title="ยืนยันแท็กซี่">
                    <a href="/admin/notification">
                        <span class="menu_icon"><i class="material-icons">&#xE85A;</i></span>
                        <span class="menu_title">แจ้งข่าวสาร</span>
                    </a>
                </li>
                <li title="รายการผู้โดยสาร">
                    <a href="/admin/passenger">
                        <span class="menu_icon"><i class="material-icons">&#xE636;</i></span>
                        <span class="menu_title">รายการผู้โดยสาร</span>
                    </a>
                </li>
                <li title="รายการงานถูกยกเลิก">
                    <a href="/admin/job/cancel">
                        <span class="menu_icon"><i class="material-icons">&#xE85F;</i></span>
                        <span class="menu_title">รายการงานถูกยกเลิก</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- main sidebar end -->