<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="app_my_theme">
<!--<![endif]-->

<head>
    {{ include meta }}

    <title>Taxi-Beam Administration</title>

    {{ include stylesheet }}

    <!-- themes -->
    <link rel="stylesheet" type="text/css" href="assets/theme/altair/css/themes/themes_combined.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="assets/theme/altair/skins/tinymce/material_design/skin.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/notification_management.css">
</head>

<body class="sidebar_main_open sidebar_main_swipe">

    <span id="git" class="uk-badge">{{= git.branch + ' ' + git.short }}</span> {{ include header_main }} {{ include main_side }}

    <div id="page_content">
        <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom"><i class="material-icons">&#xE85A;</i> ระบบแจ้งเตือน</h3>
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                    <div class="dt_colVis_buttons"></div>
                    <div class="dt_colVis_buttons"></div>
                    <table id="notification-lsit-table" class="uk-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th rowspan="2">#</th>
                                <th colspan="8">รายการข้อความ</th>
                            </tr>
                            <tr>
                                <th>ประเภท</th>
                                <th>หัวข้อ</th>
                                <th>status</th>
                                <th>เวลาเริ่ม</th>
                                <th>เวลาสิ้นสุด</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-primary md-fab-wave-light waves-effect waves-button waves-light" href="javascript:void(0)" data-uk-tooltip="{pos:'right'}"
            data-uk-modal="{target:'#add_notification_modal'}" title="สร้างข้อความใหม่"><i class="material-icons">&#xE89C;</i></a>
    </div>

    <form class="uk-modal" id="add_notification_modal">
        <div class="uk-modal-dialog uk-modal-dialog-large">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Create new notification <i class="material-icons" data-uk-tooltip="{pos:'top'}" title="Target Group">&#xE89C;</i></h3>
            </div>
            <div class="uk-grid uk-grid uk-grid-small" data-uk-grid-margin="">
                <div class="uk-width-medium-5-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-clearfix">
                                <div class="uk-float-left">
                                    <h3 class="heading_a uk-margin-small-bottom"> เนื้อหา</h3>
                                </div>
                                <div class="uk-float-right">
                                    <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" href="javascript:void(0)" onclick="AddNotificationForm.preview();">
                                        <i class="material-icons">&#xE8A0;</i> Preview
                                    </a>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-3-4">
                                    <div class="parsley-row">
                                        <div class="md-input-wrapper md-input-filled">
                                            <label>หัวข้อ</label>
                                            <input type="text" class="md-input label-fixed" name="title">
                                            <span class="md-input-bar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-4">
                                    <div class="parsley-row">
                                        <div class="parsley-row">
                                            <select data-md-selectize required name="type">
                                            <option value="">ประเภท</option>
                                            <option value="announce">ประกาศ</option>
                                            <option value="promotion">โปรโมชั่น</option>
                                            <option value="accounting">บัญชี</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-1-1">
                                    <div class="parsley-row">
                                        <div class="md-input-wrapper">
                                            <textarea contenteditable="true" class="md-input selecize_init" name="message" placeholder="พิมพ์ข้อความ">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-5-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_a uk-margin-small-bottom">
                                รูปภาพ
                            </h3>
                            <div class="parsley-row">
                                <input type="file" name="base_image" class="dropify" data-height="100" accept="image/*" data-max-file-size="200K" data-max-width="300" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-medium-1-2">
                            <div class="md-card">
                                <div class="md-card-content">
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left">
                                            <h3 class="heading_a uk-margin-small-bottom">Target Group</h3>
                                            <div add-frm-target-group-counter class="counter-wrapper"><span class="number">0</span> คน</div>
                                        </div>
                                    </div>
                                    <div class="uk-grid uk-grid-small">
                                        <a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0)" onclick="AddNotificationForm.openTargetGroupModal();">เลือกพื้นที่/อู่</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-card">
                                <div class="md-card-content">
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left">
                                            <h3 class="heading_a uk-margin-small-bottom">Individual Select</h3>
                                            <div add-frm-indl-slct-counter class="counter-wrapper"><span class="number">0</span> คน</div>
                                        </div>
                                    </div>
                                    <div class="uk-grid uk-grid-small">
                                        <a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0)" onclick="AddNotificationForm.openIndividualSelectModal();">เลือกแบบรายตัว</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-clearfix">
                                <div class="uk-float-left">
                                    <h3 class="heading_a uk-margin-small-bottom">วันที่เริ่ม</h3>
                                </div>
                                <div class="uk-float-right">
                                    <input type="checkbox" checked data-switchery id="add_frm_start_now_chk" name="start_now" />
                                    <label for="add_frm_start_now_chk" class="inline-label">เริ่มทันที</label>
                                </div>
                            </div>
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-1-2">
                                    <div class="parsley-row">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon start"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                            <label for="add_frm_start_date">วันที่</label>
                                            <input class="md-input" type="text" id="add_frm_start_date" disabled name="start_date" data-min-date="0" value="01/01/1970" data-uk-datepicker="{format:'DD/MM/YYYY'}">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2">
                                    <div class="parsley-row">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon start"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                                            <label for="add_frm_start_time">เวลา</label>
                                            <input class="md-input" type="text" id="add_frm_start_time" disabled name="start_time" value="00:00" data-uk-timepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-clearfix">
                                <div class="uk-float-left">
                                    <h3 class="heading_a uk-margin-small-bottom">วันสิ้นสุด</h3>
                                </div>
                                <div class="uk-float-right">
                                    ระยะเวลาทั้งหมด: <span class="count-time">15 วัน</span>
                                </div>
                            </div>
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-1-2">
                                    <div class="parsley-row">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon end"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                            <label for="add_frm_end_date">วันที่</label>
                                            <input class="md-input" type="text" id="add_frm_end_date" name="end_date" value="01/01/1970" data-uk-datepicker="{format:'DD/MM/YYYY'}">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2">
                                    <div class="parsley-row">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon end"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                                            <label for="add_frm_end_time">เวลา</label>
                                            <input class="md-input" type="text" id="add_frm_end_time" name="end_time" value="00:00" data-uk-timepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-primary" onclick="AddNotificationForm.submit('DRAFT');"><i class="material-icons">&#xE161;</i> Save</button>
                    <button type="button" class="md-btn md-btn-success" onclick="AddNotificationForm.submit('SCHEDULED');"><i class="material-icons">&#xE876;</i> ACTIVE</button>
                    <button type="button" class="md-btn md-btn-flat" onclick="AddNotificationForm.clearFormData();">ล้างข้อมูล</button>
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">ปิดหน้าต่าง</button>
            </div>
        </div>
    </form>

    <form class="uk-modal" id="edit_notification_modal">
        <div class="uk-modal-dialog uk-modal-dialog-large">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Edit notification <i class="material-icons" data-uk-tooltip="{pos:'top'}" title="Target Group">&#xE89C;</i></h3>
            </div>
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-5-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-clearfix">
                                <div class="uk-float-left">
                                    <h3 class="heading_a uk-margin-small-bottom"> เนื้อหา</h3>
                                </div>
                                <div class="uk-float-right">
                                    <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" href="javascript:void(0)" onclick="EditNotificationForm.preview();">
                                        <i class="material-icons">&#xE8A0;</i> Preview
                                    </a>
                                </div>
                            </div>
                            <div class="uk-grid uk-grid uk-grid-small">
                                <div class="uk-width-3-4">
                                    <div class="parsley-row">
                                        <div class="md-input-wrapper md-input-filled">
                                            <label>หัวข้อ</label>
                                            <input type="text" class="md-input label-fixed" name="title">
                                            <span class="md-input-bar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-4">
                                    <div class="parsley-row">
                                        <div class="parsley-row">
                                            <select data-md-selectize required name="type">
                                            <option value="">ประเภท</option>
                                            <option value="announce">ประกาศ</option>
                                            <option value="promotion">โปรโมชั่น</option>
                                            <option value="accounting">บัญชี</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-1-1">
                                    <div class="parsley-row">
                                        <div class="md-input-wrapper" input-wrapper-message>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-5-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_a uk-margin-small-bottom">
                                รูปภาพ
                            </h3>
                            <div class="parsley-row" input-wrapper-image>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-medium-1-2">
                            <div class="md-card">
                                <div class="md-card-content">
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left">
                                            <h3 class="heading_a uk-margin-small-bottom">Target Group</h3>
                                            <div edit-frm-target-group-counter class="counter-wrapper"><span class="number">0</span> คน</div>
                                        </div>
                                    </div>
                                    <div class="uk-grid uk-grid-small">
                                        <a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0)" onclick="EditNotificationForm.openTargetGroupModal();">เลือกพื้นที่/อู่</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-card">
                                <div class="md-card-content">
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left">
                                            <h3 class="heading_a uk-margin-small-bottom">Individual Select</h3>
                                            <div edit-frm-indl-slct-counter class="counter-wrapper"><span class="number">0</span> คน</div>
                                        </div>
                                    </div>
                                    <div class="uk-grid uk-grid-small">
                                        <a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0)" onclick="EditNotificationForm.openIndividualSelectModal();">เลือกแบบรายตัว</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-clearfix">
                                <div class="uk-float-left">
                                    <h3 class="heading_a uk-margin-small-bottom">วันที่เริ่ม</h3>
                                </div>
                                <div class="uk-float-right" input-wrapper-start-now>
                                </div>
                            </div>
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-1-2">
                                    <div class="parsley-row">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon start"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                            <label for="add_frm_start_date">วันที่</label>
                                            <input class="md-input" type="text" id="add_frm_start_date" name="start_date" value="01/01/1970" data-uk-datepicker="{format:'DD/MM/YYYY'}">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2">
                                    <div class="parsley-row">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon start"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                                            <label for="add_frm_start_time">เวลา</label>
                                            <input class="md-input" type="text" id="add_frm_start_time" name="start_time" value="00:00" data-uk-timepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_a uk-margin-small-bottom">วันสิ้นสุด</h3>
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-1-2">
                                    <div class="parsley-row">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon end"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                            <label for="add_frm_end_date">วันที่</label>
                                            <input class="md-input" type="text" id="add_frm_end_date" name="end_date" value="01/01/1970" data-uk-datepicker="{format:'DD/MM/YYYY'}">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2">
                                    <div class="parsley-row">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon end"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                                            <label for="add_frm_end_time">เวลา</label>
                                            <input class="md-input" type="text" id="add_frm_end_time" name="end_time" value="00:00" data-uk-timepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-primary" onclick="EditNotificationForm.submit('DRAFT');"><i class="material-icons">&#xE161;</i> Save change</button>
                    <button type="button" class="md-btn md-btn-success" onclick="EditNotificationForm.submit('SCHEDULED');"><i class="material-icons">&#xE876;</i> Enable</button>
                <button type="button" class="md-btn md-btn-flat uk-modal-close">ปิดหน้าต่าง</button>
            </div>
        </div>
        <input type="hidden" name="id" />
    </form>

    <form class="uk-modal" id="target_group_modal" uk-modal="stack: true">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">เลือกพื้นที่/อู่ <i class="material-icons" data-uk-tooltip="{pos:'top'}" title="สร้างข้อความใหม่">&#xE89C;</i></h3>
                <div class="counter-wrapper"><span class="number">0</span> คน</div>
            </div>
            <div class="uk-grid uk-grid-small" data-uk-grid-margin="">
                <div class="uk-width-medium-1-2">
                    <div class="md-card" id="province-target">
                        <div class="md-card-content">
                            <h3 class="heading_a uk-margin-small-bottom"><i class="material-icons">&#xE8B4;</i> เลือกพื้นที่</h3>
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-1 list-wrapper">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="md-card" id="garage-target">
                        <div class="md-card-content">
                            <h3 class="heading_a uk-margin-small-bottom"><i class="material-icons">&#xE563;</i> เลือกอู่</h3>
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-1 list-wrapper">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-primary" onclick="TargetGroup.submit();">ยืนยันรายการที่เลือก</button>
                <button type="button" class="md-btn md-btn-default" onclick="TargetGroup.uncheckAll();">ยกเลิกที่เลือกทั้งหมด</button>
                <button type="button" class="md-btn md-btn-flat uk-modal-close">ปิดหน้าต่าง</button>
            </div>
        </div>
    </form>

    <form class="uk-modal" id="individual_select_modal" uk-modal="stack: true">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Individual Select <i class="material-icons" data-uk-tooltip="{pos:'top'}" title="Individual Select">&#xE89C;</i></h3>
            </div>
            <div class="uk-grid uk-grid-small" data-uk-grid-margin="">
                <div class="uk-width-medium-1-1">
                    <select id="drivers_list" name="drivers_list" multiple>
                        <option value="">Select driver...</option>
                    </select>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-primary" onclick="IndividualSelect.submit();">ยืนยันรายการที่เลือก</button>
                <button type="button" class="md-btn md-btn-default" onclick="IndividualSelect.clearAll();">ยกเลิกที่เลือกทั้งหมด</button>
                <button type="button" class="md-btn md-btn-flat uk-modal-close">ปิดหน้าต่าง</button>
            </div>
        </div>
    </form>
    
    <div class="uk-modal" id="preview_modal" uk-modal="stack: true">
        <div class="uk-modal-dialog">
            <div class="preview-content-wrapper">
            </div>
        </div>
    </div>

    {{ include webfont_config }} {{ include script }}

    <!-- page specific plugins -->
    <!-- ckeditor -->
    <script src="bower_components/ckeditor/ckeditor.js"></script>
    <script src="bower_components/ckeditor/adapters/jquery.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="assets/javascripts/notification_management.js"></script>
</body>

</html>