    <!-- additional styles for plugins -->
    <!-- dropify -->
    <link rel="stylesheet" href="assets/theme/altair/skins/dropify/css/dropify.css">

    <!-- uikit -->
    <link rel="stylesheet" href="bower_components/uikit/css/uikit.almost-flat.min.css" media="all">

    <!-- flag icons -->
    <link rel="stylesheet" href="assets/theme/altair/icons/flags/flags.min.css" media="all">

    <!-- style switcher -->
    <link rel="stylesheet" href="assets/theme/altair/css/style_switcher.min.css" media="all">
    
    <!-- altair admin -->
    <link rel="stylesheet" href="assets/theme/altair/css/main.min.css" media="all">

    <!-- themes -->
    <link rel="stylesheet" href="assets/theme/altair/css/themes/my_theme.min.css" media="all">
	
	<link rel="stylesheet" type="text/css" href="/bower_components/fancybox/source/jquery.fancybox.css" />

    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
        <link rel="stylesheet" href="assets/theme/altair/css/ie.css" media="all">
    <![endif]-->