    <!-- main sidebar -->
    <aside id="sidebar_main">
        
        <div class="sidebar_main_header">
            <div class="sidebar_logo">
                <a href="index.html" class="sSidebar_hide sidebar_logo_large">
                    <img class="logo_regular" src="assets/img/taxibeam-logo.png" alt="" height="15" width="180"/>
                    <img class="logo_light" src="assets/theme/altair/img/logo_main_white.png" alt="" height="15" width="71"/>
                </a>
                <a href="index.html" class="sSidebar_show sidebar_logo_small">
                    <img class="logo_regular" src="assets/theme/altair/img/logo_main_small.png" alt="" height="32" width="32"/>
                    <img class="logo_light" src="assets/theme/altair/img/logo_main_small_light.png" alt="" height="32" width="32"/>
                </a>
            </div>
        </div>
        
        <div class="menu_section">
            <ul>
                <li title="จัดการแท็กซี่">
                    <a href="/ccadmin/drivers">
                        <span class="menu_icon"><i class="material-icons">&#xE559;</i></span>
                        <span class="menu_title">จัดการแท็กซี่</span>
                    </a>
                </li>
                <li title="แท็กซี่รอการยืนยัน" id="menu_driver_pending">
                    <a href="/ccadmin/driver/pending">
                        <span class="menu_icon"><i class="material-icons">&#xE8E8;</i></span>
                        <span class="menu_title">แท็กซี่รอยืนยัน</span>
                        <span class="uk-badge uk-hidden">0</span>
                    </a>
                </li>
                <li title="จัดการ POI">
                    <a href="/ccadmin/poimanager">
                        <span class="menu_icon"><i class="material-icons">&#xE0C8;</i></span>
                        <span class="menu_title">จัดการ POI</span>
                    </a>
                </li>
                <li title="ตั้งค่าระบบ">
                    <a href="/ccadmin/settings">
                        <span class="menu_icon"><i class="material-icons">&#xE8B8;</i></span>
                        <span class="menu_title">ตั้งค่าระบบ</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- main sidebar end -->