    <!-- common functions -->
    <script src="assets/theme/altair/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="assets/theme/altair/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="assets/theme/altair/js/altair_admin_common.min.js"></script>

    <!-- page specific plugins -->
    <!-- parsley (validation) -->
    <script>
    // load parsley config (altair_admin_common.js)
    altair_forms.parsley_validation_config();
    </script>

    <script src="bower_components/parsleyjs/dist/parsley.min.js"></script>

    <!-- page specific plugins -->
    <!--  dropify -->
    <script src="assets/theme/altair/js/custom/dropify/dist/js/dropify.min.js"></script>

    <!--  form file input functions -->
    <script src="assets/theme/altair/js/pages/forms_file_input.js"></script>

    <!-- inputmask-->
    <script src="bower_components/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>

    <!-- Add fancyBox -->
    <script type="text/javascript" src="bower_components/fancybox/source/jquery.fancybox.js"></script>
    
    <!-- page specific plugins -->
    <!-- datatables -->
    <script src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables buttons-->
    <script src="bower_components/datatables-buttons/js/dataTables.buttons.js"></script>
    <script src="assets/theme/altair/js/custom/datatables/buttons.uikit.js"></script>
    <script src="bower_components/jszip/dist/jszip.min.js"></script>
    <script src="bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="bower_components/datatables-buttons/js/buttons.colVis.js"></script>
    <script src="bower_components/datatables-buttons/js/buttons.html5.js"></script>
    <script src="bower_components/datatables-buttons/js/buttons.print.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/javascripts/province.js"></script>

    <!-- APP SCRIPT -->
    <script type="text/javascript">
     var USER_CURRENT_LOCATION = JSON.parse("[{{= usercurloc }}]").reverse();
     var USER_DATA = {
      _id: "{{= user_data.id }}",
      _id_garage: "{{= user_data._id_garage }}",
      name: "{{= user_data.name }}",
      email: "{{= user_data.email }}",
      group: "{{= user_data.group }}",
      username: "{{= user_data.username }}",
      groupNameTH: "{{= user_data.groupNameTH }}",
      provinceTH: "{{= user_data.provinceTH }}",
      provinceEN: "{{= user_data.provinceEN }}",
    };

    USER_DATA.provinceEN = USER_DATA.provinceEN.split(",");
    
    $(function() {
      $("#sidebar_main").find(".menu_section ul li a").filter(function(i, a) {
        if(a.pathname === window.location.pathname) {
          $(a).closest("li").addClass("current_section");
        }
      });
    });
  </script>

  {{ include notification_driver_pending }}