<!-- POPUP MODAL -->
<div id="createTaskModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">

				<div class="modal-control" >
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-default close-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
					</div>
				</div>

				<div class="row">
					<form id="createTaskForm" action="/service/ubeam/drvregister" method="post" enctype="multipart/form-data" >
						<div class="col-md-12 col-lg-12">
							<div class="pull-left">
								<h3 class="modal-title"><i class="fa fa-plus-square-o"></i> เพิ่มคนขับ</h3>
							</div>
							<div class="clearfix"></div>
							<hr>
						</div>
						
						<div class="col-md-12 col-lg-12">
							<div class="form-left-wrap">
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<label for="username">Username</label>
											<input type="text" class="form-control" id="drv_username" name="drv_username" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
										<label for="password">Password</label>
											<input type="text" class="form-control" id="drv_password" name="drv_password" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
								</div>								
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<label for="fname">ชื่อ</label>
											<input type="text" class="form-control" id="fname" name="fname" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
										<label for="lname">นามสกุล</label>
											<input type="text" class="form-control" id="lname" name="lname" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
								</div>	
								<div class="row">								
									<div class="col-md-12 col-lg-12">
										<div class="form-group">
											<label for="citizenid">หมายเลขบัตรประชาชน</label>											
												<input type="text" class="form-control" id="citizenid" name="citizenid" maxlength="13" autocomplete="off">
										</div>
									</div>
								</div>	

								<div class="row">
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<label for="carplate">ทะเบียน</label>
											<input type="text" class="form-control" id="carplate" name="carplate" autocomplete="off" minlength="1" maxlength="10" value="">
										</div>
									</div>
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
										<label for="cartype">ประเภทรถ</label>
											<select id="cartype" class="form-control">
												<option></option>
												<option value="car" >car</option>
												<option value="minivan" >minivan</option>
											</select>
										</div>
									</div>
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
										<label for="carcolor">สีรถ</label>
											<select id="carcolor" class="form-control">
												<option></option>
												<option value="น้ำเงิน" >น้ำเงิน</option>
												<option value="เขียว" >เขียว</option>
												<option value="ส้ม" >ส้ม</option>
												<option value="ชมพู" >ชมพู</option>
												<option value="ชมพู-เทา" >ชมพู-เทา</option>
												<option value="แดง" >แดง</option>
												<option value="แดง-น้ำเงิน" >แดง-น้ำเงิน</option>
												<option value="แดง-เทา" >แดง-เทา</option>
												<option value="ม่วง" >ม่วง</option>
												<option value="เหลือง" >เหลือง</option>
												<option value="เหลือง-น้ำเงิน" >เหลือง-น้ำเงิน</option>
												<option value="เหลือง-เขียว" >เหลือง-เขียว</option>
												<option value="เหลือง-แดง" >เหลือง-แดง</option>
												<option value="อื่นๆ" >อื่นๆ</option>
											</select>											
										</div>
									</div>									
								</div>									
																
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<label for="phone">เบอร์มือถือ</label>
											<input type="text" class="form-control" id="phone" name="phone" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
										<label for="taxiID">เลขประจำตัวคนขับ</label>
											<input type="text" class="form-control" id="taxiID" name="taxiID" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
								</div>																	

								<div class="row">								
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<label for="address">ที่อยู่</label>
												<input type="text" class="form-control" id="address" name="address" autocomplete="off" minlength="1" maxlength="100" value="">
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<label for="zipcode">รหัสไปรษณีย์</label>
												<input type="text" class="form-control" id="zipcode" name="zipcode" autocomplete="off" minlength="1" maxlength="12" value="">
										</div>
									</div>									
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<label for="province">จังหวัด</label>
											<select id="province" class="form-control">
												<option></option>
												<option value="อุบลราชธานี">อุบลราชธานี</option>
												<option value="ศรีสะเกษ">ศรีสะเกษ</option>
												<option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
												<option value="นครราชสีมา">นครราชสีมา</option>
												<option value="ร้อยเอ็ด">ร้อยเอ็ด</option>
											</select>
										</div>
									</div>	
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<label for="district">อำเภอ</label>
											<input type="text" class="form-control" id="district" name="district" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>	
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<label for="tambon">ตำบล</label>
											<input type="text" class="form-control" id="tambon" name="tambon" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>																											
								</div>										

								<div class="row">								
									<div class="col-md-12 col-lg-12">
										<div class="form-group">										
											<input type="checkbox" class="js-switch" id="allowpsgcontact" name="allowpsgcontact" value="Y" />
												<span class="text">แสดงเบอร์โทรศัพท์ให้ผู้โดยสารติดต่อ</span>
											<input type="checkbox" class="js-switch" id="outbound" name="outbound"   value="Y" />
												<span class="text">รับเหมางานต่างจังหวัด</span>
											<input type="checkbox" class="js-switch" id="carryon"  name="carryon"  value="Y" />
												<span class="text">รับส่งของ</span>
											<input type="checkbox" class="js-switch" id="english"  name="english"  value="Y" />
												<span class="text">พูดภาษาอังกฤษได้</span>																																												
										</div>										
									</div>
								</div>

								<div class="row">	

									<!-- some CSS styling changes and overrides -->
									<style>
									.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
										margin: 0;
										padding: 0;
										border: none;
										box-shadow: none;
										text-align: center;
									}
									.kv-avatar .file-input {
										display: table-cell;
										max-width: 220px;
									}
									</style>
 
									<!-- the avatar markup -->
									<div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<div class="kv-avatar center-block" style="width:200px">
												<input id="upload" name="upload" type="file" class="file-loading">
											</div>
										</div>
									</div>
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<div class="kv-avatar center-block" style="width:200px">
												<input id="imgcar" name="imgcar" type="file" class="file-loading">
											</div>
										</div>
									</div>
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<div class="kv-avatar center-block" style="width:200px">
												<input id="imglicence" name="imglicence" type="file" class="file-loading">
											</div>
										</div>
									</div>											
									<!-- your server code `avatar_upload.php` will receive `$_FILES['avatar']` on form submission -->																			
								</div>
							</div>
						</div>

						<div class="col-md-12 col-lg-12">
							<button id="saveBtn" type="submit" class="btn btn-success">บันทึก</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="editdrvModal" class="modal" tabindex="-1" role="dialog">
</div>

<!-- POPUP MODAL -->
<div id="assignTaskModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">

				<div class="modal-control" >
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-default close-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
					</div>
				</div>

				<div class="row">
					<form id="createTaskForm" action="/service/ubeam/drvregister" method="post" enctype="multipart/form-data" >
						<div class="col-md-12 col-lg-12">
							<div class="pull-left">
								<h3 class="modal-title"><i class="fa fa-plus-square-o"></i> แก้ไขคนขับ</h3>
							</div>
							<div class="clearfix"></div>
							<hr>
						</div>
						
						<div class="col-md-12 col-lg-12">
							<div class="form-left-wrap">
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<label for="username">Username</label>
											<input type="text" class="form-control" id="drv_username" name="drv_username" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
										<label for="password">Password</label>
											<input type="text" class="form-control" id="drv_password" name="drv_password" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
								</div>								
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<label for="fname">ชื่อ</label>
											<input type="text" class="form-control" id="fname" name="fname" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
										<label for="lname">นามสกุล</label>
											<input type="text" class="form-control" id="lname" name="lname" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
								</div>	
								<div class="row">								
									<div class="col-md-12 col-lg-12">
										<div class="form-group">
											<label for="citizenid">หมายเลขบัตรประชาชน</label>											
												<input type="text" class="form-control" id="citizenid" name="citizenid" maxlength="13" autocomplete="off">
										</div>
									</div>
								</div>	

								<div class="row">
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<label for="carplate">ทะเบียน</label>
											<input type="text" class="form-control" id="carplate" name="carplate" autocomplete="off" minlength="1" maxlength="10" value="">
										</div>
									</div>
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
										<label for="cartype">ประเภทรถ</label>
											<select id="cartype" class="form-control">
												<option></option>
												<option value="car" >car</option>
												<option value="minivan" >minivan</option>
											</select>
										</div>
									</div>
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
										<label for="carcolor">สีรถ</label>
											<select id="carcolor" class="form-control">
												<option></option>
												<option value="น้ำเงิน" >น้ำเงิน</option>
												<option value="เขียว" >เขียว</option>
												<option value="ส้ม" >ส้ม</option>
												<option value="ชมพู" >ชมพู</option>
												<option value="ชมพู-เทา" >ชมพู-เทา</option>
												<option value="แดง" >แดง</option>
												<option value="แดง-น้ำเงิน" >แดง-น้ำเงิน</option>
												<option value="แดง-เทา" >แดง-เทา</option>
												<option value="ม่วง" >ม่วง</option>
												<option value="เหลือง" >เหลือง</option>
												<option value="เหลือง-น้ำเงิน" >เหลือง-น้ำเงิน</option>
												<option value="เหลือง-เขียว" >เหลือง-เขียว</option>
												<option value="เหลือง-แดง" >เหลือง-แดง</option>
												<option value="อื่นๆ" >อื่นๆ</option>
											</select>											
										</div>
									</div>									
								</div>									
																
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<label for="phone">เบอร์มือถือ</label>
											<input type="text" class="form-control" id="phone" name="phone" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
										<label for="taxiID">เลขประจำตัวคนขับ</label>
											<input type="text" class="form-control" id="taxiID" name="taxiID" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>
								</div>																	

								<div class="row">								
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<label for="address">ที่อยู่</label>
												<input type="text" class="form-control" id="address" name="address" autocomplete="off" minlength="1" maxlength="100" value="">
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<label for="zipcode">รหัสไปรษณีย์</label>
												<input type="text" class="form-control" id="zipcode" name="zipcode" autocomplete="off" minlength="1" maxlength="12" value="">
										</div>
									</div>									
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<label for="province">จังหวัด</label>
											<select id="province" class="form-control">
												<option></option>
												<option value="อุบลราชธานี">อุบลราชธานี</option>
												<option value="ศรีสะเกษ">ศรีสะเกษ</option>
												<option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
												<option value="นครราชสีมา">นครราชสีมา</option>
												<option value="ร้อยเอ็ด">ร้อยเอ็ด</option>
											</select>
										</div>
									</div>	
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<label for="district">อำเภอ</label>
											<input type="text" class="form-control" id="district" name="district" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>	
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<label for="tambon">ตำบล</label>
											<input type="text" class="form-control" id="tambon" name="tambon" autocomplete="off" minlength="1" maxlength="16" value="">
										</div>
									</div>																											
								</div>										

								<div class="row">								
									<div class="col-md-12 col-lg-12">
										<div class="form-group">										
											<input type="checkbox" class="js-switch" id="allowpsgcontact" name="allowpsgcontact" value="Y" />
												<span class="text">แสดงเบอร์โทรศัพท์ให้ผู้โดยสารติดต่อ</span>
											<input type="checkbox" class="js-switch" id="outbound" name="outbound"   value="Y" />
												<span class="text">รับเหมางานต่างจังหวัด</span>
											<input type="checkbox" class="js-switch" id="carryon"  name="carryon"  value="Y" />
												<span class="text">รับส่งของ</span>
											<input type="checkbox" class="js-switch" id="english"  name="english"  value="Y" />
												<span class="text">พูดภาษาอังกฤษได้</span>																																												
										</div>										
									</div>
								</div>

								<div class="row">	

									<!-- some CSS styling changes and overrides -->
									<style>
									.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
										margin: 0;
										padding: 0;
										border: none;
										box-shadow: none;
										text-align: center;
									}
									.kv-avatar .file-input {
										display: table-cell;
										max-width: 220px;
									}
									</style>
 
									<!-- the avatar markup -->
									<div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<div class="kv-avatar center-block" style="width:200px">
												<input id="upload" name="upload" type="file" class="file-loading">
											</div>
										</div>
									</div>
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<div class="kv-avatar center-block" style="width:200px">
												<input id="imgcar" name="imgcar" type="file" class="file-loading">
											</div>
										</div>
									</div>
									<div class="col-md-4 col-lg-4">
										<div class="form-group">
											<div class="kv-avatar center-block" style="width:200px">
												<input id="imglicence" name="imglicence" type="file" class="file-loading">
											</div>
										</div>
									</div>											
									<!-- your server code `avatar_upload.php` will receive `$_FILES['avatar']` on form submission -->																			
								</div>
							</div>
						</div>

						<div class="col-md-12 col-lg-12">
							<button id="saveBtn" type="submit" class="btn btn-success">บันทึก</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="assignTaskModal_old" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog full-screen">
		<div class="modal-content">
			<div class="modal-body">

				<div class="modal-control">
					<div class="btn-group" role="group">
						<button class="btn btn-default toggle-size" onclick="Modal.assignTaskModal.toggleFullScreen();"><i class="fa fa-arrows-alt"></i></button>
						<button class="btn btn-default close-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
					</div>
				</div>

				<div class="content">
					<div class="row">


						<div class="col-md-4 col-lg-4">
							<div class="detail-wrap">

								<h3 class="title">รายละเอียด</h3>
								<hr>

								<div class="value-set">
									<p class="caption">เบอร์ติดต่อผู้โดยสาร</p>
									<p class="text phone"></p>
								</div>

								<div class="value-set">
									<p class="caption">จังหวัด</p>
									<p class="text province"></p>
								</div>

								<div class="value-set">
									<p class="caption">จุดรับ</p>
									<p class="text current"></p>
								</div>

								<div class="value-set">
									<p class="caption">จุดส่ง</p>
									<p class="text destination"></p>
								</div>

								<div class="value-set">
									<p class="caption">รายละเอียดการไปรับ</p>
									<p class="text detail"></p>
								</div>

								<form id="searchTaxiBeforeAssignForm">
									<label for="car-plate-inp">ระบุหมายเลขรถ</label>
									<input type="text" class="form-control" id="car-plate-inp" name="carplate" minlength="2" maxlength="8" autocomplete="off">
								</form>

								<form id="assignTaskForm">
									<div class="form-group">
										<input type="hidden" id="pass_id">
									</div>
									<button type="submit" class="btn btn-block btn-lg btn-success">จ่ายงาน</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>


<div id="assignTaskByLineModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h3 class="modal-title">รายละเอียด</h3>
				<div class="modal-control">
					<div class="btn-group" role="group">
						<button class="btn btn-default close-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
					</div>
				</div>
			</div>

			<div class="modal-body">

				<div class="content">
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<div class="detail-wrap">

								

								<div class="value-set">
									<p class="caption">เบอร์ติดต่อผู้โดยสาร</p>
									<p class="text phone"></p>
								</div>

								<div class="value-set">
									<p class="caption">จุดรับ</p>
									<p class="text current"></p>
								</div>

								<div class="value-set">
									<p class="caption">จุดส่ง</p>
									<p class="text destination"></p>
								</div>

								<div class="value-set">
									<p class="caption">รายละเอียดการไปรับ</p>
									<p class="text detail"></p>
								</div>

								<div class="value-set">
									<p class="caption">เลขทะเบียนแท็กซี่เจ้าของงาน </p>
									<p class="text carplate"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-block btn-lg btn-success">จ่ายงานผ่าน Line เรียบร้อย</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>


<div id="assignedTaskModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">

				<div class="modal-control">
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-default close-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
					</div>
				</div>
				
				<div class="content">
					<div class="row">
						<div class="col-md-8 col-lg-8">
							<div class="map-wrap">
							</div>
						</div>

						<div class="col-md-4 col-lg-4">
							<div class="detail-wrap">

								<h3 class="title">รายละเอียด</h3>
								<hr>

								<div class="value-set">
									<p class="caption">เบอร์ติดต่อผู้โดยสาร</p>
									<p class="text phone"></p>
								</div>

								<div class="value-set col-md-6 col-lg-6">
									<p class="caption">จุดรับ</p>
									<p class="text current"></p>
								</div>

								<div class="value-set col-md-6 col-lg-6">
									<p class="caption">จุดส่ง</p>
									<p class="text destination"></p>
								</div>

								<div class="value-set">
									<p class="caption">รายละเอียดการไปรับ</p>
									<p class="text detail"></p>
								</div>

								<div class="value-set">
									<p class="caption">หมายเหตุ</p>
									<div class="input-group commentForm">
										<input type="text" class="form-control">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">บันทึก</button>
										</span>
									</div>
								</div>

								<h4 class="title">ข้อมูลแท็กซี่</h4>
								<hr>

								<div class="alert alert-warning alert-missing-driver" role="alert">งานนี้ถูกจ่ายไปยังแท็กซี่นอกระบบ!</div>

								<div class="driver-wrap">
									<div class="col-md-5 col-lg-5">
										<img src="" class="driver-img img-circle">
									</div>

									<div class="col-md-7 col-lg-7">
										<div class="value-set">
											<p class="caption">ชื่อ/สกุล</p>
											<p class="text driver_fullname"></p>
										</div>
										<div class="value-set">
											<p class="caption">เลขทะเบียน</p>
											<p class="text driver_carplate"></p>
										</div>
										<div class="value-set">
											<p class="caption">เบอร์โทรติดต่อ</p>
											<p class="text driver_phone">-</p>
										</div>
									</div>

									<div class="clearfix"></div>
								</div>

								<button type="submit" class="btn btn-block btn-lg btn-danger reject-btn">ยกเลิกงานนี้</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>


<div id="assignedTaskEditableModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">

				<div class="modal-control">
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-default close-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<h3 class="title">รายละเอียด</h3>
				<hr>

				<form id="assignedTaskEditableForm">
					<input type="hidden" id="psg_id">
					<div class="form-group">
						<label for="phone">เบอร์ติดต่อผู้โดยสาร</label>
						<input type="text" class="form-control" id="phone" name="phone">
					</div>
					<div class="form-group">
						<label for="curaddr">จุดรับ</label>
						<input type="text" class="form-control" id="curaddr" name="curaddr">
					</div>
					<div class="form-group">
						<label for="destination">จุดส่ง</label>
						<input type="text" class="form-control" id="destination" name="destination">
					</div>
					<div class="form-group">
						<label for="detail">รายละเอีดยการไปรับ</label>
						<input type="text" class="form-control" id="detail" name="detail">
					</div>
					<div class="form-group">
						<label for="cccomment">หมายเหตุ</label>
						<input type="text" class="form-control" id="cccomment" name="cccomment">
					</div>
					<button type="submit" class="btn btn-block btn-lg btn-primary">บันทึก</button>
				</form>
			</div>
		</div>
	</div>
</div>


<div id="reportModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="top" title="ปิด"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">รายงาน</h4>
				<p class="modal-message"><i>ภาพรวมของวันที่ :: </i> <span class="detail"></span></p>
			</div>
			<div class="modal-body">
				{{ include report }}
			</div>
		</div>
	</div>
</div>


<div id="confirmModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<div class="message"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger confirm">ยืนยัน</button>
				<button class="btn btn-link" data-dismiss="modal">ยกเลิก</button>
			</div>
		</div>
	</div>
</div>


<div id="confirmNoneRegisterDriverModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<div class="message"><h3 class="title">รถคันนี้ไม่มีในระบบ <i class="fa fa-exclamation"></i></h3><p class="text">คุณต้องการจ่ายงานหรือไม่</p></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary confirm">ยืนยัน</button>
				<button class="btn btn-link" data-dismiss="modal">ยกเลิก</button>
			</div>
		</div>
	</div>
</div>


<div id="areaSuggestion" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-control">
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-default close-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<h4 class="title"><i class="material-icons">star_border</i> ตำแหน่งแนะนำ</h4>
			</div>
			<div class="modal-body">

				<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
					<div class="mdl-tabs__tab-bar">

						<a href="#panel-0" class="mdl-tabs__tab is-active">ห้าง/ร้าน</a>
						<a href="#panel-1" class="mdl-tabs__tab">สถานศึกษา</a>
						<a href="#panel-2" class="mdl-tabs__tab">รพ/ราชการ</a>
						<a href="#panel-3" class="mdl-tabs__tab">วัด</a>
						<a href="#panel-4" class="mdl-tabs__tab">ที่พัก</a>
						<a href="#panel-5" class="mdl-tabs__tab">กินเที่ยว</a>
						<a href="#panel-6" class="mdl-tabs__tab">อื่นๆ</a>
					</div>

					<div class="mdl-tabs__panel is-active" id="panel-0">
						<div class="mdl-grid">
							<div class="mdl-cell mdl-cell--3-col">
								<ul class="mdl-list">
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
								</ul>
							</div>
							<div class="mdl-cell mdl-cell--3-col">
								<ul class="mdl-list">
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
								</ul>
							</div>
							<div class="mdl-cell mdl-cell--3-col">
								<ul class="mdl-list">
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
								</ul>
							</div>
							<div class="mdl-cell mdl-cell--3-col">
								<ul class="mdl-list">
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="mdl-tabs__panel is-active" id="panel-1">
						<div class="mdl-grid">
							<div class="mdl-cell mdl-cell--3-col">
								<ul class="mdl-list">
									<li class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-icon">store_mall_directory</i>
											<span>วิทยาลัยพยาบาล</span>
											<span class="mdl-list__item-sub-title">จุดจอดรพ.ใหญ่</span>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="mdl-tabs__panel is-active" id="panel-2">2
					</div>

					<div class="mdl-tabs__panel is-active" id="panel-3">3
					</div>

					<div class="mdl-tabs__panel is-active" id="panel-4">4
					</div>

					<div class="mdl-tabs__panel is-active" id="panel-5">5
					</div>

					<div class="mdl-tabs__panel is-active" id="panel-6">6
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="successModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<i class="fa fa-check"></i>
				<div class="message"></div>
				<button class="btn btn-link" data-dismiss="modal">ปิด</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>


<div id="announcementModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">

				<div class="modal-control">
					<div class="btn-group" role="group">
						<button class="btn btn-default close-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
					</div>
				</div>

				<h3 class="title">ประกาศ</h3>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapseAddAnnounce" aria-expanded="false" aria-controls="collapseAddAnnounce">
					<i class="fa fa-bullhorn"></i>
					สร้างประกาศใหม่
				</button>
				<div class="collapse" id="collapseAddAnnounce">
					<div class="well">
						<form id="announceForm">

							<div class="form-group">
								<input type="text" class="form-control" name="topic" id="inputTitleAnnounce" placeholder="หัวข้อ" autocomplete="off">
							</div>

							<div class="form-group">
								<textarea class="form-control" name="detail" id="textareaAnnounceMessage" placeholder="ข้อความ" rows="3"></textarea>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-default">ประกาศ</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="announcementEditModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="announceEditForm">
				<div class="modal-body">

					<div class="modal-control">
						<div class="btn-group" role="group">
							<button class="btn btn-default close-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
						</div>
					</div>

					<h3 class="title">แก้ไขประกาศ</h3>
					<input type="hidden" name="ann_id">

					<div class="form-group">
						<input type="text" class="form-control" name="topic" id="inputTitleAnnounce" placeholder="หัวข้อ" autocomplete="off">
					</div>

					<div class="form-group">
						<textarea class="form-control" name="detail" id="textareaAnnounceMessage" placeholder="ข้อความ" rows="3"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-default">บันทึก</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div id="messageBoxModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h3 class="title"></h3>
				<p class="message"></p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">ปิด</button>
			</div>
		</div>
	</div>
</div>


<div id="searchTaskWithResultListModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">ค้นหางาน</h4>
				<div class="modal-control">
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-default close-modal" data-dismiss="modal"><i class="material-icons">clear</i></button>
					</div>
				</div>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
						<form id="searchFinishedTaskForm" role="search" class="pull-left">
							<div class="input-group">
								<i class="material-icons">search</i>
								<input type="text" class="form-control" name="keyword" autocomplete="off">
								<span class="input-group-btn">
									<input class="btn btn-default" type="submit" value="ค้นหา" />
								</span>
							</div>
						</form>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<div class="daterange pull-right">
							<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
							<span></span> <b class="caret"></b>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<table id="searchTaskResultTable" class="display dataTable table-inline-editable" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>#</th>
									<th>เบอร์โทร</th>
									<th>จุดรับ</th>
									<th>จุดส่ง</th>
									<th>ทะเบียน</th>
									<th>หมายเหตุ</th>
									<th>สร้างโดย</th>
									<th>เลขเครื่องรับ</th>
									<th>เวลารับงาน</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<div id="driverListChatModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="material-icons">mic</i> LiveBeam</h4>
				<div class="modal-control">
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-default close-modal" data-dismiss="modal"><i class="material-icons">clear</i></button>
					</div>
				</div>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="list-group driver-list">
							<button type="button" class="list-group-item" onclick="Modal.liveChatModal.open();">Cras justo odio</button>
							<button type="button" class="list-group-item" onclick="Modal.liveChatModal.open();">Dapibus ac facilisis in</button>
							<button type="button" class="list-group-item" onclick="Modal.liveChatModal.open();">Morbi leo risus</button>
							<button type="button" class="list-group-item" onclick="Modal.liveChatModal.open();">Porta ac consectetur ac</button>
							<button type="button" class="list-group-item" onclick="Modal.liveChatModal.open();">Vestibulum at eros</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="liveChatModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-control">
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-default close-modal" data-dismiss="modal"><i class="material-icons">clear</i></button>
					</div>
				</div>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="driver-img-wrapper">
							<img class="img-circle" src="https://placeholdit.imgix.net/~text?txtsize=22&txt=150%C3%97150&w=150&h=150">
						</div>
						<div class="driver-detail">
							<h4 class="name"></h4>
							<p class="carplate"></p>
							<hr>
						</div>
						<div class="controller">
							<button class="record"><i class="material-icons">mic</i></button>
							<br>
							<button class="cancel btn btn-link">ยกเลิก</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Nifty Modal -->
<div class="md-overlay"></div>