<!DOCTYPE html>
<html>
<head>
	<title>รายงานรวม</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/plugins/preloader/preloader.css" />
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" />
	<link rel="stylesheet" type="text/css" href="/assets/plugins/switchery-master/dist/switchery.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css"></script>

	<link rel="stylesheet" type="text/css" href="/assets/plugins/datatables/1.10.11/media/css/jquery.dataTables.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/plugins/datatables/1.10.11/extensions/Buttons/css/buttons.dataTables.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/plugins/datatables/1.10.11/extensions/Buttons/css/buttons.bootstrap4.min.css" />


	<!-- Load c3.css -->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/jquery-ui-datepicker/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/callcenter.report.css" />

</head>
<body>

	<div class="container-fluid app">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

				<div class="pull-left hide" id="date-range-display-text">
					<h5>ข้อมูลของวันที่</h5>
					<h4></h4>
				</div>

				<div class="pull-right hide">
					<button type="button" id="submitFilter" class="btn-creative btn-2 btn-2c"><i class="material-icons">done</i> ยืนยัน</button>
				</div>

				<div class="daterange g-btn pull-right hide">
					<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
					<span></span> <b class="caret"></b>
				</div>

				<div class="pull-right">
					<select id="view-mode-list" style="display: none;"></select>
				</div>

				<div class="clearfix"></div>
				<hr>

				<!-- Nav tabs -->
				<ul id="reportTableControl" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#JoblistLogTab" aria-controls="JoblistLogTab" role="tab" data-toggle="tab">เรียกแท็กซี่ผ่าน app</a></li>
					<li role="presentation"><a href="#CallcenterLogTab" aria-controls="CallcenterLogTab" role="tab" data-toggle="tab">คอลเซ็นเตอร์</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">

					<div role="tabpanel" class="tab-pane active" id="JoblistLogTab">

						<div class="app-mobile summary-circle-group">

							<div class="summary circle wait">
								<div class="counter blue">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">แท็กซี่รับงาน</p>
							</div>

							<div class="summary circle accept">
								<div class="counter default">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">ผู้โดยสารตอบรับ</p>
							</div>

							<div class="summary circle pick">
								<div class="counter green">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">แท็กซี่รับผู้โดยสาร</p>
							</div>

							<div class="summary circle drop">
								<div class="counter gray">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">แท็กซี่ส่งผู้โดยสาร</p>
							</div>

							<div class="summary circle psgcancel">
								<div class="counter red">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">ผู้โดยสารยกเลิก</p>
							</div>

							<div class="summary circle drvcancel">
								<div class="counter green2">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">แท็กซี่ยกเลิก</p>
							</div>
						</div>

						<h3>ภาพรวมทั้งหมด</h3>
						<div id="container-report"></div>
						<div id="chart-summary"></div>
						
						<table id="TaxiUsageTable" class="display table-condensed"></table>
					</div>

					<div role="tabpanel" class="tab-pane" id="CallcenterLogTab">

						<!-- <button type="button" id="showHideGraph" class="btn-creative btn-2 btn-2c pull-left">ซ่อน/แสดงกราฟ</button> -->

						<h3>ภาพรวมทั้งหมด</h3>
						<div class="callcenter summary-circle-group">

							<div class="summary circle all">
								<div class="counter orange">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">จำนวนงานทั้งหมด</p>
							</div>

							<div class="summary circle unregister">
								<div class="counter green">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">จ่ายให้นอกระบบ</p>
							</div>

							<div class="summary circle registered">
								<div class="counter blue">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">จ่ายให้ในระบบ</p>
							</div>

							<div class="summary circle deleted">
								<div class="counter default">
									<h1 class="number">0</h1>
									<p class="unit">ครั้ง</p>
								</div>
								<p class="message">งานที่ยกเลิก(ลบทิ้ง)</p>
							</div>

							<div class="summary circle jobPerHour">
								<div class="counter gray">
									<h1 class="number">0</h1>
									<p class="unit">งาน/ชั่วโมง</p>
								</div>
								<p class="message">ค่าเฉลี่ยการรับงาน</p>
							</div>

							<div class="summary circle jobPerMinute">
								<div class="counter green">
									<h1 class="number">0</h1>
									<p class="unit">งาน/นาที</p>
								</div>
								<p class="message">ค่าเฉลี่ยการรับงาน</p>
							</div>
						</div>

						<h2>ตำแหน่ง & ชั่วโมงเรียกรถสูงสุด</h2>

						<div class="summary rectangle most-pick">
							<ul>
								<li class="icon"><span class="glyphicon glyphicon-flag"></span></li>
								<li>
									<p class="caption">ตำแหน่งไปรับมากสุด</p>
									<p class="title-badge">-</p>
									<p class="detail">
										<span class="counter">-</span>
										<span class="unit">ครั้ง</span>
									</p>
								</li>
							</ul>
						</div>

						<div class="summary rectangle most-destination">
							<ul>
								<li class="icon"><span class="glyphicon glyphicon-road"></span></li>
								<li>
									<p class="caption">ตำแหน่งไปส่งมากสุด</p>
									<p class="title-badge">-</p>
									<p class="detail">
										<span class="counter">-</span>
										<span class="unit">ครั้ง</span>
									</p>
								</li>
							</ul>
						</div>

						<div class="summary rectangle peak-hour">
							<ul>
								<li class="icon"><span class="glyphicon glyphicon-time"></span></li>
								<li>
									<p class="caption">ชั่วโมงเรียกรถสูงสุด</p>
									<p class="title-badge">-</p>
									<p class="detail">
										<span class="counter">-</span>
										<span class="unit">ครั้ง</span>
									</p>
								</li>
							</ul>
						</div>

						<div id="callcenter-summary"></div>

						<div id="highcharts-callcenter" style="position: relative; width: 100%; height: 400px;"></div>

						<hr>
						<table id="CallcenterUsageTable" class="display table-condensed"></table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Base Library -->
	<script src="/bower_components/material-design-lite/material.min.js"></script>
	<script src="/assets/plugins/jquery/jquery-1.12.0.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Common Script -->
	<script src="/bower_components/moment/moment.js"></script>
	<script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="/assets/plugins/gritter/js/jquery.gritter.min.js"></script>
	<script src="/assets/plugins/preloader/preloader.js"></script>
	<script src="/assets/plugins/switchery-master/dist/switchery.min.js"></script>
	<script src="/assets/plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>

	<!-- dataTables -->
	<script src="/assets/plugins/datatables/1.10.11/media/js/jquery.dataTables.js"></script>
	<script src="/assets/plugins/datatables/1.10.11/media/js/dataTables.bootstrap.min.js"></script>
	<script src="/assets/plugins/datatables/1.10.11/extensions/KeyTable/js/dataTables.keyTable.min.js"></script>
	<script src="/assets/plugins/datatables/1.10.11/extensions/Buttons/js/dataTables.buttons.min.js"></script>
	<!-- dataTables -->
	
	<!-- Load datepicker.js and highcharts.js -->
	<script src="/assets/plugins/jquery-ui-datepicker/jquery-ui.min.js"></script>
	<script src="/assets/plugins/highcharts/highstock.js"></script>
	<script src="/assets/plugins/highcharts/themes/sand-signika.js"></script>

	<script type="text/javascript">
		var CGroup = "{{= user.local.cgroup }}";
	</script>

	<script src="/javascripts/callcenter.report.js"></script>

</body>
</html>