<div class="col-md-12 col-lg-12">
	<ul id="leftTabList" class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#table-queue-tab" aria-controls="table-queue-tab" role="tab" data-toggle="tab">
				<h5 class="title"> ข้อมูลคนขับ <span class="indicator green"></span></h5>
			</a>
		</li>
		<li role="presentation">
			<a href="#table-advance-tab" aria-controls="table-advance-tab" role="tab" data-toggle="tab">
				<h5 class="title">รอการอนุมัติ</h5>
			</a>
		</li>		
	</ul>

	<div id="leftTabContent" class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="table-queue-tab">
			{{ include table-driverlist }}
		</div>
	</div>
	<!--div id="leftTabContent" class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="table-queue-tab">
			{{ include table-drvwaitapprove }}
		</div>
	</div-->	
</div>


