<div class="queues table-data">
  <div class="table-control header">
    <div class="pull-right">
      <input type="search" class="form-control input-sm" placeholder="ค้นหาคนขับ" id="searchQueueInput" />
    </div>
    <div class="pull-right paging-length">
    </div>
    <div class="pull-right">
      <button class="btn btn-success" onclick="Modal.createTaskModal.open(event)">
        <i class="fa fa-plus-square-o"></i> เพิ่มคนขับ
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="table-wrap">
    <table id="queueTaskTable" class="table display dataTable table-striped table-inline-editable" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Username</th>          
          <th>ชื่อ - สกุล</th>
          <th>โทรศัพท์</th>
          <th>ทะเบียน</th>
          <th>อู่</th>
          <th>วันที่สมัคร</th>
          <th>สถานะ</th>
          <th>แก้ไข</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>